{% extends 'base.html' %}

{% block title %}Message sent{% endblock %}

{% block bodyclasses %}problem-confirm{% endblock %}

{% block content %}
<div class="header">
    <h1>Message sent</h1>
</div>
<div class="hero">
    <div class="feature">
        <p>Thank you for reporting your problem. If you have chosen for your problem (and the response) to be made publicly available online this will be available (subject to NHS privacy and moderation conditions) within 24 hours.</p>
    </div>
</div>
{% endblock %}
