{% extends 'base.html' %}

{% block title %}Problem report{% endblock %}

{% block bodyclasses %}problem-public{% endblock %}

{% block content %}
<div class="header">
    <h1>Problem report</h1>
</div>

<div class="meta-data">

    <div class="feature">
        <p>Reference: {{ object.id }}</p>
    </div>

    <div class="feature">
        <p>Reported on: {{ object.created }}</p>
    </div>

</div>

<div class="meta-data">
    <div class="feature provider">
        <p>Provider:  {{ object.get_organisation_type_display }} #{{ object.choices_id }}</p>
    </div>

    <div class="feature service">
        <p>Service:  TODO</p>
    </div>
</div>


<div class="meta-data">
    <div class="feature category">
        <p>Category:  {{ object.get_category_display }}</p>
    </div>

    <div class="feature reporter">
        <p>Reported by:
        {% if object.public_reporter_name %}
            {{ object.reporter_name }}
        {% else %}
            Anonymous
        {% endif %}
    </div>
</div>

<div class="details">
    <div class="feature">
        <h3>Details</h3>
        <p>{{ object.description }}</p>
    </div>
</div>

<div class="response">
    <div class="feature">
        <h3>Response</h3>
        <p>TODO</p>
    </div>
</div>

<div class="status">

    <div class="feature provider-status">
        <p>Status: TODO</p>
    </div>

    <div class="feature user-status">
        <p>User satisfied: TODO</p>
    </div>

</div>
{% endblock %}
