/**
 * Colour Assignment
 */
$c-page-bg: $c-white;
$c-body-bg: $c-white;


/**
 * _forms.scss
 */
                     $c-text-input-color: $c-black;
                    $c-text-input-shadow: $c-darkgrey;
              $c-text-input-shadow-focus: $c-aquablue;
                    $c-placeholder-color: $c-darkgrey;
                   $c-big-radio-group-bg: $c-lightgrey;
             $c-big-radio-group-bg-hover: $c-grey;
               $c-big-radio-group-border: $c-white;
             $c-big-radio-group-radio-bg: $c-grey;
         $c-big-radio-group-radio-border: $c-white;
      $c-big-radio-group-active-radio-bg: $c-pink;
$c-big-radio-group-active-green-radio-bg: $c-nhs_green;
              $c-description-count-error: $c-nhs_red;
                 $c-description-count-ok: $c-nhs_lightgreen;
   $c-feedbackform-big-radio-group-radio-border: $c-grey-tint;
$c-feedbackform-big-radio-group-active-radio-bg: $c-grey-tint;

/**
 * _misc.scss
 */
$c-hr-border: $c-grey;


/**
 * _tables.scss
 */
                   $c-table-border: $c-grey;
       $c-table-heading-link-color: $c-black;
 $c-table-heading-link-hover-color: $c-aquablue;
$c-table-heading-link-active-color: $c-aquablue;
            $c-table-created-color: $c-darkgrey;
               $c-table-link-color: $c-aquablue;
         $c-table-link-hover-color: $c-aquablue-tint;
             $c-table-icon-x-color: $c-nhs_red;
     $c-table-icon-checkmark-color: $c-nhs_green;
        $c-table-icon-circle-color: $c-darkgrey;
       $c-table-icon-warning-color: $c-nhs_red;
        $c-table-icon-hidden-color: $c-white;
               $c-table-row-alt-bg: $c-lightgrey;
          $c-table-highlight-color: $c-white;
             $c-table-highlight-bg: $c-nhs_red;
         $c-table-highlight-border: $c-nhs_red;
             $c-table-row-hover-bg: $c-lightgrey;
   $c-table-row-hover-highlight-bg: $c-nhs_red;
       $c-summary-table-subhead-bg: $c-lightgrey-tint;
    $c-summary-table-subhead-color: $c-darkergrey;
      $c-problem-table-light-color: $c-darkergrey;
     $c-problem-table-danger-color: $c-nhs_red;
       $c-problem-table-flag-color: $c-white;
   $c-problem-table-flag-breach-bg: $c-orange;
$c-problem-table-flag-escalated-bg: $c-black;

/**
 * _typography.scss
 */
          $c-body-text-color: $c-black;
             $c-selection-bg: $c-nhs_lightblue;
          $c-selection-color: $c-black;
      $c-standout-link-color: $c-nhs_orange;
$c-standout-link-hover-color: $c-nhs_orange-tint;
              $c-title-color: $c-darkgrey;
          $c-introtext-color: $c-darkergrey;

/**
 * _island.scss
 */
                        $c-island-bg: $c-lightgrey;
               $c-island-aquablue-bg: $c-aquablue;
            $c-island-aquablue-color: $c-white;
                  $c-island-white-bg: $c-white;
        $c-island-white-border-color: $c-grey;
$c-island-half-bordered-border-color: $c-grey;


/**
 * _buttons.scss
 */
               $c-btn-border: $c-black;
                $c-btn-color: $c-white;
                   $c-btn-bg: $c-aquablue;
             $c-btn-hover-bg: $c-aquablue-tint;
           $c-back-btn-color: $c-darkgrey;
      $c-back-btn-span-color: $c-grey;
     $c-back-btn-hover-color: $c-darkgrey-tint;
$c-back-btn-span-hover-color: $c-grey-tint;
           $c-btn-red-border: $c-nhs_red-tint;
            $c-btn-red-color: $c-white;
               $c-btn-red-bg: $c-nhs_red;
         $c-btn-red-hover-bg: $c-nhs_red-tint;
          $c-btn-blue-border: $c-nhs_blue-tint;
           $c-btn-blue-color: $c-white;
              $c-btn-blue-bg: $c-nhs_blue;
        $c-btn-blue-hover-bg: $c-nhs_blue-tint;
    $c-btn-lightgreen-border: $c-nhs_lightgreen-tint;
     $c-btn-lightgreen-color: $c-white;
        $c-btn-lightgreen-bg: $c-nhs_lightgreen;
  $c-btn-lightgreen-hover-bg: $c-nhs_lightgreen-tint;
     $c-btn-darkgreen-border: $c-nhs_darkgreen-tint;
      $c-btn-darkgreen-color: $c-white;
         $c-btn-darkgreen-bg: $c-nhs_darkgreen;
   $c-btn-darkgreen-hover-bg: $c-nhs_darkgreen-tint;
        $c-btn-purple-border: $c-nhs_purple-tint;
         $c-btn-purple-color: $c-white;
            $c-btn-purple-bg: $c-nhs_purple;
      $c-btn-purple-hover-bg: $c-nhs_purple-tint;
      $c-btn-darkpink-border: $c-nhs_darkpink-tint;
       $c-btn-darkpink-color: $c-white;
          $c-btn-darkpink-bg: $c-nhs_darkpink;
    $c-btn-darkpink-hover-bg: $c-nhs_darkpink-tint;
      $c-btn-darkblue-border: $c-nhs_darkblue-tint;
       $c-btn-darkblue-color: $c-white;
          $c-btn-darkblue-bg: $c-nhs_darkblue;
    $c-btn-darkblue-hover-bg: $c-nhs_darkblue-tint;
       $c-btn-darkred-border: $c-nhs_darkred-tint;
        $c-btn-darkred-color: $c-white;
           $c-btn-darkred-bg: $c-nhs_darkred;
     $c-btn-darkred-hover-bg: $c-nhs_darkred-tint;
      $c-btn-disabled-border: $c-darkgrey-tint;
       $c-btn-disabled-color: $c-white;
          $c-btn-disabled-bg: $c-grey;
    $c-btn-disabled-hover-bg: $c-grey;
      $c-btn-darkgrey-border: $c-darkgrey-tint;
       $c-btn-darkgrey-color: $c-white;
          $c-btn-darkgrey-bg: $c-darkgrey;
    $c-btn-darkgrey-hover-bg: $c-darkgrey-tint;
        $c-btn-caption-color: $c-darkgrey;
    $c-btn-darkorange-border: $c-darkorange-tint;
     $c-btn-darkorange-color: $c-white;
        $c-btn-darkorange-bg: $c-darkorange;
  $c-btn-darkorange-hover-bg: $c-darkorange-tint;
         $c-btn-black-border: $c-darkgrey-tint;
          $c-btn-black-color: $c-white;
             $c-btn-black-bg: $c-black;
       $c-btn-black-hover-bg: $c-black / 1.1;

/**
 * _filters.scss
 */
$c-filter-border: $c-grey;


/**
 * _header.scss
 */
           $c-header-border: $c-grey;
$c-header-pre-heading-color: $c-darkgrey;


/**
 * _results-list.scss
 */
                $c-results-list-border: $c-grey;
      $c-results-list-title-link-color: $c-aquablue;
$c-results-list-title-link-hover-color: $c-aquablue-tint;
               $c-results-list-title-p: $c-darkgrey;
         $c-results-list-address-color: $c-darkgrey;
       $c-results-list-more-link-color: $c-grey;
 $c-results-list-more-link-hover-color: $c-darkgrey;


/**
 * _staging-header.scss
 */

   $c-staging-bg: $c-nhs_blue;
$c-staging-color: $c-white;


/**
 * _tabs.scss
 */
        $c-tab-nav-link-color: $c-black;
           $c-tab-nav-link-bg: $c-grey-tint;
     $c-tab-nav-link-hover-bg: $c-darkgrey;
  $c-tab-nav-link-hover-color: $c-white;
    $c-tab-nav-link-active-bg: $c-white;
$c-tab-nav-link-active-border: $c-grey;


/**
 * _pagination.scss
 */
        $c-pagination-link-color: $c-white;
           $c-pagination-link-bg: $c-grey;
     $c-pagination-link-hover-bg: $c-aquablue;
        $c-pagination-span-color: $c-grey;
   $c-pagination-current-span-bg: $c-darkgrey;
$c-pagination-current-span-color: $c-white;


/**
 * _message-list.scss
 */
  $c-message-list-error-color: $c-nhs_red;
$c-message-list-success-color: $c-nhs_lightgreen;
   $c-message-list-icon-color: $c-darkgrey;


/**
 * _meta-data.scss
 */
            $c-meta-data-border-color: $c-grey;
         $c-meta-data-sub-title-color: $c-darkgrey;
              $c-meta-data-foot-color: $c-darkgrey;
            $c-meta-data-icon-x-color: $c-nhs_red;
    $c-meta-data-icon-checkmark-color: $c-nhs_lightgreen;
             $c-meta-data-label-color: $c-darkgrey;
      $c-meta-data-label-border-color: $c-grey;
        $c-meta-data-sidebar-label-bg: $c-lightgrey-tint;
     $c-meta-data-sidebar-label-color: $c-darkgrey-tint;
      $c-meta-data-sidebar-icon-color: $c-darkgrey;
 $c-meta-data-sidebar-icon-pink-color: $c-pink;
$c-meta-data-sidebar-icon-green-color: $c-nhs_lightgreen;
  $c-meta-data-sidebar-icon-red-color: $c-nhs_red;



/**
 * _split-box.scss
 */
      $c-split-box-default-bg: $c-darkgrey;
   $c-split-box-default-color: $c-white;
  $c-split-box-default-border: $c-white;
$c-split-box-hover-default-bg: $c-darkgrey-tint;
      $c-split-box-excited-bg: $c-nhs_red;
$c-split-box-hover-excited-bg: $c-nhs_red-tint;


/**
 * _nav.scss
 */
          $c-nav-bg: $c-lightgrey;
       $c-nav-color: $c-darkergrey;
    $c-nav-hover-bg: $c-grey;
$c-nav-active-color: $c-white;
   $c-nav-active-bg: $c-nhs_lightgreen;

/**
 *  _alert.scss
 */
     $c-alert-color: $c-white;
        $c-alert-bg: $c-black;
 $c-alert-orange-bg: $c-orange;
    $c-alert-red-bg: $c-nhs_red;
   $c-alert-grey-bg: $c-lightgrey;
$c-alert-grey-color: $c-black;


/**
 * _site-nav.scss
 */
  $c-sitenav-border-color: $c-grey;
$c-sitenav-gradient-start: $c-lightgrey;
 $c-sitenav-gradient-stop: $c-white;
         $c-sitenav-color: $c-aquablue;
   $c-sitenav-color-hover: $c-aquablue-tint;
  $c-sitenav-color-active: $c-lightgrey;



/**
 * _bordered-box.scss
 */
          $c-bordered-box-bg: $c-white;
$c-bordered-box-border-color: $c-grey;


/**
 * _feed-list.scss
 */
      $c-feed-list__heading-color: $c-nhs_lightgreen;
 $c-feed-list__heading-box-shadow: $c-grey;
$c-feed-list__heading-small-color: $c-darkergrey;
        $c-feed-list-border-color: $c-grey;
        $c-feed-list__title-color: $c-darkergrey;
          $c-feed-list-link-color: $c-nhs_lightgreen;
    $c-feed-list-link-hover-color: $c-nhs_lightgreen-tint;
          $c-feed-list-time-color: $c-darkgrey;


/**
 * _text.scss
 */
                  $c-coloured-link-color: $c-aquablue;
            $c-coloured-link-hover-color: $c-aquablue-tint;
      $c-coloured-link-dark-orange-color: $c-darkorange;
$c-coloured-link-dark-orange-hover-color: $c-darkorange-tint;
      $c-coloured-link-light-green-color: $c-nhs_lightgreen;
$c-coloured-link-light-green-hover-color: $c-nhs_lightgreen-tint;
             $c-coloured-link-blue-color: $c-nhs_blue;
       $c-coloured-link-blue-hover-color: $c-nhs_blue-tint;


/**
 * _home-page.scss
 */
$c-homepage-map-box-bg: $c-white;
$c-homepage-problem-search-text-input-border: $c-white;
$c-homepage-map-box-text-input-border: $c-grey;
$c-homepage-map-box-text-input-shadow: $c-white;
$c-homepage-link-999-color: $c-darkergrey;
$c-homepage-link-999-color-hover: $c-black;

/**
 * _footer.scss
 */
      $c-footer-link-color: $c-darkergrey;
$c-footer-link-color-hover: $c-darkgrey-tint;
          $c-footer-border: $c-grey;


/**
 * _about.scss
 */
 $c-step-title-green: $c-nhs_lightgreen;
$c-step-title-orange: $c-nhs_orange;
