{% extends 'base.html' %}

{% block title %}Ask a question{% endblock %}

{% block bodyclasses %}ask-question{% endblock %}

{% block content %}
<div class="header">
    <h1>Ask a Question</h1>
</div>
<div class="hero">
    <div class="feature">
        <p><a href="{% url questions-pick-provider cobrand=cobrand.name %}">Click here to ask a question about any aspect of NHS services</a></p>
    </div>
</div>
<div class="frequently-asked-questions">
    <div class="feature">
        <p><a href="http://www.myhealth.london.nhs.uk/">I want to find out the address of my nearest GP</a></p>
    </div>
    <div class="feature">
        <p><a href="http://www.myhealth.london.nhs.uk/">I want to find out the address of my nearest NHS Dentist</a></p>
    </div>
    <div class="feature">
        <p><a href="http://www.myhealth.london.nhs.uk/">I want to find out the visiting hours of a hospital</a></p>
    </div>
    <div class="feature">
        <p><a href="http://www.myhealth.london.nhs.uk/">I would like to book a GP appointment</a></p>
    </div>
    <div class="feature">
        <p><a href="http://www.myhealth.london.nhs.uk/">I’ve got a dental emergency, who should I call?</a></p>
    </div>
    <div class="feature">
        <p><a href="http://www.myhealth.london.nhs.uk/">What are the symptoms of meningitis?</a></p>
    </div>
    <div class="feature">
        <p><a href="http://www.myhealth.london.nhs.uk/">I would like to find out the opening hours of my GP</a></p>
    </div>
    <div class="feature">
        <p><a href="http://www.myhealth.london.nhs.uk/">What’s the out of hours phone number for my GP?</a></p>
    </div>
    <div class="feature">
        <p><a href="http://www.myhealth.london.nhs.uk/">What are the facts about child immunisation?</a></p>
    </div>
</div>

{% endblock %}
