{% extends 'base.html' %}

{% block title %}Question{% endblock %}

{% block bodyclasses %}question-public{% endblock %}

{% block content %}
<div class="header">
    <h1>Question</h1>
</div>

<div class="meta-data">

    <div class="feature">
        <p>Reference 5344</p>
    </div>

    <div class="feature">
        <p>Asked on: Jan 21 2013</p>
    </div>

</div>

<div class="provider">
    <div class="feature">
        <p>Provider:  A Hospital</p>
    </div>
</div>

<div class="meta-data">
    <div class="feature category">
        <p>Category: Appointments</p>
    </div>

    <div class="feature reporter">
        <p>Asked by: Example User</p>
    </div>
</div>

<div class="details">
    <div class="feature">
        <p>Question: How do I make a foot appointment?</p>
    </div>
</div>

<div class="response">
    <div class="feature">
        <p>Answer</p>
    </div>
</div>

<div class="status">

    <div class="feature provider-status">
        <p>Status: Answered</p>
    </div>

    <div class="feature user-status">
        <p>User satisfied: Yes </p>
    </div>

</div>
{% endblock %}
