{% extends 'base.html' %}

{% block title %}Ask your question{% endblock %}

{% block bodyclasses %}question-form{% endblock %}

{% block content %}
<div class="header">
    <h1>Ask your question</h1>
</div>
<div class="hero">
    <p>Writing a message to <strong>{{ organisation.name }}</strong>
</div>
<div class="question-form">
    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-error alert-block">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {{ field.help_text }}
            </div>
        {% endfor %}
        <!--<div>
            <textarea class="message-input" type="text" name="message" placeholder="Please write your question in this box, including as much information as possible to help us to help you"></textarea>
        </div>
        <div>
            <input type="text" placeholder="Your Name (This is optional - you can ask questions anonymously)">
        </div>
        <div>
            <input type="text" placeholder="Your Contact Number (you must enter a contact number OR email address)">
        </div>
        <div>
            <input type="text" placeholder="Your Email Address (you must enter a contact number OR email address)">
        </div>
        <div>
            <input type="text" placeholder="Confirm Your Email Address (If you have included one)">
        </div>
        <div>
            <select>
                <option value="">Please select the category best describes your question from the drop-down list</option>
            </select>
        </div>
        <div>
            <label>Keep all details private <input type="radio"></label>
            <label>Publish question and response but not my name <input type="radio"></label>
            <label>Publish question and response with my name <input type="radio"></label>
        <div>-->
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
