{% extends 'base.html' %}

{% block title %}Message sent{% endblock %}

{% block bodyclasses %}question-confirm{% endblock %}

{% block content %}
<div class="header">
    <h1>Message sent</h1>
</div>
<div class="hero">
    <div class="feature">
        <p>Thank you for your question.
Your unique reference number is {{ object.reference_number }}.
{% if object.reporter_phone %}
    You entered your phone number as {{ object.reporter_phone }}.
{% endif %}
{% if object.reporter_email %}
    You entered your email address as {{ object.reporter_email }}.
{% endif %}
Someone will be in touch soon with an answer to your question. If you have chosen for your question (and answer) to be made publicly available online this will be available (subject to NHS privacy and moderation conditions) within 24 hours.</p>
    </div>
</div>
{% endblock %}
