/**
 * Markup specific to the about page
 */

.about-section {
  padding-top: 5px;
}

.step_title--green {
  color: $c-step-title-green;
}

.step_title--orange {
  color: $c-step-title-orange;
}

.step_title--blue {
  color: $c-step-title-blue;
}
