/**
 * General button style, can be used anywhere e.g. a, input, button etc
 */
.btn {
    @include inline-block;
    cursor: pointer;
    border: 1px solid $c-btn-border;
    margin: 0;
    line-height: 1;
    padding: 0.438em 1em; // 7px 16px
    text-decoration:none;
    text-align: center;
    color: $c-btn-color;
    background: $c-btn-bg;
    @include vendor(border-radius, ($grid-gutter / 10) + em);
    &:hover { background: $c-btn-hover-bg; }
}

    /**
     * A big version
     */
    .btn--big {
        width: 100%;
        font-size: (24px / $font-size-base) + em;
        font-weight: bold;
        padding: 2em 1em;
        @include vendor(border-radius, (6px / 24px) + em);
        @include media-query(portable){ font-size: (21px / $font-size-base) + em; }
    }


    /**
     * Same sizing as btn--big but with a chevron
     */
    .btn--big--fwd {
        width: 100%;
        font-size: (24px / $font-size-base) + em;
        line-height: 1.2;
        text-align: left;
        padding: 2em 1em 0.75em 1em;
        @include vendor(border-radius, 0);
        @media only screen and (max-width:830px){ padding: 1em 1em 0.5em 1em; }
        @include media-query(palm){ padding: 1em; }
        .icon-chevron-right {
            float: right;
            font-size: (72px / 24px) + em;
            margin-top: -(24px / 72px) + em;
            margin-left: (20px / 72px) + em;
            @media only screen and (max-width:830px){ margin-top: -(12px / 72px) + em; }
            @include media-query(palm){ margin-top: (14px / 72px) + em; }
        }
        .btn--big--fwd__text {
            display: block;
            width: 90%;
        }
    }


    /**
     * A medium version, basically like big but smaller...
     */
    .btn--med {
        width: 100%;
        font-size: (18px / $font-size-base) + em;
        line-height: 1.3;
        padding: 2.5em 1em;
        @include vendor(border-radius, (6px / 18px) + em);
        @include media-query(palm){
            font-size: $font-size-base;
            padding: 1em;
            text-align: left;
        }
    }

    .btn--med-normal-padding {
        padding: 0.438em 1em; // 7px 16px
        @include media-query(palm){
            padding: 1em;
        }
    }

    /**
     * Remove borders
     */
    .btn--no-border {
        border: none;
    }


    /**
     * If there are labels with other form elements that are inline
     * with this button, then use this class to pull the button down a bit
     */
    .btn--no-label {
        margin-top: 1.6em;
    }


    /**
     * Colour variants
     */
    .btn--red {
        border-color: $c-btn-red-border;
        color: $c-btn-red-color;
        background: $c-btn-red-bg;
        &:hover { background: $c-btn-red-hover-bg; }
    }
    .btn--blue {
        border-color: $c-btn-blue-border;
        color: $c-btn-blue-color;
        background: $c-btn-blue-bg;
        &:hover { background: $c-btn-blue-hover-bg; }
    }
    .btn--light-green {
        border-color: $c-btn-lightgreen-border;
        color: $c-btn-lightgreen-color;
        background: $c-btn-lightgreen-bg;
        &:hover { background: $c-btn-lightgreen-hover-bg; }
    }
    .btn--dark-green {
        border-color: $c-btn-darkgreen-border;
        color: $c-btn-darkgreen-color;
        background: $c-btn-darkgreen-bg;
        &:hover { background: $c-btn-darkgreen-hover-bg; }
    }
    .btn--purple {
        border-color: $c-btn-purple-border;
        color: $c-btn-purple-color;
        background: $c-btn-purple-bg;
        &:hover { background: $c-btn-purple-hover-bg; }
    }
    .btn--dark-pink {
        border-color: $c-btn-darkpink-border;
        color: $c-btn-darkpink-color;
        background: $c-btn-darkpink-bg;
        &:hover { background: $c-btn-darkpink-hover-bg; }
    }
    .btn--dark-blue {
        border-color: $c-btn-darkblue-border;
        color: $c-btn-darkblue-color;
        background: $c-btn-darkblue-bg;
        &:hover { background: $c-btn-darkblue-hover-bg; }
    }
    .btn--dark-red {
        border-color: $c-btn-darkred-border;
        color: $c-btn-darkred-color;
        background: $c-btn-darkred-bg;
        &:hover { background: $c-btn-darkred-hover-bg; }
    }
    .btn--darkgrey {
        border-color: $c-btn-darkgrey-border;
        color: $c-btn-darkgrey-color;
        background: $c-btn-darkgrey-bg;
        &:hover { background: $c-btn-darkgrey-hover-bg; }
    }
    .btn--black {
        border-color: $c-btn-black-border;
        color: $c-btn-black-color;
        background: $c-btn-black-bg;
        &:hover { background: $c-btn-black-hover-bg; }
    }
    .btn--orange {
        border-color: $c-btn-orange-border;
        color: $c-btn-orange-color;
        background: $c-btn-orange-bg;
        &:hover { background: $c-btn-orange-hover-bg; }
    }

    /**
     * Disabled button
     */
    .btn--disabled {
        border-color: $c-btn-disabled-border;
        color: $c-btn-disabled-color;
        background: $c-btn-disabled-bg;
        &:hover { background: $c-btn-disabled-hover-bg; }
    }


/**
 * Typically used within the .header div, markup something like this:
 *
<a href="/back/a/page/innit" class="back-btn  fr">
    <span class="icon-chevron-left" aria-hidden="true"></span>
    Back to search results
</a>
 *
 */
.back-btn {
    text-decoration: none;
    color: $c-back-btn-color;
    font-size: (14px / $font-size-base) + em;
    line-height: 1;
    margin-top: 1em;
    span {
        display: block;
        float: left;
        font-size: (24px / 14px) + em;
        margin-top: -(6px / 24px) + em;
        margin-right: (5px / 24px) + em;
        color: $c-back-btn-span-color;
    }
    &:hover {
        color: $c-back-btn-hover-color;
        span { color: $c-back-btn-span-hover-color;}
    }
}


/**
 * almost identical to the back button, just the other way around
 */
.forward-btn {
    @extend .back-btn;
    span {
        float: right;
        margin-left: (5px / 24px) + em;
        margin-right: 0;
        margin-top: -(19px / 24px) + em;
    }
}

.btn--publish {
  margin-left: 10px;
}

