.btn {
    cursor: pointer;
    border: 1px solid $c-black;
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding: 0.438em 1em; // 7px 16px
    text-decoration:none;
    text-align: center;
    color: $c-white;
    background: $c-aquablue;
    @include vendor(border-radius, ($grid-gutter / 10) + em);
    &:hover { background: $c-aquablue / 1.2; }
}