/**
 * A general error style used in a list
 */
.errorlist {
  list-style: none;
  padding: 0;
  li:before {
    @extend .i;
    margin-right: 0.5em;
    color: $c-errorlist-icon-color;
  }
  .errorlist__error {
    color: $c-errorlist-error-color;
    &:before { content: "\e006"; }
  }
  .errorlist__success {
    color: $c-errorlist-success-color;
    &:before { content: "\e003"; }
  }
}