/**
 * Big number with small text
 */
.feature {
  padding: 0 ($grid-gutter * 1.5) + em;
  font-weight: bold;
  .feature__num {
    display: block;
    float: left;
    text-align: right;
    font-size: (50px / $font-size-base) + em;
    margin-right: ($grid-gutter / 3.125) + em;
    @include media-query(portable){
      float: none;
      width: 100%;
      text-align: left;
    }
  }
  .feature__text {
    display: block;
    margin-top: ($grid-gutter / 1.5) + em;
  }
}