/**
 * A grey box with buttons inside
 */
.feedback-box {
  max-width: 720px;
  margin: ($grid-gutter * 3) + em auto 0 auto;
  background: $c-lightgrey;
  padding: $grid-gutter + em ($grid-gutter * 3) + em ;
  @include media-query(palm){  padding: $grid-gutter + em ($grid-gutter) + em ; }
  p, li {
    font-size: (18px / $font-size-base) + em;
    margin-top: 0;
  }
  li {
    margin-bottom: ($grid-gutter / 2)+ em;
  }
}
