/**
 * Filter bar with styled select elements
 */
.filters {
  padding-top: 1em;
  border-top: 0.25em solid $c-hr-border;
  margin-top: ($grid-gutter * 2) + em;
  margin-bottom: ($grid-gutter * 2) + em;
  p {
    margin: 0;
    font-size: (20px / $font-size-base) + em;
  }
}

  th .filters__dropdown .customSelect,
  th .filters__dropdown select {
     font-size: 1em;
    }

  .filters__dropdown-wrap {
    label {
      font-weight: normal;
      font-size: (12px / $font-size-base) + em;
      color: #666;
      margin-bottom: 0;
    }

    .filters__dropdown {
      position: relative;
      border-right: 2px solid #fff;
      background-color: $c-aquablue;
      background-image: url(../img/select_arrow.png);
      background-repeat: no-repeat;
      background-position: 95% center;
      font-weight: bold;
      @include vendor(text-overflow, ellipsis);
    }
    .filters__dropdown--last { border-right: 0; }
    .filters__dropdown--default {
      background-color: #e6e6e6;
      background-image: url(../img/select_arrow-default.png);
      font-weight: normal;
      select, .customSelect {
        color: #333;
        &:focus { color: #333; }
      }
      .customSelectDisabled {
        // Styling for custom select boxes when they're disabled
        background-color:$c-lightgrey;
        color:$c-lightgrey-tint;
      }
    }
    select, .customSelect {
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: window;
      appearance: none;
      border: none;

      width: 100%;
      padding: 1em 2.5em 1em 0.5em;
      margin: 0;
      font-size: (13px / $font-size-base) + em;
      font-weight: normal;
      text-align: left;
      @include vendor(border-radius, 0);

      // IE8/9 have a bug with padding on select elements - http://www.sitepoint.com/forums/showthread.php?593031-Padding-on-select-element
      // This fix works around that by removing the padding and making the
      // whole <select> taller, then adjusts the line-height to
      // centrally align the text.
      .ie8 &, .ie9 & {
        padding: 0;
        height: 4em;
        .customSelectInner {
          line-height: 4em;
          height: 100%;
        }
      }
    }
  }

  .ie7 .filters__dropdown-wrap .filters__dropdown,
  .ie7 .filters__dropdown-wrap .filters__dropdown--default {
    background: none;
    select {
      color: inherit;
    }
  }

  .filters__button {
    padding: 0.7em 0.8em;
    margin: 1.1em 0 0.5em 1em;
    // Remove the left margin when displayed in a grid with filter elements
    @include media-query(palm){ margin-left: 0; }
  }

.ie8 .filters select:focus,
.ie7 .filters select:focus {
  // IE7 and IE8 have issues with fixed width select elements
  // that contain really big options
  width:auto;
}
