/**
 * Filter bar with styled select elements
 */
.filters {
  padding-top: 1em;
  border-top: 0.25em solid $c-hr-border;
  margin-top: ($grid-gutter * 2) + em;
  margin-bottom: ($grid-gutter * 2) + em;
  p {
    margin: 0;
    font-size: (20px / $font-size-base) + em;
  }
}

  .filters__dropdown-wrap {
    label {
      font-weight: normal;
      font-size: (12px / $font-size-base) + em;
      color: #666;
      margin-bottom: 0;
    }
    .filters__dropdown {
      position: relative;
      border-right: 2px solid #fff;
      background-color: $c-aquablue;
      background-image: url(../img/select_arrow.png);
      background-repeat: no-repeat;
      background-position: 95% center;
      font-weight: bold;
      @include vendor(text-overflow, ellipsis);
      select {
        color: #fff;
        &:focus { color: #fff; }
      }
    }
    .filters__dropdown--last { border-right: 0; }
    .filters__dropdown--default {
      background-color: #e6e6e6;
      background-image: url(../img/select_arrow-default.png);
      font-weight: normal;
      select {
        color: #333;
        &:focus { color: #333; }
      }
    }
      select {
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: window;
        appearance: none;
        border: none;

        width: 100%;
        padding: 1em 2.5em 1em 0.5em;
        margin: 0;
        font-size: (13px / $font-size-base) + em;
        @include vendor(border-radius, 0);
      }
  }

  .filters__button {
    padding: 0.7em 1.5em;
    margin: 0em 0 0.5em $grid-gutter-pixel;
  }