/**
 * Mainly used on summary pages, this is just some
 * borders and margin/padding tweaks for a horizontal
 * filter form made using the grid.
 */
.filters {
  border-top: $c-filter-border solid ($grid-gutter / 5) + em;
  border-bottom: $c-filter-border solid ($grid-gutter / 5) + em;
  padding: ($grid-gutter / 2) + em 0;
  margin: ($grid-gutter * 2) + em 0;
  p {
    margin: 0;
    font-size: (20px / $font-size-base) + em;
  }
}

.current-filter {
    display: inline-block;
    @include vendor(border-radius, ($grid-gutter / 3) + em);
    background-color: $c-aquablue;
    color: $c-white;
    padding: ($grid-gutter / 5) + em ($grid-gutter / 3) + em ($grid-gutter / 5) + em ($grid-gutter / 2) + em ;
    font-size: (14px / $font-size-base) + em;
    a {
        text-decoration: none;
        color: $c-white;
    }
}
