/**
 * Markup specific to the homepage
 */

.homepage .main-options .btn {
    text-transform: uppercase;
}
.homepage-problem-search {
    label {
        color: $c-introtext-color;
        margin: 0.5em 0 1em 0;
        font-weight: normal;
}
    .text-input {
    border: 1px solid $c-homepage-problem-search-text-input-border;
      width: 85%;
      float: left;
      margin-bottom: 0;
      @include vendor(border-radius, 0);
      @include vendor(box-shadow, 0px 0px 0px 0px $c-homepage-map-box-text-input-shadow);
      @include media-query(lap){ width: 70%; }
    }
    button {
      @include vendor(border-radius, ($grid-gutter/4) + em);
      padding: ($grid-gutter / 2.5) + em;
    }

}
.homepage-map-box {
  position: relative;
  .map-links {
    position: absolute;
    top: 20%;
    left: ($grid-gutter / 2) + em;
    right: ($grid-gutter / 2) + em;
    background: $c-homepage-map-box-bg;
    padding: ($grid-gutter / 2) + em;
    @include vendor(border-radius, ($grid-gutter/4) + em);
    .map-text {
      display: block;
      font-size: (12px / $font-size-base) + em;
      font-weight: bold;
    }
  }
}




/**
 * 999/111 links at bottom of page
 */
.link-999 {
  color: $c-homepage-link-999-color;
  font-size: (23px / $font-size-base) + em;
  font-weight: bold;
  text-decoration: none;
  padding-top: (15px /23px ) + em;
  &:hover { color: $c-homepage-link-999-color-hover; }
}
.link-111 {
  text-decoration: none;
  padding-left: 0;
  img {
    max-width: 100%;
    height: auto;
  }
}
