/**
 * Markup specific to the homepage
 */
.homepage-map-box {
  position: relative;
  form {
    position: absolute;
    top: 35%;
    left: ($grid-gutter / 2) + em;
    right: ($grid-gutter / 2) + em;
    background: $c-white;
    padding: ($grid-gutter / 2) + em;
    @include vendor(border-radius, ($grid-gutter/4) + em);
    label {
      @extend .cf;
      display: block;
      font-size: (12px / $font-size-base) + em;
      font-weight: bold;
    }
    .text-input {
      border: 1px solid #cccccc;
      width: 80%;
      float: left;
      margin-bottom: 0;
      @include vendor(border-radius, 0);
      @include vendor(box-shadow, 0px 0px 0px 0px $c-white);
      @include media-query(lap){ width: 70%; }
    }
    button {
      float: right;
      padding: ($grid-gutter / 2) + em;
      padding-bottom: ($grid-gutter / 2.5) + em;
      @include vendor(border-radius, 0);
    }
  }
}




/**
 * 999 link at bottom of page
 */
.link-999 {
  color: #777777;
  font-size: (23px / $font-size-base) + em;
  font-weight: bold;
  text-decoration: none;
  padding-top: (15px /23px ) + em;
  &:hover { color: #333; }
}