/**
 * Used on the homepage, a link containing an
 * image with an icon over the top:
 *
<a href="/choices/stats/summary" class="icon-overlay">
  <img src="/web/img/homepage-summary-table.png">
  <span class="icon-search" aria-hidden="true"></span>
</a>
 *
 */
.icon-overlay {
  position: relative;
  text-decoration: none;
  display: block;
  overflow: hidden;
  line-height: 1;
  img { width: 100%; }
  > span {
    font-size: (50px / $font-size-base) + em;
    position: absolute;
    top: 35%;
    left: 45%;
    color: $c-icon-overlay-icon-color;
    @media only screen and (min-width: 571px) and (max-width: 720px) {
      top: 30%;
      left: 40%;
    }
    @media only screen and (min-width: $lap-start) and (max-width: 570px) {
      top: 18%;
      left: 38%;
    }
    @include media-query(palm){
      top: 33%;
      left: 43%;
    }
  }
  &:hover {
    text-decoration: none;
    span {
      color: $c-icon-overlay-hover-icon-color;
    }
  }
}


/**
 * This switches the colours around for when
 * the image behind is lighter
 */
.icon-overlay--light-bg {
  span { color: $c-icon-overlay-light-icon-color; }
  &:hover span { color: $c-icon-overlay-light-hover-icon-color; }
}