/** Styling for the live feed page */
.live-feed-filters {

    margin-left:0;

    border-bottom:2px solid $c-lightgrey;

    .submit {
        margin-top:2em;
    }
}

.live-feed__item {
    border-bottom: 1px solid $c-lightgrey;
    list-style: none;
    margin-bottom: 1em;

    .live-feed__item__organisation {
        margin-right: 1em;
    }

    .live-feed-item__date {
        color:$c-darkgrey;
        margin-right: 1em;
    }

    h3 {
        margin-top:0.5em;
        margin-bottom:0.5em;
        .live-feed__item__type {
            color:$c-darkgrey;
        }
        a {
            color: $c-aquablue;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

    }
}
