// NHS Logo - taken from myhealthlondon.css
.nhs-logo {
  margin: 25px 0 37px 37px;
  background: url(../img/myhealthlondon/nhslogo.png) no-repeat top left;
  display: block;
  height: 35px;
  width: 88px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
