.map-container {
  @extend .cf;
  width: 100%;
  overflow: hidden;
  margin: 0 0 ($grid-gutter) + em;
  .map { width: 100%; }
}

.scale {
    margin: ($grid-gutter) + em 0;
    .scale-image {
        width: 100%;
    }
}

#map{
    height:500px;
}

.marker_m1,
.marker_m2,
.marker_m3,
.marker_m4
{
    display:block;
    width: 16px;
    height: 16px;
    border-radius:50%;
    border: 2px solid #fff;
    margin: 2em;
    margin-top: 6em;
    float:left;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 6px 0px #000;
            box-shadow: 0px 0px 6px 0px #000;

    border-color: rgba(0,0,0,0.8);
}
.marker_m1{ background-color: #1e91c9; }
.marker_m2{ background-color: #176d97; }
.marker_m3{ background-color: #176d97; }
.marker_m4{ background-color: #072432; }

.marker_m1:hover .popup,
.marker_m2:hover .popup,
.marker_m3:hover .popup,
.marker_m4:hover .popup
{
    display:block;
    top: -5.8em;
    opacity:1;
}
/* Popup Tweaks */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgba(255,255,255,1);
}
.leaflet-popup-content-wrapper{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    font-size: 16px;
}
.leaflet-popup-content{
    font-size: 14px;
    line-height: 1.4;

    .map-header {
        color: $c-aquablue;
        font-weight: bold;
    }

    .hover-bubble {
      ul {
        margin: 0;
        li {
            list-style: none;
          }
      }
    }

}

// Filters on the map page where they sit at the top under a heading
.outcomes-map {
    .filters {
        border-top:none;
        margin-top:0;
        margin-bottom:1em;
        padding-top:0;
    }
}
