/**
 * A collection of objects used on moderator pages
 */

/**
 * Grey box with an optional title space
 */
.moderator-box {
  @extend .islet;
  @extend .islet--grey;
  @extend .islet--squared;
  margin-bottom: $grid-gutter + em;
}

  .moderator-box__title {
    font-size: (17px / $font-size-base) + em;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
    background: $c-lightgrey;
    margin: -($grid-gutter / 2) + em;
    margin-bottom: ($grid-gutter / 2) + em;
    padding: ($grid-gutter / 2) + em;
  }


/**
 * A list that supports icons with colours
 */
.moderator-list {
  list-style: none;
  padding: 0;
  li {
    font-size: (14px / $font-size-base) + em;
    margin-bottom: ($grid-gutter / 2)+ em;
  }
  span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin-top: -5px;

    width: 20px; // matched with bordered-circle size

    font-size: (16px / 14px) + em;
    color: #ccc;
    margin-right: ($grid-gutter / 4)+ em;;
    &.moderator-list__icon-pink { color: $c-pink; }
    &.moderator-list__icon-green { color: $c-nhs_lightgreen; }
  }
}
.moderator-list--heavy {
  font-weight: bold;
  span {
    font-weight: normal;
  }
}