/**
 * Site nav - horizontal list
 */
.nav {
  @extend .cf;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: block;
    float: left;
    .info-tab {
        display: block;
        font-size: (14px / $font-size-base) + em;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 0.75em;
        line-height: 1;
    }
    a {
      display: block;
      font-size: (14px / $font-size-base) + em;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      background: $c-nav-bg;
      color: $c-nav-color;
      padding: 0.75em;
      line-height: 1;
      &:hover { background: $c-nav-hover-bg; }
      &.active {
        cursor: default;
        color: $c-nav-active-color;
        background: $c-nav-active-bg;
      }
      span {
        line-height: 1;
        font-size: (13px / 14px) + em;
      }
    }
    &:first-child a {
      @include vendor(border-top-left-radius, (5px / 14px) + em);
      @include vendor(border-bottom-left-radius, (5px / 14px) + em);
    }
    &:last-child a {
      @include vendor(border-top-right-radius, (5px / 14px) + em);
      @include vendor(border-bottom-right-radius, (5px / 14px) + em);
    }
  }
}
