.title--news {
    text-transform: uppercase;
}

.news-article__title {
    color: $c-article-title-colour;
    margin-bottom: 0;
}

.news-article__title a {
    @extend .news-article__title;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.news-article__author {
    font-size: (12px / $font-size-base) + em;
    border-bottom: 2px solid $c-article-author-border;
    padding-bottom: $grid-gutter + em;
    margin-top: 0;
}

.news-article__content {
    color: $c-article-color;
}

.news-article__sidebar__title {
    @extend .title;
    text-transform: uppercase;
}

// Custom news-article for the homepage feed.
.news-article--preview {
    .news-article__title {
        font-size: (18px / $font-size-base) + em;
    }

    .news-article__author {
        font-size: (14px / $font-size-base) + em;
        border-bottom: none;
        padding-bottom: inherit;
        margin: 0.6em 0;
    }

    .news-article__content {
        margin-bottom: 2em;
        font-size: (14px / $font-size-base) + em;
    }
}

.recent-articles__article-list {
    list-style: none;
    padding-left: 0;
}

.recent-articles__article-title {
    font-size: (18px / $font-size-base) + em;
    border-bottom: 2px solid $c-recent-article-title-border;
    a {
        color: $c-article-title-colour;
        text-decoration: none;
    }
}
