.pagination {
  @extend .cf;
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
  li {
    @include inline-block;
    margin: 0 0.125em;
    a, > span {
      font-size: (22px / $font-size-base) + em;
      display: block;
      padding: 0.125em 0.5em;
      color: $c-pagination-link-color;
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
      background: $c-pagination-link-bg;
      &:hover { background: $c-pagination-link-hover-bg; }
      > span {
        @include inline-block;
        line-height: 1;
        // a little hack to make the double chevron's
        // look like they are in a square box
        &.icon-double-chevron-left,
        &.icon-double-chevron-right { margin: 0 -0.2em; }
      }
    }
    &.pagination__spacer > span {
      color: $c-pagination-span-color;
    }
    &.pagination__current > span {
      background: $c-pagination-current-span-bg;
      color: $c-pagination-current-span-color;
    }
    @include media-query(palm){
      display: none;
      &.pagination__first,
      &.pagination__previous,
      &.pagination__current,
      &.pagination__next,
      &.pagination__last {
        @include inline-block;
      }
    }
  }
}

// fix the wigglyness in IE
.ie6, .ie7 {
  .pagination li a > span { zoom: normal; }
}