/**
 * A three star rating object that uses this markup:
 *
ß *
 */
.rating {
  span {
    color: $c-nhs_yellow;
    font-size: 18px; // using a pixel value as we don't know what it will inherit from its parent
    text-align: center;
    font-weight: normal;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 1px;
    &.rating__grey { color: $c-darkgrey; }
  }
}
