

div.review-form__rating-answer {

    div.rateit {
        margin: 1em 0;
        @extend .fr;
        // Hidden until the JS shows it
        display: none;
    }

    select {
        margin: 1em 0;
    }

    div.rateit-range
    {
        background: url('rateit/review-star-grey.png');
        height: 16px;
    }

    div.rateit-hover
    {
        background: url('rateit/review-star-gold.png');
    }

    div.rateit-selected
    {
        background: url('rateit/review-star-gold.png');
    }

}

.review-form__month_year_of_visit {
  select {
    width: auto;
  }

  label {
    display: inline;
  }
}

