/**
 * The site nav - a styled horizontal list
 */
.site-nav {
  @extend .cf;
  list-style: none;
  padding: 0;
  text-align: center;
  border-top: 1px solid $c-sitenav-border-color;
  border-bottom: 1px solid $c-sitenav-border-color;
  @include gradient($c-sitenav-gradient-start, $c-sitenav-gradient-stop);

  /**
   * A tiny reset to a horizontal list, we're using
   * inline and not floats so text-align: center works
   */
  > li {
    @include inline-block();
    @include media-query(palm) {
      display: block;
      width: 100%;
    }
  }

  a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding: ($grid-gutter / 1.5) + em $grid-gutter + em ($grid-gutter / 2) + em $grid-gutter + em;
    color: $c-sitenav-color;
    text-decoration: none;
    &:hover { color: $c-sitenav-color-hover; }
    &.active { background: $c-sitenav-color-active; }
    @include media-query(lap) {
      font-size: (13px / $font-size-base) + em;
      padding: ($grid-gutter / 2) + em;
      padding-top: ($grid-gutter / 1.6) + em;
    }
  }
}