/**
 * A simple split box that goes vertical on mobile
 *
<div class="split-box">
  <div class="split-box__inner">
    <span class="split-box__left  split-box--red  one-third  palm-one-whole">
      <h2 class="emergency">Emergency?<br><strong>DIAL 999</strong></h2>
    </span>
    <span class="split-box__right  two-thirds  palm-one-whole">
      <h2>Need urgent medical care but not life-threatening?<br><strong>DIAL 111</strong></h2>
    </span>
  </div>
</div>
 *
 */
.split-box {
  display: table;
  width: 100%;
  @include media-query(palm) { display: block; }
  .split-box__inner {
    display: table-row;
    @include media-query(palm) { display: block; }
  }
  .split-box__left,
  .split-box__right {
    display: table-cell;
    vertical-align: middle;
    background: $c-split-box-default-bg;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    color: $c-split-box-default-color;
    @include media-query(palm) { display: block; }
    h2 {
      font-weight: normal;
      line-height: 1.3;
    }
    &:hover { background: $c-split-box-hover-default-bg; }
  }
  .split-box__left {
    @include vendor(border-radius, ($grid-gutter/2) + em 0 0 ($grid-gutter/2) + em);
    @include media-query(palm) {
      @include vendor(border-radius, ($grid-gutter/2) + em ($grid-gutter/2) + em 0 0);
    }
  }
  .split-box__right {
    border-left: ($grid-gutter / 4) + em solid $c-split-box-default-border;
    @include vendor(border-radius, 0 ($grid-gutter/2) + em ($grid-gutter/2) + em 0);
    @include media-query(palm) {
      border-left: none;
      border-top: ($grid-gutter / 4) + em solid $c-split-box-default-border;
      @include vendor(border-radius, 0 0 ($grid-gutter/2) + em ($grid-gutter/2) + em);
    }
  }

  /**
   * Red colour variant
   */
  .split-box--red {
    background: $c-split-box-excited-bg;
    &:hover { background: $c-split-box-hover-excited-bg; }
  }
}

// IE non-css-table layout
.ie6, .ie7 {
  .split-box {
    display: block;
    .split-box__inner {
      display: block;
    }
    .split-box__left,
    .split-box__right {
      display: block;
      width: 50%;
      float: left;
    }
  }
}


/**
 * A version to align more with the alert styles for
 * when used with alerts such as on the moderation pages
 */
.split-box--alert {
  margin-bottom: $grid-gutter-pixel;
  .split-box__left,
  .split-box__right {
    &,&:hover {
      font-size: (14px / $font-size-base) + em;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      padding: 0.5em 0.75em;
      color: $c-black;
      background: $c-lightgrey;
    }
  }
  .split-box__left { @include vendor(border-radius, 5px 0 0 5px); }
  .split-box__right {
    border-left: 0;
    @include vendor(border-radius, 0 5px 5px 0);
  }

  // persist colour variants
  .split-box--red {
    &,&:hover {
      color: $c-white;
      background: $c-split-box-excited-bg;
    }
  }
}
// size variants
.split-box--alert--sml {
  .split-box__left,
  .split-box__right {
    &,&:hover { font-size: (11px / $font-size-base) + em; }
  }
}
.split-box--alert--lrg {
  .split-box__left,
  .split-box__right {
    &,&:hover { font-size: (22px / $font-size-base) + em; }
  }
}
