// Stats on the problem confirmation page.

.stats-box {
  color: $c-aquablue;
}

.stats-number {
  @extend .grid;
  @extend .three-eighths;
  text-align: right;
  font-size: 3em;
  font-weight: bold;
}

.stats-text {
  @extend .grid;
  @extend .five-eighths;
  font-size: 1.5em;
  vertical-align: center;
}
