// Survey data on organisation and organisation parent "Friends and Family" pages
.survey-header {
  border-bottom: solid $c-grey 2px;
  h2 {
    font-weight: bold;
  }
}
.survey {
  @include media-query(palm) {
    border-bottom: solid $c-grey 3px;
    margin-bottom:2em;
  }

  .survey__response {
    margin-bottom:0.5em;

    .survey__response__bar {
      position: relative;
      height: 1.5em;
      width: 100%;
      background-color: $c-lightgrey;
      .survey__response__bar__fill {
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: $c-darkorange;
        height: 1.5em;
        z-index: 0;
      }
      .survey__response__value {
        position: absolute;
        top: 0px;
        right: 0px;
        line-height: 1.5em;
        padding-right: 0.5em;
        z-index: 1;
      }
    }
  }

  .survey__summary {
    .survey__overall {
      text-align: center;
      span {
        margin-top:0.25em;
        display: block;
        font-size: 4em;
        font-weight: bold;
        color: $c-aquablue;
      }
    }
  }
}

.survey-filters {
  label {
    font-size:1em;
    font-weight:bold;
    color:$c-black;
  }

  .btn {
    margin-top: 1.5em;
    line-height: 1.75em;
  }
}
