{% extends 'base.html' %}
{% load url from future %}


{% block title %}Respond to a problem{% endblock %}

{% block bodyclasses %}response-form{% endblock %}

{% block content %}

<p><span class="icon-chevron-left" aria-hidden="true"></span> <a href="{% url 'org-dashboard' ods_code=issue.organisation.ods_code %}">Return to your dashboard</a></p>

{% include "issues/issue_header.html" with object=issue private=1 title="Respond to a problem" %}

<div class="gw">

    <div class="g  two-thirds  palm-one-whole">
        {% include "issues/issue_meta.html" with object=issue private=1 %}

        <div class="response-form">
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <fieldset class="island">
                        {% include "message_list.html" with messages=form.non_field_errors message_type='error' %}
                    </fieldset>
                {% endif %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <h3 class="meta-data-label">Add Response</h3>
                <fieldset class="island">
                    <ul class="gw">
                        <li class="g  one-whole">
                            <label class="hide-text" for="id_response">Add Response</label>
                            {{ form.response }}
                            {% include "message_list.html" with messages=form.response.errors message_type='error' %}
                        </li>
                    </ul>
                </fieldset>

                <h3 class="meta-data-label">Status</h3>
                <fieldset>
                    <ul class="gw">
                        <li class="g  one-whole">
                            <label class="hide-text" for="id_issue_status">Status</label>
                            {{ form.issue_status }}
                            {% include "message_list.html" with messages=form.issue_status.errors message_type='error' %}
                        </li>
                    </ul>
                </fieldset>

                <h3 class="meta-data-label">Formal Complaint</h3>
                <fieldset>
                    <label for="id_issue_formal_complaint">{{ form.issue_formal_complaint }} &nbsp;This problem has been raised as a formal complaint.</label>
                    {% include "message_list.html" with messages=form.issue_formal_complaint.errors message_type='error' %}
                </fieldset>

                <fieldset>
                    <button class="btn fr" type="submit">Update</button>
                </fieldset>
            </form>
        </div>

    </div>
    <div class="meta-data-sidebar  g  one-third  palm-one-whole">
        {% include "issues/issue_sidebar.html" with object=issue private=1 %}
    </div>
</div>
{% endblock %}
