{% extends 'base.html' %}
{% load url from future %}


{% block title %}Respond to a message{% endblock %}

{% block bodyclasses %}response-form{% endblock %}

{% block content %}
<div class="header">
    <h1>Respond to a message</h1>
</div>
<div class="hero">
    <div class="feature">
        <p>Responding to <strong>{{ message.issue_type.lower }}</strong><br/> Reference number: <strong>{{ message.reference_number }}</strong></br>
        Received: <strong>{{ message.created }}</strong></p>
    </div>
</div>
<div class="message-details">
    <div class="feature">
        {% if message.issue_type == "Problem" %}
            <p>Institution name: {{ message.organisation.name }}</p>
            {% if message.service %}
                <p>Department {{message.service.name }}</p>
            {% endif %}
        {% endif %}
        <p>Message category: {{ message.issue_type }}</p>
        <p>User Name: {{ message.reporter_name }} {% if message.private_reporter_name %}<em>Anonimity selected</em><{% endif %}</p>
        {% if message.reporter_phone %}
            <p>User phone: {{ message.reporter_phone }} {% if message.preferred_contact_method == 'phone' %}<em>Preferred contact method</em>{% endif %}</p>
        {% endif %}
        {% if message.reporter_email %}
            <p>User email: {{ message.reporter_email }} {% if message.preferred_contact_method == 'email' %}<em>Preferred contact method</em>{% endif %}</p>
        {% endif %}
        <p>{{ message.description }}</p>
        <p>Status: {{ message.get_status_display }}</p>
    </div>
</div>
<div class="responses">
    <div class="feature">
        <h3>Responses</h3>
        {% if message.responses.all|length > 0 %}
            {% for response in message.responses.all %}
                <p>{{ response.response }}</p>
            {% endfor %}
        {% else %}
            <p>No responses</p>
        {% endif %}
    </div>
</div>
<div class="form">
    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-error alert-block">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {{ field.help_text }}
            </div>
        {% endfor %}
        <button type="submit">Publish</button>
    </form>
</div>
{% endblock %}
