{% extends 'base.html' %}
{% load url from future %}

{% block title %}Response sent{% endblock %}

{% block bodyclasses %}response-confirm{% endblock %}

{% block content %}
<div class="header">
    <h1>Response sent</h1>
</div>

<div class="gw">
    <div class="g  one-whole">
      <ul class="message-list">
        {% if response %}
            <li class="message-list__success">Thank you, the response has been published online. {% if response.message.issue_type == "Problem" %}<a href="{% url 'org-dashboard' ods_code=response.message.organisation.ods_code %}">Return to your provider dashboard</a>{% endif %}</li>
        {% elif message %}
            <li class="message-list__success">Thank you, the {{ message.issue_type }} status has been updated. {% if message.issue_type == "Problem" %}<a href="{% url 'org-dashboard' ods_code=message.organisation.ods_code %}">Return to your provider dashboard</a>{% endif %}</li>
        {% endif %}
      </ul>
    </div>
</div>
{% endblock %}
