{% extends "citizenconnect/base.html" %}
{% load page_auth %}
{% load url from future %}

{% block title %}Response sent{% endblock %}

{% block bodyclasses %}response-confirm{% endblock %}

{% block content %}
<div class="header">
    <h1>Response sent</h1>
</div>

<div class="gw">
    <div class="g  one-whole">
      <ul class="message-list">
        {% if response %}
            <li class="message-list__success">Thank you, the response has been published online.</li>
        {% endif %}
        {% if issue %}
            <li class="message-list__success">Thank you, the problem status has been updated.</li>
        {% endif %}
      </ul>

      <p><a href="{% url 'private_home' %}">Go to your home page</a></p>


    </div>
</div>
{% endblock %}
