{% extends 'base.html' %}
{% load page_auth %}

{% block title %}Lookup issue{% endblock %}

{% block bodyclasses %}response-lookup{% endblock %}

{% block content %}
<h1>Lookup Issue</h1>

{% if show_escalation_tabs %}
    {% include "organisations/includes/escalation_tabs.html" with active_tab='lookup' %}
{% elif show_organisation_tabs %}
    {% include "organisations/includes/organisation_tabs.html" with active_tab='lookup' %}
{% endif %}


<p>To find a problem that requires a response, please input the reference number in the box below and hit submit.</p>


 <div class="island">

    {% if form.non_field_errors %}
        {% include "message_list.html" with messages=form.non_field_errors message_type='error' %}
    {% endif %}

    <form method="post" class="gw inline-form">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="g  four-fifths  palm-two-thirds">
            <label for="id_reference_number" class="g  one-whole">Reference Number</label>
            <input type="text" name="reference_number" id="id_reference_number"  class="text-input  one-whole" value="{{ reference_number }}" />
        </div>

        <div class="g  one-fifth  palm-one-third">
            <input type="submit" value="Find" class="btn btn--no-label" />
        </div>
    </form>
</div>
{% endblock %}
