{% extends 'base.html' %}
{% load url from future %}

{% block title %}Response sent{% endblock %}

{% block bodyclasses %}response-confirm{% endblock %}

{% block content %}
<div class="header">
    <h1>Response sent</h1>
</div>

<div class="gw">
    <div class="g  one-whole">
      <ul class="message-list">
        {% if response %}
            <li class="message-list__success">Thank you, the response has been published online.</li>
        {% endif %}
        {% if issue %}
            <li class="message-list__success">Thank you, the problem status has been updated.</li>
        {% endif %}
      </ul>
      {% if response %}
        <p><a href="{% url 'trust-dashboard' code=response.issue.organisation.parent.code %}">Return to your trust dashboard</a></p>
      {% elif issue %}
        <p><a href="{% url 'trust-dashboard' code=issue.organisation.parent.code %}">Return to your trust dashboard</a></p>
      {% endif %}
    </div>
</div>
{% endblock %}
