{% extends 'base.html' %}
{% load url from future %}
{% load static %}


{% block title %}Respond to a problem{% endblock %}

{% block bodyclasses %}response-form{% endblock %}

{% block content %}

<p><span class="icon-chevron-left" aria-hidden="true"></span> <a href="{% url 'org-parent-dashboard' code=issue.organisation.parent.code %}">Return to your dashboard</a></p>

{% include "issues/includes/issue_header.html" with object=issue title="Respond to a problem" %}

<div class="gw">

    <div class="g  two-thirds  palm-one-whole">
        {% include "issues/includes/issue_meta_private.html" with object=issue %}

        <div class="response-form">
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <fieldset class="island">
                        {% include "message_list.html" with messages=form.non_field_errors message_type='error' %}
                    </fieldset>
                {% endif %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <h3 class="meta-data-label">Add Response</h3>
                <fieldset class="island">
                    <ul class="gw">
                        <li class="g  one-whole">
                            <label class="hide-text" for="id_response">Add Response</label>
                            {{ form.response }}
                            {% include "message_list.html" with messages=form.response.errors message_type='error' %}
                        </li>
                    </ul>
                </fieldset>

                <h3 class="meta-data-label">Status</h3>
                <fieldset>
                    <ul class="gw">
                        <li class="g  one-whole">
                            <label class="hide-text" for="id_issue_status">Status</label>
                            {{ form.issue_status }}
                            {% include "message_list.html" with messages=form.issue_status.errors message_type='error' %}
                        </li>
                    </ul>
                </fieldset>

                <h3 class="meta-data-label">Formal Complaint</h3>
                <fieldset>
                    <label for="id_issue_formal_complaint">{{ form.issue_formal_complaint }} &nbsp;This problem has been raised as a formal complaint.</label>
                    {% include "message_list.html" with messages=form.issue_formal_complaint.errors message_type='error' %}
                </fieldset>

                <fieldset>
                    <button class="btn fr" type="submit">Update</button>
                </fieldset>
            </form>
        </div>

    </div>
    <div class="meta-data-sidebar  g  one-third  palm-one-whole">
        {% include "issues/includes/issue_sidebar_private.html" with object=issue %}
    </div>
</div>
{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/fancybox/jquery.fancybox-1.3.4.css' %}" />

<style>
/* Fancybox doesn't play nicely with `box-sizing: border-box;`. */
#fancybox-wrap, #fancybox-wrap * {
    box-sizing: initial;
}
#publish-confirm-modal {
    display: none;
}
</style>

{% endblock extra_css %}

{% block extra_js %}
<script src="{% static 'js/jquery.browser.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-1.3.4.js' %}"></script>
<script src="{% static 'js/fancybox-zoom.js' %}"></script>
{% endblock extra_js %}
