{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='organisations' %}">Organisations</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">Friends and family surveys</a>{% else %}Friends and family surveys{% endif %}
&rsaquo; Upload Survey CSV
</div>
{% endblock %}

{% block content %}

<div id="content-main">

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module aligned">
            {{ form.as_p }}
        </fieldset>
        <div class="submit-row">
            <input type="submit" class="default" value="Submit" />
        </div>
    </form>

</div>

{% endblock %}
