{% load url from future %}
{% load organisation_extras %}
<li>
    <h3 class="feed-list__title">Review</h3>
    <div class="feed-list__left">
        {% if score != None %}
        <p class="rating">
            <a href="{% url 'review-detail' pk=review.id ods_code=review.organisation.ods_code cobrand=cobrand.name %}">
                <span class="{{ score|star_class:1 }}" aria-hidden="true"></span>
                <span class="{{ score|star_class:2 }}" aria-hidden="true"></span>
                <span class="{{ score|star_class:3 }}" aria-hidden="true"></span>
                <span class="{{ score|star_class:4 }}" aria-hidden="true"></span>
                <span class="{{ score|star_class:5 }}" aria-hidden="true"></span>
            </a>
        </p>
        {% else %}
        <p class="rating--grey">
            <a href="{% url 'review-detail' pk=review.id ods_code=review.organisation.ods_code cobrand=cobrand.name %}">
                <span class="icon-circle" aria-hidden="true"></span>
                <span class="hide-text">—</span>
             </a>
        </p>
        {% endif %}

    </div>
    <div class="feed-list__right">
        <time>{{ review.api_published|timesince }} ago</time>
    </div>
</li>
