{% load staticfiles %}

<hr class="hr--big">
<div class="gw align-center link-other">
    <h3 class="align-center  mt--n  mb--s">Contact us</h3>
    <div class="g one-third palm-one-whole mb--n">
      <span style="white-space: nowrap">0800 151 0023</span>
      or
      <span style="white-space: nowrap">0300 200 0023</span>
    </div>
    <div class="g one-third palm-one-whole mb--n">
      SMS:
      61114
    </div>
    <div class="g one-third palm-one-whole mb--n">
      <a href="https://twitter.com/{{ settings.TWITTER_USERNAME }}">@{{ settings.TWITTER_USERNAME }}</a>
    </div>
</div>
