{% load staticfiles %}

<hr class="hr--big">
<h2 class="title--contact-details">Contact Care Connect</h2>
<div class="bordered-box  contact-details">
  <div class="gw">
    <div class="g  one-half  palm-one-whole  contact-method">
      <div class="contact-method__header">
        <img src="{% static 'img/landline.png' %}" />
        <h3 class="contact-method__title">
          <span class="small">From a</span><br/>
          Landline
        </h3>
      </div>
      <div class="contact-method__body">
        <p class="contact-method__text">0800 151 0023<sup>*</sup></p>
        <p class="contact-method__text--small"><sup>*</sup>Calls are free from UK landlines</p>
      </div>
    </div>
    <div class="g  one-half  palm-one-whole  contact-method">
      <div class="contact-method__header">
        <img src="{% static 'img/mobile.png' %}" />
        <h3 class="sub-title">
          <span class="small">From a</span><br/>
          Mobile
        </h3>
      </div>
      <div class="contact-method__body">
        <p><span class="contact-method__text--small">call</span> 0300 200 0023</p>
        <p><span class="contact-method__text--small">or text</span> 61114</p>
      </div>
    </div>
  </div>
</div>
