{% load url from future %}
{% load organisation_extras %}
<li class="live-feed__item">
    <span class="live-feed__item__organisation"><a href="{% url 'public-org-summary' ods_code=review.organisations.all.0.ods_code cobrand=cobrand.name %}">{{ review.organisations.all.0.name }}</a></span>
    <span class="live-feed-item__date">{{ review.api_published }}</span>
    {% if score != None %}
      <span class="live-feed-item__status">
        <span class="rating">
          <span class="{{ score|star_class:1 }}" aria-hidden="true"></span>
          <span class="{{ score|star_class:2 }}" aria-hidden="true"></span>
          <span class="{{ score|star_class:3 }}" aria-hidden="true"></span>
          <span class="{{ score|star_class:4 }}" aria-hidden="true"></span>
          <span class="{{ score|star_class:5 }}" aria-hidden="true"></span>
        </span>
      </span>
    {% endif %}

    <h3><span class="live-feed__item--review">Review: </span><a href="{% url 'review-detail' api_posting_id=review.api_posting_id ods_code=review.organisations.all.0.ods_code cobrand=cobrand.name %}"><span class="live-feed__item__category">{{ review.title|capfirst }}</span></a></h3>
</li>
