{% load url from future %}
{% load thumbnail %}

<li>
    <span class="feed-list__title">{{ problem.get_category_display }}:</span>

    {{ problem.created}} - {{ problem.organisation.name }} -

    <a {% if iframe %}target="_blank"{% endif %} href="{% url 'problem-view' pk=problem.id cobrand=cobrand.name %}">

      {% if problem.are_details_publicly_visible %}
        {% for image in problem.images.all %}
          {% thumbnail image.image "x32" as im %}
            <img src="{{ im.url }}" height="{{ im.height}}" width="{{im.width}}" />
          {% endthumbnail %}
        {% endfor %}
      {% endif %}

      {{ problem.summary|default:"More details" }}

    </a>
</li>
