<!-- Another hack to work under the NHS proxy. We need to specify an absolute path
to the boxsizing.htc behaviour file for it to work, so we need to inline the css
here to get that absolute url from Django -->
<!--[if lte IE 7]>
<style type="text/css">
    /** Note that we don't apply this to *, that causes IE7 to have a meltdown */
    .gw,
    .g,
    .container,
    input,
    .btn,
    .datepicker,
    .datepicker * {
        behavior: url({{ settings.STATIC_URL }}boxsizing.htc);
    }
</style>
<![endif]-->
