{% load url from future %}
{% load page_auth %}
{% if cobrand %}
    <ul class="site-nav">
        {% if cobrand.name == 'choices' %}
            {% url 'home' cobrand=cobrand.name as url %}
            <li><a {% if request.path == url %}class="active"{% endif %} href="{{ url }}">Home</a></li>
        {% else %}
            <li><a href="http://www.nhslondon.lampuat64-1.rroom.net/">Home</a></li>
        {% endif %}

        {% url 'about' cobrand=cobrand.name as url %}
        <li><a {% if request.path == url %}class="active"{% endif %} href="{{ url }}">About</a></li>

        {% url 'reviews-pick-provider' cobrand=cobrand.name as url %}
        <li><a {% if request.path == url %}class="active"{% endif %} href="{{ url }}">Experiences</a></li>

        {% if cobrand.name == 'choices' %}
            {% url 'common-questions' cobrand=cobrand.name as url %}
            <li><a {% if request.path == url %}class="active"{% endif %} href="{{ url }}">Questions</a></li>
        {% else %}
            <li><a href="http://www.nhslondon.lampuat64-1.rroom.net/">Questions</a></li>
        {% endif %}

        {% url 'problems-pick-provider' cobrand=cobrand.name as url %}
        <li><a {% if request.path == url %}class="active"{% endif %} href="{{ url }}">Problems</a></li>

        {% url 'org-all-summary' cobrand=cobrand.name as url %}
        <li><a {% if request.path == url %}class="active"{% endif %} href="{{ url }}">Provider summaries</a></li>

        {% url 'help-your-nhs' cobrand=cobrand.name as url %}
        <li><a {% if request.path == url %}class="active"{% endif %} href="{{ url }}">Help your NHS</a></li>

    </ul>
{% elif user.is_authenticated %}
    <div class="site-top-bar">
        <div class="site-top-bar__row">
            <div class="site-top-bar__cell  site-top-bar__cell--nav">
                <ul class="nav  fr">
                    <li><a href="{% url 'private_home' %}">Home</a></li>
                    {% url 'password_reset' as url %}
                        <li><a {% if request.path == url %}class="active"{% endif %} href="{{ url }}">Change password</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
                <ul class="nav  fr">
                    <li><span class="info-tab">Logged in as: {{ user.username }}</span></li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}
