{% extends "citizenconnect/base.html" %}
{% load url from future %}

{% block title %}Ask a question{% endblock %}

{% block bodyclasses %}ask-question{% endblock %}

{% block content %}

<div class="header">
    <h1>Common questions</h1>
</div>

<ul class="gw  gridded-list">
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/Service-Search/Hub/Hub" class="btn  btn--med  btn--no-border  btn--light-green">I need the contact details for my local GP</a>
  </li>
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/Service-Search/Hub/Hub" class="btn  btn--med  btn--no-border  btn--red">Where is my nearest hospital?</a>
  </li>
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/NHSdirect/pages/symptoms.aspx" class="btn  btn--med  btn--no-border  btn--purple">What could my symptoms be?</a>
  </li>
  <li class="g  one-third  palm-one-whole  cl">
    <a href="http://www.nhs.uk/nhsengland/Healthcareabroad/pages/Healthcareabroad.aspx" class="btn  btn--med  btn--no-border  btn--dark-pink">How do I get an EHIC health travel card?</a>
  </li>
  <li class="g  one-third  palm-one-whole ">
    <a href="http://www.nhs.uk/NHSEngland/AboutNHSservices/dentists/Pages/nhs-dental-charges.aspx" class="btn  btn--med  btn--no-border">Why do dentists charge for NHS services?</a>
  </li>
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/tools/pages/healthyweightcalculator.aspx" class="btn  btn--med  btn--no-border  btn--dark-green">Am I a healthy weight? Calculate my BMI</a>
  </li>
  <li class="g  one-third  palm-one-whole  cl">
    <a href="http://www.nhs.uk/conditions/pregnancy-and-baby/pages/pregnancy-and-baby-care.aspx" class="btn  btn--med  btn--no-border  btn--blue">I want advice on pregnancy and/or caring for my baby</a>
  </li>
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/NHSEngland/Healthcosts/Pages/Prescriptioncosts.aspx" class="btn  btn--med  btn--no-border  btn--dark-blue">What are the current prescription charges?</a>
  </li>
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/livewell/healthy-eating/Pages/Healthyeating.aspx" class="btn  btn--med  btn--no-border  btn--dark-red">I want advice on eating healthily</a>
  </li>
</ul>

<p>A <a href="http://www.nhs.uk/NHSdirect/pages/symptoms.aspx">Symptom Checker</a> is also available at the NHS Choices Website.</p>

<h2>Not answered your question?</h2>

<p>Click on the button below to go to the NHS Direct Online enquiry service.

<p><a class="btn btn--no-border  btn--dark-orange" href="https://www.nhsdirect.nhs.uk/CheckSymptoms/HealthEnquiry.aspx">NHS Direct Online enquiry service <span class="icon-chevron-right" aria-hidden="true"></span></a></p>

<p>Alternatively you may like to contact our case handlers, who are available 24/7, through the channels below.</p>

{% include 'citizenconnect/includes/contact_numbers.html' %}

{% endblock %}
