{% extends "citizenconnect/base.html" %}
{% load url from future %}

{% block title %}Ask a question{% endblock %}

{% block bodyclasses %}ask-question{% endblock %}

{% block content %}

<div class="header">
    <h1>Common questions</h1>
</div>

<ul class="gw  gridded-list">
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/Service-Search/Hub/Hub" class="btn  btn--med  btn--no-border  btn--light-green">I need the contact details for my local GP</a>
  </li>
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/Service-Search/Hub/Hub" class="btn  btn--med  btn--no-border  btn--red">Where is my nearest hospital?</a>
  </li>
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/NHSdirect/pages/symptoms.aspx" class="btn  btn--med  btn--no-border  btn--purple">What could my symptoms be?</a>
  </li>
  <li class="g  one-third  palm-one-whole  cl">
    <a href="http://www.nhs.uk/nhsengland/Healthcareabroad/pages/Healthcareabroad.aspx" class="btn  btn--med  btn--no-border  btn--dark-pink">How do I get an EHIC health travel card?</a>
  </li>
  <li class="g  one-third  palm-one-whole ">
    <a href="http://www.nhs.uk/NHSEngland/AboutNHSservices/dentists/Pages/nhs-dental-charges.aspx" class="btn  btn--med  btn--no-border">Why do dentists charge for NHS services?</a>
  </li>
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/tools/pages/healthyweightcalculator.aspx" class="btn  btn--med  btn--no-border  btn--dark-green">Am I a healthy weight? Calculate my BMI</a>
  </li>
  <li class="g  one-third  palm-one-whole  cl">
    <a href="http://www.nhs.uk/conditions/pregnancy-and-baby/pages/pregnancy-and-baby-care.aspx" class="btn  btn--med  btn--no-border  btn--blue">I want advice on pregnancy and/or caring for my baby</a>
  </li>
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/NHSEngland/Healthcosts/Pages/Prescriptioncosts.aspx" class="btn  btn--med  btn--no-border  btn--dark-blue">What are the current prescription charges?</a>
  </li>
  <li class="g  one-third  palm-one-whole">
    <a href="http://www.nhs.uk/livewell/healthy-eating/Pages/Healthyeating.aspx" class="btn  btn--med  btn--no-border  btn--dark-red">I want advice on eating healthily</a>
  </li>
</ul>

<p>If your question hasn't been answered there are a range of <a href="http://www.nhs.uk/NHSdirect/pages/symptoms.aspx">symptom checkers</a> available on the <a href="http://www.nhs.uk/NHSdirect/pages/symptoms.aspx">NHS Choices Website</a>, or feel free to contact us using the details below.</p>

{% include 'citizenconnect/includes/contact_numbers.html' %}

{% endblock %}
