<div class="header  gw  gw--no-gutters">
    <div class="g  two-thirds  lap-one-half  palm-one-whole">
        <h1>{{ title|default:"Problem" }}</h1>
    </div>
    <div class="g  one-third  lap-one-half  palm-one-whole">
        <p class="alert  align-right--not-palm"><span class="icon-arrow-up-right" aria-hidden="true"></span> This problem has been escalated</p>
        {% if object.status in object.ESCALATION_STATUSES %}
            <p class="escalation"><span class="icon-arrow-up-right" aria-hidden="true"></span> This problem has been escalated</p>
        {% endif %}
    </div>
</div>

<div class="gw">

    <div class="g  two-thirds  palm-one-whole">

        <div class="meta-data-wrap">
            <div class="meta-data">
                <p class="meta-data__title">{{ object.organisation }}</p>
                <p class="meta-data__sub-title">{{ object.service|default_if_none:"General problem" }}</p>
            </div>
        </div>

        <div class="meta-data-wrap">
            <h3 class="meta-data-label">Details</h3>
            <div class="meta-data">
                {% if private %}
                    <p>{{ object.description }}</p>
                {% else %}
                    <p>{{ object.moderated_description }}</p>
                {% endif %}
            </div>
        </div>

        {% if private and object.moderated_description %}
            <div class="meta-data-wrap">
                <h3 class="meta-data-label">Moderated Details</h3>
                <div class="meta-data">
                    <p>{{ object.moderated_description }}</p>
                </div>
            </div>
        {% endif %}

        <div class="meta-data-wrap">
            <h3 class="meta-data-label">Responses</h3>
            {% for response in object.responses.all %}
                <div class="meta-data  meta-data--response">
                    <p>{{ response.response }}</p>
                    <p class="meta-data__foot">
                        {{ object.organisation.name }}<span class="meta-data-spacer"> </span>
                        {{ response.created|date:"d.m.Y" }}<span class="meta-data-spacer"> </span>
                        {{ response.created|date:"h:i a" }}
                    </p>
                </div>
            {% empty %}
                <div class="meta-data  meta-data--response">
                    <p>No responses.</p>
                </div>
            {% endfor %}
        </div>

        {% if history and private %}
            <div class="meta-data-wrap">
                <h3 class="meta-data-label">History</h3>
                {% for change in history reversed %}
                    <div class="meta-data  meta-data--response">
                        <p>{{ change.description }}{% if change.user %} by {{ change.user.username }}{% endif %}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="meta-data-sidebar  g  one-third  palm-one-whole">

        <p class="alert  alert--lrg  alert--grey  align-right--not-palm">
            {% if private and object.priority == object.PRIORITY_HIGH %}
                <span class="alert--red">Priority</span>&nbsp;
            {% endif %}
            {{ object.reference_number }}
        </p>

        {% if private and object.breach %}
            <p class="alert  alert--sml  alert--orange">Breach</p>
        {% endif %}

        <div class="meta-data-wrap">
            <h3 class="meta-data-label">Status</h3>
            <div class="meta-data">
                <p class="status">
                    {% if object.status in object.OPEN_STATUSES %}
                        <span class="icon-circle open" aria-hidden="true"></span> Open
                    {% else %}
                        <span class="icon-circle closed" aria-hidden="true"></span> Closed
                    {% endif %}
                    <br />
                    <span class="status">{{ object.get_status_display }}</span>
                </p>
                {% if private %}
                    <p class="publication-status">{{ object.get_publication_status_display }}</p>
                {% endif %}
                {% if object.happy_service != None %}
                    <p>
                        {% if object.happy_service %}
                            <span class="icon-checkmark" aria-hidden="true"><span class="hide-text">yes</span></span>
                        {% else %}
                            <span class="icon-x" aria-hidden="true"><span class="hide-text">no</span></span>
                        {% endif %}
                        &nbsp;Happy with Service
                    </p>
                {% endif %}
                {% if object.happy_outcome != None %}
                    <p>
                        {% if object.happy_outcome %}
                            <span class="icon-checkmark" aria-hidden="true"><span class="hide-text">yes</span></span>
                        {% else %}
                            <span class="icon-x" aria-hidden="true"><span class="hide-text">no</span></span>
                        {% endif %}
                        &nbsp;Happy with Outcome
                    </p>
                {% endif %}
                {% if private and object.relates_to_previous_problem %}
                    <p class="relates-to-previous">
                        <span class="icon-stack" aria-hidden="true"> Relates to previous problem,&nbsp;
                    </p>
                {% endif %}
                {% if private and object.commissioned != None %}
                    <p class="commissioned">{{ object.get_commissioned_display }}</p>
                {% endif %}
            </div>
        </div>

        <div class="meta-data-wrap">
            <h3 class="meta-data-label">Privacy</h3>
            <div class="meta-data">
                <p class="public">
                    <span class="icon-circle" aria-hidden="true"></span>&nbsp;
                    {% if object.public %}
                        Public {% if not object.public_reporter_name %}with hidden name{% endif %}
                    {% else %}
                        Private
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="meta-data-wrap">
            <h3 class="meta-data-label">Details</h3>
            <div class="meta-data">
                <p><span class="icon-tag" aria-hidden="true"><span class="hide-text">Category</span></span> {{ object.get_category_display }}</p>
                <p><span class="icon-user" aria-hidden="true"><span class="hide-text">Reported by</span></span> {{ object.reporter_name_display }}</p>
                <p><span class="icon-calendar" aria-hidden="true"><span class="hide-text">Reported on</span></span> {{ object.created|date:"h:ia" }} {{ object.created|date:"d M Y" }}</p>
            </div>
        </div>
    </div>
</div>
