<div class="meta-data-wrap">
    <div class="meta-data">
        <p class="meta-data__title">{{ object.organisation }}</p>
        <p class="meta-data__sub-title">{{ object.service|default_if_none:"General problem" }}</p>
    </div>
</div>

{% if private or object.public %}
    {# People can only see details of public problems or in private contexts #}
    <div class="meta-data-wrap">
        <h3 class="meta-data-label">Details</h3>
        <div class="meta-data">
            {% if private %}
                {# Only people will full access to a problem will see it in a private context #}
                <p>{{ object.description }}</p>
            {% elif object.public %}
                {# People without full access to a problem might see it in a public context #}
                <p>{{ object.moderated_description }}</p>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if private %}
    <div class="meta-data-wrap">
        <h3 class="meta-data-label">Moderated Details</h3>
        <div class="meta-data">
            <p>{{ object.moderated_description|default:"No moderated details." }}</p>
        </div>
    </div>
{% endif %}

{% if private or object.public %}
    {# People can only see responses on public problems or in private contexts #}
    <div class="meta-data-wrap">
        <h3 class="meta-data-label">Responses</h3>
        {% for response in object.responses.all %}
            <div class="meta-data  meta-data--response">
                <p>{{ response.response }}</p>
                <p class="meta-data__foot">
                    {{ object.organisation.name }}<span class="meta-data-spacer"> </span>
                    {{ response.created|date:"d.m.Y" }}<span class="meta-data-spacer"> </span>
                    {{ response.created|date:"h:i a" }}
                </p>
            </div>
        {% empty %}
            <div class="meta-data  meta-data--response">
                <p>No responses.</p>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if history and private %}
    <div class="meta-data-wrap">
        <h3 class="meta-data-label">History</h3>
        {% for change in history reversed %}
            <div class="meta-data  meta-data--response">
                <p>{{ change.description }}{% if change.user %} by {{ change.user.username }}{% endif %}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}
