<div class="header">
    {% if object.status in object.ESCALATION_STATUSES %}
        <p class="alert  alert--sml  fr"><span class="icon-arrow-up-right" aria-hidden="true"></span> This problem has been escalated</p>
    {% endif %}
    <h1>{{ title|default:"Problem" }}</h1>
</div>

<div class="gw">


    {% include "issues/issue_meta.html" with object=issue private=1 title="Moderate problem" %}

    <div class="meta-data-sidebar  g  one-third  palm-one-whole">

        <div class="split-box  split-box--alert  split-box--alert--lrg">
            <div class="split-box__inner">
                {% if private and object.priority == object.PRIORITY_HIGH %}
                    <p class="split-box__left  split-box--red">Priority</p>
                {% endif %}
                <p class="split-box__right">{{ object.reference_number }}</p>
            </div>
        </div>

        {% if private and object.breach %}
            <h2 class="alert  alert--orange">Breach</h2>
        {% endif %}

        <div class="meta-data-wrap">
            <h3 class="meta-data-label">Status</h3>
            <div class="meta-data">
                <ul class="meta-data-list">
                    <li>
                        {% if object.status in object.OPEN_STATUSES %}
                            <span class="bordered-circle  bordered-circle--green" aria-hidden="true"></span> Open
                        {% else %}
                            <span class="bordered-circle  bordered-circle--red" aria-hidden="true"></span> Closed - {{ object.get_status_display }}
                        {% endif %}
                    </li>
                    {% if private %}
                        <li><span class="icon-eye" aria-hidden="true"></span> {{ object.get_publication_status_display }}</li>
                    {% endif %}
                    {% if object.happy_service != None %}
                        <li>
                            {% if object.happy_service %}
                                <span class="icon-checkmark  meta-data-list__icon-green" aria-hidden="true"></span>
                            {% else %}
                                <span class="icon-x  meta-data-list__icon-red" aria-hidden="true"></span>
                            {% endif %}
                            &nbsp;Happy with Service
                        </li>
                    {% endif %}
                    {% if object.happy_outcome != None %}
                        <li>
                            {% if object.happy_outcome %}
                                <span class="icon-checkmark  meta-data-list__icon-green" aria-hidden="true"></span>
                            {% else %}
                                <span class="icon-x  meta-data-list__icon-red" aria-hidden="true"></span>
                            {% endif %}
                            &nbsp;Happy with Outcome
                        </li>
                    {% endif %}
                    {% if private and object.relates_to_previous_problem %}
                        <li class="relates-to-previous">
                            <span class="icon-stack" aria-hidden="true"> Related to previous problem,&nbsp;
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="meta-data-wrap">
            <h3 class="meta-data-label">Privacy</h3>
            <div class="meta-data">
                <ul class="meta-data-list">
                    <li class="public">
                        <span class="bordered-circle  bordered-circle--pink" aria-hidden="true"></span>&nbsp;
                        {% if object.public %}
                            Public {% if not object.public_reporter_name %}with hidden name{% endif %}
                        {% else %}
                            Private
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>

        <div class="meta-data-wrap">
            <h3 class="meta-data-label">Details</h3>
            <div class="meta-data">
                <ul class="meta-data-list">
                    <li>
                        <span class="icon-tag" aria-hidden="true"></span> {{ object.get_category_display }}
                    </li>
                    <li>
                        <span class="icon-user" aria-hidden="true"></span> {{ object.reporter_name_display }}
                    </li>
                    <li>
                        <span class="icon-calendar" aria-hidden="true"></span> {{ object.created|date:"h:ia" }} {{ object.created|date:"d M Y" }}
                    </li>
                    {% if private and object.commissioned != None %}
                        <li class="commissioned">
                            <span class="icon-eye" aria-hidden="true"></span> {{ object.get_commissioned_display }}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
