<div class="meta-data-wrap">

    {% if object.issue_type == 'Problem' %}
        <div class="meta-data">
            <div class="gw">
                <p class="meta-data__title  g  one-whole">{{ object.organisation.name }}</p>
                <p class="meta-data__sub-title  g  one-half  palm-one-whole">{{ object.service|default_if_none:"No particular service" }}</p>
                <p class="g  one-half  palm-one-whole  align-right--not-palm"><span class="meta-data-label">Category</span> {{ object.get_category_display }}</p>
            </div>
        </div>
    {% endif %}

    <div class="meta-data">
        <div class="gw">
            <p class="g  one-half"><strong>{{ object.reference_number }}</strong></p>

            <p class="g  one-half  align-right--not-palm"><span class="meta-data-label">{% if object.issue_type == 'Problem' %}Reported{% else %}Asked{% endif %} on</span> {{ object.created|date:"d M Y" }}<br> {{ object.created|date:"h:i a" }}</p>

            {% if object.public_reporter_name %}
                <p class="meta-data__space-below  g  one-whole"><span class="meta-data-label">{% if object.issue_type == 'Problem' %}Reported{% else %}Asked{% endif %} by</span> {{ object.reporter_name }}</p>
            {% else %}
                <p class="meta-data__space-below  g  one-whole"><span class="meta-data-label">{% if object.issue_type == 'Problem' %}Reported{% else %}Asked{% endif %} by</span> Anonymous</p>
            {% endif %}

            <p class="g  one-third  palm-one-whole">{{ object.get_status_display }}</p>

            <p class="g  two-thirds  palm-one-whole  align-right--not-palm">
                {% if object.happy_service != None %}
                    <strong>Happy with Service</strong>&nbsp;
                    {% if object.happy_service %}
                        <span class="icon-checkmark" aria-hidden="true"><span class="hide-text">yes</span></span>
                    {% else %}
                        <span class="icon-x" aria-hidden="true"><span class="hide-text">no</span></span>
                    {% endif %}
                {% endif %}
                {% if object.happy_outcome != None %}
                    <span class="meta-data-spacer"> </span>
                    <strong>Happy with Outcome</strong>&nbsp;
                    {% if object.happy_outcome %}
                        <span class="icon-checkmark" aria-hidden="true"><span class="hide-text">yes</span></span>
                    {% else %}
                        <span class="icon-x" aria-hidden="true"><span class="hide-text">no</span></span>
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
</div>


<div class="meta-data-wrap">
    <h3 class="meta-data-label">Details</h3>
    <div class="islet  islet--squared">
        <p>{{ object.description }}</p>
    </div>
</div>

<div class="meta-data-wrap">
    <h3 class="meta-data-label  meta-data-label--bordered">Responses</h3>
    {% for response in object.responses.all %}
        <div class="meta-data  meta-data--response">
            <p>{{ response.response }}</p>
            <p class="meta-data__foot">
                {{ object.organisation.name }}<span class="meta-data-spacer"> </span>
                {{ response.created|date:"d.m.Y" }}<span class="meta-data-spacer"> </span>
                {{ response.created|date:"h:i a" }}
            </p>
        </div>
    {% empty %}
        <div class="meta-data  meta-data--response">
            <p>No responses.</p>
        </div>
    {% endfor %}
</div>