{% extends 'base.html' %}
{% load url from future %}

{% block title %}Thanks{% endblock %}

{% block bodyclasses %}problem-survey-confirm{% endblock %}

{% block content %}

<div class="header">
  <h1>Thanks</h1>
</div>

<div class="gw">
    <div class="g  one-whole">
        <ul class="message-list">
            <li class="message-list__success">Thanks for answering our questions.</a></li>
        </ul>
        {% if not object.happy_service %}
            <p>Would you like to <a href="{% url 'problem-form' cobrand=cobrand.name ods_code=object.organisation.ods_code %}">report this as another problem</a>?</p>
        {% else %}
            <p>Would you like to <a href="{% url 'review-form' cobrand=cobrand.name ods_code=object.organisation.ods_code %}">review and rate an NHS service</a>?</p>
        {% endif %}
    </div>
</div>

{% endblock %}



