{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Survey about your problem report{% endblock %}

{% block bodyclasses %}problem-survey-form{% endblock %}

{% block content %}
<div class="header">
    <h1>Thanks for your feedback</h1>
</div>


<form method="post" class="feedback-form">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <fieldset class="island">
            {% include "message_list.html" with messages=form.non_field_errors message_type='error' %}
        </fieldset>
    {% endif %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <p>Are you happy with the outcome of this problem?</p>
    <ul class="big-radio-group">
        <li class="big-radio-group__first  one-quarter">
            <div class="big-radio-group__table">
                <label for="id_happy_outcome_1" class="big-radio-group__row">
                    <input type="radio" id="id_happy_outcome_1" value="True" name="happy_outcome" />
                    <span class="big-radio-group__cell  big-radio-group__cell">Yes</span>
                </label>
            </div>
        </li>
        <li class="one-quarter">
            <div class="big-radio-group__table">
                <label for="id_happy_outcome_2" class="big-radio-group__row">
                    <input type="radio" id="id_happy_outcome_2" value="False" name="happy_outcome" />
                    <span class="big-radio-group__cell  big-radio-group__cell">No</span>
                </label>
            </div>
        </li>
        <li class="big-radio-group__last one-half">
            <div class="big-radio-group__table">
                <label for="id_happy_outcome_0" class="big-radio-group__row">
                    <input checked="checked" type="radio" id="id_happy_outcome_0" value="" name="happy_outcome" />
                    <span class="big-radio-group__cell  big-radio-group__cell--full">Prefer not to answer</span>
                </label>
            </div>
        </li>
    </ul>
    {% include "message_list.html" with messages=form.happy_outcome.errors message_type='error' %}

    <button class="btn  btn--black  fr" type="submit">Submit</button>
</form>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/survey_form.js' %}"></script>
{% endblock extra_js %}
