{% extends 'base.html' %}
{% load url from future %}

{% block title %}Message sent{% endblock %}

{% block bodyclasses %}message-page{% endblock %}

{% block content %}

<div class="header">
  <h1>Your message has been sent</h1>
</div>


<div class="gw">
    <div class="g  one-half  palm-one-whole">
      <ul class="message-list">
        <li class="message-list__success">Thank you for reporting your problem. </li>
      </ul>
      <p>If you have chosen for your problem (and the response) to be made publicly available online this will be available (subject to NHS privacy and moderation conditions) within 24 hours.</p>
    </div>
    <div class="g  one-half  palm-one-whole">
      <div class="islet  islet--squared  mt">
        <h3>Your unique reference number is  {{ object.reference_number }}</h3>
        <p>
          You entered the following details<br>
          {% if object.reporter_phone %}
          tel <strong>{{ object.reporter_phone }}</strong><br>
          {% endif %}
          {% if object.reporter_email %}
          email <strong>{{ object.reporter_email }}</strong>
          {% endif %}
        </p>
      </div>
    </div>

</div>

<div class="break-bar">
<p><a href="{% url 'public-org-summary' cobrand=cobrand.name ods_code=object.organisation.ods_code %}" class="standout-link">View more data</a> from {{ object.organisation.name }}</p>
</div>


{% endblock %}
