{% extends 'base.html' %}

{% block title %}Ask your question{% endblock %}

{% block bodyclasses %}question-form{% endblock %}

{% block content %}
<div class="header">
    <h1>Ask your question</h1>
</div>
<div class="question-form">
    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-error alert-block">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {{ field.help_text }}
            </div>
        {% endfor %}

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
