{% extends 'base.html' %}

{% block title %}Message sent{% endblock %}

{% block bodyclasses %}message-page{% endblock %}

{% block content %}

<div class="header">
  <h1>Your message has been sent</h1>
</div>

<div class="gw">
    <div class="g  one-half  palm-one-whole">
      <ul class="message-list">
        <li class="message-list__success">Thank you for your question. </li>
      </ul>
      <p>Someone will be in touch soon with an answer to your question.</p>
    </div>
    <div class="g  one-half  palm-one-whole">
      <div class="islet  islet--squared  mt">
        <h3>Your unique reference number is  {{ object.reference_number }}</h3>
        <p>
          You entered the following details<br>
          {% if object.reporter_phone %}
          tel <strong>{{ object.reporter_phone }}</strong><br>
          {% endif %}
          {% if object.reporter_email %}
          email <strong>{{ object.reporter_email }}</strong>
          {% endif %}
        </p>
      </div>
    </div>

</div>

{% endblock %}
