{% extends 'base.html' %}
{% load url from future %}

{% block title %}Ask your question{% endblock %}

{% block bodyclasses %}question-form{% endblock %}

{% block content %}
<div class="header">
    <h1>Ask your question</h1>
</div>
<div class="question-form">
    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <fieldset class="island">
                {% include "message_list.html" with messages=form.non_field_errors message_type='error' %}
            </fieldset>
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <fieldset class="island">
            <ul class="gw">
                <li class="g  three-quarters  lap-one-half  palm-one-whole">
                    {{ form.description }}
                    <p class="info">Including as much information as possible to help us to help you.</p>
                    {% include "message_list.html" with messages=form.description.errors message_type='error' %}
                </li>
                <li class="g  one-quarter  lap-one-half  palm-one-whole">
                    <label for="id_postcode">Post code</label>
                    {{ form.postcode }}
                    {% include "message_list.html" with messages=form.postcode.errors message_type='error' %}
                </li>
            </ul>
        </fieldset>

        {% if organisation %}
            <fieldset class="island">
                <label for="id_category">Organisation: </label>{{ organisation.name }}
            </fieldset>
        {% endif %}

        <fieldset class="island">
            <label for="id_category">Category</label>

            <p class="info">Please select the category that best describes your problem</p>

            <ul class="radio-list">
                {% for radio in form.category %}
                    <li>{{ radio }}</li>
                {% endfor %}
            </ul>

            {% include "message_list.html" with messages=form.category.errors message_type='error' %}
        </fieldset>

        <fieldset class="island">
            <ul class="gw">
                <li class="g  one-half  palm-one-whole">
                    <label for="id_reporter_name">Your Name <span class="info">You must enter your name</span></label>
                    {{ form.reporter_name }}
                    {% include "message_list.html" with messages=form.reporter_name.errors message_type='error' %}
                </li>
                <li class="g  one-half  palm-one-whole">
                    <label for="id_reporter_phone">Your Contact Number <span class="info">You must enter a contact number OR email address</span></label>
                    {{ form.reporter_phone }}
                    {% include "message_list.html" with messages=form.reporter_phone.errors message_type='error' %}
                </li>
                <li class="g  one-half  palm-one-whole">
                    <label for="id_reporter_email">Your Email Address <span class="info">You must enter a contact number OR email address</span></label>
                    {{ form.reporter_email }}
                    {% include "message_list.html" with messages=form.reporter_email.errors message_type='error' %}
                </li>
                <li class="g  one-half  pal-one-whole">
                    <label for="id_preferred_contact_method_0">Preferred contact method</label>
                    <ul class="radio-list">
                        {% for radio in form.preferred_contact_method %}
                            <li>{{ radio }}</li>
                        {% endfor %}
                    </ul>
                    {% include "message_list.html" with messages=form.preferred_contact_method.errors message_type='error' %}
                </li>
            </ul>
        </fieldset>

        <fieldset class="island">
            <p>Thank you for posting a question. This will be looked at by our case handling team who will send you response in x working days. In order to help other people who may have the same question, the answer will be added to our Frequently Asked Questions site.</p>

            <p>We are not currently making questions publicly visible, however we may wish to do so in the future in order to help other people who might have a similar question to yourself find an answer quickly and easily.</p>
        </fieldset>

        <fieldset class="island">
            <ul class="gw">
                <li class="g  one-whole">
                    <label for="id_agree_to_terms">{{ form.agree_to_terms }} I have read and agree to the <a href="{% url 'about' cobrand=cobrand.name %}">Terms and Conditions</a></label>
                    {% include "message_list.html" with messages=form.agree_to_terms.errors message_type='error' %}
                </li>
            </ul>
        </fieldset>

        <fieldset>
            <button class="btn  fr" type="submit">Submit</button>
        </fieldset>
    </form>
</div>
{% endblock content %}
