{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block title %}News :: {{ article.title }}{% endblock %}

{% block bodyclasses %}news-article{% endblock %}

{% block content %}

<div class="header">
  <h2 class="title  title--news  mb--s">Latest News</h2>
</div>

<div class="gw">

    <div class="g  two-thirds  palm-one-whole  news-article__main">
        <h1 class="news-article__title">{{ article.title }}</h1>
        <h3 class="news-article__author">{{ article.author }}</h3>
        <div class="news-article__content">
            {{ article.content|safe }}
        </div>
    </div>

    <div class="g  one-third  palm-one-whole  news-article__sidebar">
        {# TODO - article.image #}
        {% include 'news/includes/recent_articles_sidebar.html' with articles=recent_articles %}
        {# TODO - latest tweet - https://dev.twitter.com/docs/embedded-timelines #}
        {# include 'citizenconnect/includes/latest_tweet.html' #}
    </div>

</div>

{% endblock content %}