{% extends 'citizenconnect/base.html' %}
{% load url from future %}
{% load staticfiles %}
{% load pagination_tags %}

{% block title %}News{% endblock %}

{% block bodyclasses %}news-article-list{% endblock %}

{% block content %}

<div class="header">
  <h1>Latest News</h1>
</div>

<div class="gw">

    <div class="g  two-thirds  palm-one-whole">

      {% autopaginate object_list %}

      <ul>
        {% for article in object_list %}
        <li>
          <img src="http://lorempixel.com/150/150/abstract/?foo.jpg" />
          <h2><a href="{% url 'article-view' pk=article.id cobrand=cobrand.name %}">{{ article.title }}</a></h2>
          <h3 title="{{ article.published }}">{{ article.published|timesince }} ago</h3>
          <div class="article-description">
              {{ article.description|safe }}
          </div>
        </li>
        {% endfor %}
      </ul>

      {% paginate %}

    </div>

    <div class="g  one-third  palm-one-whole">
        {# TODO - article.image #}
        {% include 'news/includes/recent_articles_sidebar.html' with articles=recent_articles %}

        {# Tweets - activated by js in the extra_js block #}
        <a class="twitter-timeline"
          data-dnt="true"
          href="https://twitter.com/{{ settings.TWITTER_USERNAME }}"
          data-widget-id="{{ settings.TWITTER_WIDGET_ID }}"
        >Tweets by @{{ settings.TWITTER_USERNAME }}</a>

    </div>

</div>

{% endblock content %}


{% block extra_js %}
  {{ block.super }}
  {% include "includes/twitter-widget-script.html" %}
{% endblock extra_js %}
