@font-face {
  font-family: 'icons';
  src:url('../fonts/icons.eot');
  src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icons.ttf') format('truetype'),
      url('../fonts/icons.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.i, // we add this here so we can extend it if need be to add a icon with just css
.icon-search, .icon-x, .icon-checkmark, .icon-circle, .icon-caret-up, .icon-caret-down, .icon-caret-right, .icon-caret-left, .icon-chevron-right, .icon-double-chevron-right, .icon-chevron-left, .icon-double-chevron-left, .icon-warning, .icon-home, .icon-stack, .icon-calendar, .icon-arrow-up-right, .icon-star, .icon-star-2, .icon-tag, .icon-user, .icon-star-3, .icon-eye, .icon-double-arrow {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-search:before {
  content: "\e000";
}
.icon-x:before {
  content: "\e001";
}
.icon-checkmark:before {
  content: "\e002";
}
.icon-circle:before {
  content: "\e003";
}
.icon-caret-up:before {
  content: "\e004";
}
.icon-caret-down:before {
  content: "\e005";
}
.icon-caret-right:before {
  content: "\e006";
}
.icon-caret-left:before {
  content: "\e007";
}
.icon-chevron-right:before {
  content: "\e008";
}
.icon-double-chevron-right:before {
  content: "\e009";
}
.icon-chevron-left:before {
  content: "\e00a";
}
.icon-double-chevron-left:before {
  content: "\e00b";
}
.icon-warning:before {
  content: "\e00c";
}
.icon-home:before {
  content: "\e00d";
}
.icon-stack:before {
  content: "\e00f";
}
.icon-calendar:before {
  content: "\e010";
}
.icon-arrow-up-right:before {
  content: "\e011";
}
.icon-star:before {
  content: "\e013";
}
.icon-star-2:before {
  content: "\e012";
}
.icon-tag:before {
  content: "\e015";
}
.icon-user:before {
  content: "\e00e";
}
.icon-star-3:before {
  content: "\e014";
}
.icon-eye:before {
  content: "\e016";
}
.icon-double-arrow:before {
  content: "\e017";
}
