/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0 0 ($grid-gutter * 2) + em 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/**
 * Nudge down those select boxes
 */
select {
  margin-top: 0.3125em; // 5px @ 16px base font size
  margin-bottom: 0.5em;
  width: 100%;
}

/**
 * force block all labels
 */
label,
.label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;

    &.disabled {
      // From http://css-tricks.com/snippets/css/cross-browser-opacity/
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE 8
      filter: alpha(opacity=50);  // IE 5 - 7
      -moz-opacity: 0.5;          // Netscape
      -khtml-opacity: 0.5;        // Safari 1.x
      opacity: 0.5;               // Good browsers
    }
    
}

/**
 * Info text
 */
.info {
  font-size: (14px / $font-size-base) + em;
  font-style: italic;
  font-weight: normal;
  display: block;
}

/**
 * Text inputs
 */
.text-input,
textarea {
  width: 100%;
  display: block;
  margin: 0 0 $grid-gutter + em 0;
  padding: 0.5em; //8px
  border: 0;
  color: $c-text-input-color;
  outline: none;
  @include vendor(box-shadow, inset 0px 0px 3px 1px $c-text-input-shadow);
  @include vendor(border-radius, 2px);
  &:focus { @include vendor(box-shadow, inset 0px 0px 3px 1px $c-text-input-shadow-focus); }
}

.ie6, .ie7, .ie8 {
  .text-input,
  textarea {
    border: 1px solid #ccc;
  }
}


/**
 * Placeholder styling
 */
::-webkit-input-placeholder {
  color: $c-placeholder-color;
  font-style: italic;
}
:-moz-placeholder {
  color: $c-placeholder-color;
  font-style: italic;
}
:-ms-placeholder {
  color: $c-placeholder-color;
  font-style: italic;
}
.placeholder {
  color: $c-placeholder-color;
  font-style: italic;
}



/**
 * Radio groups
 */

.radio-list {
  @extend .gw;
  li {
    @extend .g;
    width: 25%;
    @include media-query(portable){ width: 33.333%; }
    @include media-query(palm){ width: 50%; }
    label {
      font-weight: normal;
      font-size: (14px / $font-size-base) + em;
      input { font-size: (16px / 14px) + em; }
    }
  }
}

.big-radio-group {
  display: table;
  ul { display: table-row; }
  li {
    list-style: none;
    display: table-cell;
    padding: ($grid-gutter + em);
    background: $c-big-radio-group-bg;
    border-left: ($grid-gutter / 2) + em solid $c-big-radio-group-border;
    width: 33%;
    vertical-align: middle;
    &.big-radio-group__first {
      border-left: none;
      @include vendor(border-radius, ($grid-gutter/2) + em 0 0 ($grid-gutter/2) + em);
    }
    &.big-radio-group__last {
      @include vendor(border-radius, 0 ($grid-gutter/2) + em ($grid-gutter/2) + em 0);
    }
    &:hover {
      background: $c-big-radio-group-bg-hover;
      cursor: pointer;
      label { cursor: pointer; }
    }
    // make stuff table layout
    .big-radio-group__table {
      display: table;
      width: 100%;
      .big-radio-group__row {
        display: table-row;
        .big-radio-group__cell {
          display: table-cell;
          vertical-align: middle;
          padding-left: 10px;
        }
      }
    }
    // added with js
    .big-radio-group__radio {
      display: block;
      float: left;
      margin-right: 1em;
      width: 2em;
      height: 2em;
      background: $c-big-radio-group-radio-bg;
      border: 0.25em solid $c-big-radio-group-radio-border;
      @include vendor(border-radius, 1em);
    }
    &.big-radio-group--active {
      .big-radio-group__radio { background: $c-big-radio-group-active-radio-bg; }
      &.big-radio-group--green .big-radio-group__radio { background: $c-big-radio-group-active-green-radio-bg; }
    }
  }
}

// alternative layout for IEs that don't support display:table;
.ie6, .ie7 {
  .big-radio-group {
    display: block;
    ul {
      display: block;
      padding: 0;
    }
    li {
      display: block;
      float: left;
      width: auto;
    }
  }
}


/******************/
/* Specific forms */
/******************/


/**
 * Search form
 */
.search-form {
  margin-top: -0.25em;
  width: 20em;
  .text-input {
    width: 18em;
    height: 2em;
    margin-bottom: 0;
    float: left;
  }
  .btn {
    padding-left: 0;
    padding-right: 0;
    height: 2em;
    width: 2em;
    float: left;
  }
}
.ie6, .ie7 {
  .search-form .btn {
    height: 2.5em;
    padding-top: 0;
  }
}

/**
 * Inline forms, like on the pick provider page
 */
.inline-form {
  input, button {
    font-size: (20px / $font-size-base) + em;
    @media screen and (max-width: $small-page-width-max + ($grid-gutter*2)  + em) {
      font-size: (18px / $font-size-base) + em;
      &.btn--no-label { margin-top: 1.8em; }
    }
    @include media-query(palm) {
      font-size: (16px / $font-size-base) + em;
      &.btn--no-label { margin-top: 2em; }
    }
  }
  input { margin-bottom: 0; }
  select {
    margin-top: 0.65em;
    @media screen and (max-width: $small-page-width-max + ($grid-gutter*2)  + em) { margin-top: 0.55em; }
  }
  .btn {
    width: 100%;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
  .icon-search { margin-left: 0.25em; }
}
