/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0 0 ($grid-gutter * 2) + em 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/**
 * force block all labels
 */
label,
.label{
    display:block;
    font-weight: bold;
}

/**
 * For use in side things like labels
 */
.additional {
  font-weight: normal;
}

/**
 * Text inputs
 */
.text-input,
textarea {
  width: 100%;
}