/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}


// Set box-sizing to border-box everywhere
* {
    @include vendor(box-sizing, border-box);
    @include ie-7 { behavior: url(../boxsizing.htc); }
    @include ie-8 { behavior: url(../boxsizing.htc); }
}