/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $c-hr-border;
    margin: 1em 0;
    padding: 0;
    &.hr--big {
        border-top: 4px solid $c-hr-border;
    }
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}


// Set box-sizing to border-box everywhere
* {
    @include vendor(box-sizing, border-box);
}

.ie6,
.ie7 {
    &,
    *, {
        behavior: url(/static/boxsizing.htc);
    }
}