// for horizontal scrolling tables on mobile
.table-container,
.table-wrapper { overflow: auto; }

table {
  width: 100%;
  margin-bottom: ($grid-gutter * 2) + em;
  // force table to be 960px wide on mobile, as inside the table-wrapper
  @include media-query(palm){ width: $page-width-max + em; }
  tr {
    &.table__heading { font-weight: bold; }
    &.table__footer td { border-bottom: $c-table-border solid 2px; }
  }
  td, th {
    &.table__first {
      padding-left: 0;
      text-align: left;
    }
    &.table__last { padding-right: 0; }
  }
  td {
    font-size: (12px / $font-size-base) + em;
    text-align: center;
    border-bottom: $c-table-border solid 1px;
    padding: 10px 0;
    a {
      display: block;
      color: $c-table-link-color;
      text-decoration: none;
      &:hover { color: $c-table-link-hover-color; }
    }
    &.table__label { text-align: left; }
    &.created,
    &.resolved {
      color: $c-table-created-color;
    }
    // coloured icons
    &.happy_service,
    &.happy_outcome,
    &.time_to_acknowledge,
    &.time_to_address,
    &.breach {
      vertical-align: middle;
      text-align: center;
    }
  }
  th {
    font-size: (12px / $font-size-base) + em;
    font-weight: normal;
    padding: 20px 10px;
    border-bottom: $c-table-border solid 2px;
    &.table__title {
      font-weight: bold;
      text-align: left;
      padding-left: 0;
      font-size: (21px / $font-size-base) + em;
    }
    a {
      color: $c-table-heading-link-color;
      text-decoration: none;
      &:hover { color: $c-table-heading-link-hover-color; }
    }
    // up / down carats for srotable cols
    &.sortable a {
      &:after {
        @extend .i;
        margin-left: 0.5em;
        content: "\e005";
      }
    }
    &.asc a, &.desc a { color: $c-table-heading-link-active-color; }
    &.asc a:after { content: "\e004"; }
  }
  .icon-x {
    font-size: (22px / $font-size-base) + em;
    color: $c-table-icon-x-color;
  }
  .icon-checkmark {
    font-size: (22px / $font-size-base) + em;
    color: $c-table-icon-checkmark-color;
  }
  .icon-circle {
    font-size: (22px / $font-size-base) + em;
    color: $c-table-icon-circle-color;
  }
  .icon-hidden{
    color: $c-table-icon-hidden-color;
  }
  .icon-warning {
    font-size: (22px / $font-size-base) + em;
    color: $c-table-icon-warning-color;
  }

}


/**
 * Public Problem table
 */
.problem-table {
  th, td {
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  // first cell
  .reference_number {
    font-weight: bold;
    padding-left: 0;
  }
  // last cell
  .summary { padding-right: 0; }

  .breach {
    // Colour circles red on the breach table
    .icon-circle {
      color:$c-table-icon-x-color;
    }
  }
}

.organisation-problems {
    .problem-table {
        tr.highlight {
            background-color: $c-table-row-highlight-color;
        }
    }
}
