// for horizontal scrolling tables on mobile
.table-wrapper { overflow: auto; }

table {
  width: 100%;
  margin-bottom: ($grid-gutter * 2) + em;
  // force table to be 960px wide on mobile, as inside the table-wrapper
  @include media-query(palm){ width: $page-width-max + em; }
  tr {
    &.table__heading { font-weight: bold; }
    &.table__footer td { border-bottom: $c-grey solid 2px; }
  }
  td {
    font-size: 0.75em; //12px
    text-align: center;
    border-bottom: $c-grey solid 1px;
    padding: 10px 0;
    &.table__label { text-align: left; }
  }
  th {
    font-size: 0.75em; //12px
    font-weight: normal;
    padding: 20px 10px;
    border-bottom: $c-grey solid 2px;
    &.table__title {
      font-weight: bold;
      text-align: left;
      padding-left: 0;
      font-size: 1.3125em; // 21px
    }
  }
}