html {
    font-family: Arial, sans-serif;
}

html,
button,
input,
select,
textarea {
    color: $c-body-text-color;
}

body {
    font-size: $font-size-base;
    line-height: 1.5;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $c-selection-bg;
    text-shadow: none;
    color: $c-selection-color;
}

::selection {
    background: $c-selection-bg;
    text-shadow: none;
    color: $c-selection-color;
}


/**
 * Modify defaults for h1/h2
 */
h1, h2 { font-weight: normal; }


/**
 * A grey title
 */
.title {
    font-size: (18px / $font-size-base) + em;
    font-weight: normal;
    color: $c-title-color;
}
    .title--suck-up { margin-bottom: -1.25em; }


/**
 * A small title
 */
.small-title {
    font-size: (14px / $font-size-base) + em;
    font-weight: bold;
}


/**
 * A bigger title, not bold
 */
.big-title {
    font-size: (24px / $font-size-base) + em;
    font-weight: normal;
}


/**
 * Add an option to add bold back on
 */
.title-bold {
    font-weight: bold;
}


/**
 * A link that stands out
 */
.standout-link {
    color: $c-standout-link-color;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        color: $c-standout-link-hover-color;
    }
}

/**
 * Subheading with color variations
 */
.subheading {
    @extend .mb;
}

.subheading--green {
    @extend .subheading;
    color: $c-nhs_lightgreen;
}
