.choices-bookends {font-family:Arial, Helvetica, sans-serif; color:#585858;}
.choices-bookends input, .choices-bookends textarea {font-family:Arial, Helvetica, sans-serif; color:#585858;}

.choices-bookends a 
{text-decoration:underline;}
.choices-bookends a:hover, 
.choices-bookends a:focus, 
.choices-bookends a:active
{text-decoration:none;}

/* Header and Lists */
.choices-bookends ul li {line-height:1.4em;}
.choices-bookends ul.info-nav li, 
.choices-bookends ul.personal-header li, 
.choices-bookends #nav-bar ul li, 
.choices-bookends .footer ul li, 
.choices-bookends #hazMod1 ul li {display:inline; margin-right:0.5em;}
.choices-bookends ul#main-navigation li {font-weight:bold; display:block;}
.choices-bookends ul#main-navigation li ul li {display:inline; font-weight:normal;}

/* Fieldsets */
.choices-bookends fieldset {padding:1em;}
.choices-bookends legend {font-weight:bold;}
.choices-bookends textarea {width:25em; height:8em;}
