.clear {min-height:1px;}
.wrap {z-index:106;}
ul.translate {padding-top:.7em !important;}
ul.translate li {display:inline; height:1em;}
ul.personal-header {float:none;}
/* header */
.header {z-index:105;}
.header .searchbar label {margin-top:.6em;}
.header .searchbar .submit-container {width:7em;}
.header .main-nav ul li#medical-advice-topnav a.menufocus {background:#053e78 url(../img/nav-bg.gif) left top repeat-x; color:#fff;}
.header .main-nav ul li#health-az-topnav a.menufocus {background:#005f8f url(../img/nav-bg.gif) 0 -60px repeat-x; color:#fff;}
.header .main-nav ul li#livewell-topnav a.menufocus  {background:#64920b url(../img/nav-bg.gif) 0 -120px repeat-x; color:#fff;}
.header .main-nav ul li#carers-topnav a.menufocus {background:#2b0081 url(../img/nav-bg.gif) 0 -180px repeat-x; color:#fff;}
.header .main-nav ul li#news-topnav a.menufocus {background:#4d4d4d url(../img/nav-bg.gif) 0 -240px repeat-x; color:#fff;}
.header .main-nav ul li#find-services-topnav a.menufocus {background:#b00808 url(../img/nav-bg.gif) 0 -320px repeat-x; color:#fff;}
/* footer */
.footer .footer-content {margin-top:-.5em;}
.footer .footer-content ul {margin-left:1.5em;}
.footer .footer-content .footer-tab1 {float:left;}