<p>Your password:</p>

<ul>
    <li>Must be at least 10 characters long</li>
    <li>Must not be based on your username</li>
    <li>Must contain at least one characters from all of the following four categories:
        <ul>
            <li>Uppercase alphabetic characters (A-Z)</li>
            <li>Lowercase alphabetic characters (a-z)</li>
            <li>Arabic numerals (0-9)</li>
            <li>Non-alphanumeric characters, for example: ! $ # %</li>
        </ul>
    </li>
    <li>Must not contain spaces or commas</li>
</ul>