{% extends "citizenconnect/base.html" %}

{% block title %}Password change{% endblock %}

{% block content %}

<div class="header">
    <h1>Password change</h1>
</div>

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can check you typed it in correctly.</p>

{% include "organisations/auth/password_policy.html" %}

<div class="island">

    <form action="" method="post" class="gw">
        {% csrf_token %}
        <div class="g one-whole">
            <label for="id_old_password">Old password:</label>
            <input type="password" name="old_password" id="id_old_password" class="text-input one-half palm-one-whole cr">
            {% include "citizenconnect/includes/message_list.html" with messages=form.old_password.errors message_type='error' %}
        </div>

        <div class="g one-half palm-one-whole">
            <label for="id_new_password1">New password:</label>
            <input type="password" name="new_password1" id="id_new_password1" class="text-input">
            {% include "citizenconnect/includes/message_list.html" with messages=form.new_password1.errors message_type='error' %}
        </div>

        <div class="g one-half palm-one-whole">
            <label for="id_new_password2">New Password (again):</label>
            <input type="password" name="new_password2" id="id_new_password2" class="text-input">
            {% include "citizenconnect/includes/message_list.html" with messages=form.new_password2.errors message_type='error' %}
        </div>

        <div class="g one-whole">
            <input type="submit" value="Change my password" class="btn fr"/>
        </div>

    </form>
</div>

{% endblock %}
