{% extends "base.html" %}

{% block title %}Password reset{% endblock title %}

{% block content %}

<div class="header">
    <h1>Password reset</h1>
</div>

<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

<div class="island inline-form">
    <form action="" method="post" class="gw">
        {% csrf_token %}
        <div class="g three-quarters lap-one-half palm-one-whole">
            <label for="id_email">E-mail address:</label>
            <input type="text" name="email" id="id_email" class="text-input">
            {% include 'message-list.html' with messages=form.email.errors message_type='error' %}
        </div>
        <div class="g one-quarter lap-one-half palm-one-whole">
            <input type="submit" value="Reset my password" class="btn btn--no-label"/>
        </div>
    </form>
</div>

{% endblock content %}