{% extends "base.html" %}
{% load url from future %}

{% block title %}Password reset{% endblock %}

{% block content %}

{% if validlink %}

    <div class="header">
        <h1>Enter new password</h1>
    </div>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    {% include "organisations/includes/auth/password_policy.html" %}

    <div class="island inline-form">
        <form action="" method="post" class="gw">
            {% csrf_token %}

            <div class="g two-fifths palm-one-whole">
                <label for="id_new_password1">New password:</label>
                <input type="password" name="new_password1" id="id_new_password1" class="text-input">
                {% include "message_list.html" with messages=form.new_password1.errors message_type='error' %}
            </div>

            <div class="g two-fifths palm-one-whole">
                <label for="id_new_password2">Confirm Password:</label>
                <input type="password" name="new_password2" id="id_new_password2" class="text-input">
                {% include "message_list.html" with messages=form.new_password2.errors message_type='error' %}
            </div>

            <div class="g one-fifth palm-one-whole">
                <input type="submit" value="Change my password" class="btn btn--no-label"/>
            </div>

        </form>
    </div>

{% else %}

    <div class="header">
        <h1>Password reset unsuccessful</h1>
    </div>

    <p>The password reset link was invalid, possibly because it has already been used. Please <a href="{% url 'password_reset' %}">request a new password reset.</a></p>

{% endif %}

{% endblock %}
