{% extends "citizenconnect/base.html" %}
{% load url from future %}

{% block title %}About{% endblock %}

{% block bodyclasses %}about{% endblock %}

{% block content %}
<div class="gw">
    <div class="g  two-thirds">

        <div id="about-this-service" class="about-section">
            <div class="header">
                <h1>About this service</h1>
            </div>

            <p>
            Let's work together to improve your NHS service. Tell us when things are going well and when they're not, so we can do something about it. We want to ensure your voice is heard, listened to and acted upon.
            </p>

            <p>
            The process is simple. We connect you quickly to people in the NHS who want to hear what you have to say. You can do this online here, or by text (61114), <a href="https://twitter.com/{{ settings.TWITTER_USERNAME }}">Twitter</a>, <a href="https://facebook.com/CareConnectNHS">Facebook</a> or phone (0800 151 0023 from a landline or 0300 200 0023 from a mobile) - 24 hours 7 days a week.
            </p>

            <p>
            This service works in partnership with Patient Advice and Liaison Services (PALS) and Patient Experience Teams in hospitals.
            You can also visit PALS in person if you prefer - ask the hospital reception for details of where the PALS team office is located.
            </p>

            <p>
            Please note, this is a pilot service and is being tested in London and parts of the North East of England. <a href="{% url 'feedback' cobrand=cobrand.name %}">We would welcome any comments or suggestions</a> for improvements. Together we can build a better NHS.
            </p>

            <p>Here’s how it works:-</p>

            <div class="gw">
                <div class="g  one-third">
                    <h2 class="step_title--green">Share your experience</h2>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>
                    Share your experience - tell us about when you have experienced good care and when you have not. We also want to hear about your suggestions for what we can do to improve.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h2 class="step_title--orange">Ask a question</h2>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>
                    Receive an answer to your questions about NHS services. To make it easier we have also included quick links to the most commonly asked questions. If you have a specific question not covered by the common questions you will be redirected to NHS Direct's Online Enquiries Service.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h2 class="step_title--blue">Report a problem</h2>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>
                    If you have a problem that needs resolving, or you want to report something that needs our attention, submit it here and we will connect you directly with people at the NHS provider who are best placed to help.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h2 class="step_title">See how local services are responding in real time</h2>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>
                    Our live map and summary tables show how NHS providers are responding to people in real time.
                    </p>
                </div>
            </div>

        </div>

        <div id="why-have-we-developed-this-service" class="about-section">
            <div class="header">
                <h1>Why Have We Developed This Service?</h1>
            </div>

            <p>
            The <a href="http://www.nhs.uk/nhsconstitution">NHS Constitution</a> explains how the NHS is accountable to you. It tells you how we will ensure NHS health and care services in England are delivered to the highest quality standard.
            </p>

            <p>
            This new service is part of our commitment. It gives you a direct route to find out information, ask us questions, get problems resolved and let us know what you think of the services you experience.
            </p>

            <p>
            By listening to you we can make sure that NHS services are based on the needs of patients and their families.
            </p>
        </div>

        <div id="share-your-experiences" class="about-section">
            <div class="header">
                <h1 class="about_section_heading--green">Share your experiences</h1>
            </div>

            <p>
            In the same way that you can leave online reviews about your experiences with other services, and give them star ratings, you are invited to share here your recent NHS experience.
            </p>

            <p>Tell us what went well - it&rsquo;s a real boost to staff.</p>

            <p>Tell us when things have not gone well - we want to understand so that we take steps to improve.</p>

            <p>We also want to hear about your suggestions to help us improve.</p>
        </div>

        <div id="ask-a-question" class="about-section">
            <div class="header">
                <h1 class="about_section_heading--orange">Ask a question</h1>
            </div>

            <p>It can be confusing to know where to go to get answers to questions you may have about the NHS so we&rsquo;ve made it easy for you by providing a single place for you to ask your questions.</p>

            <p>We've also created a section online for <a href="{% if cobrand.name == 'choices' %}{% url 'common-questions' cobrand=cobrand.name %}{% else %}http://www.nhslondon.lampuat64-1.rroom.net/{% endif %}">commonly asked questions</a> which may help you find the information you want more quickly - simply click on Commonly Asked Questions in the top navigation bar.</p>

            <p>Please note this is not a medical service so if you have a question or are concerned about a medical problem, why not use our <a href="http://www.nhs.uk/NHSdirect/pages/symptoms.aspx" target="_blank">Symptom Checker</a>?</p>
        </div>

        <div id="submit-a-problem" class="about-section">
            <div class="header">
                <h1 class="about_section_heading--blue">Submit a problem</h1>
            </div>

            <p>People tell us that they often want to get their issue about an NHS service resolved quickly but do not always know how to do this. Simply tell us about it here and we will send it on your behalf to people in the NHS service that are best able to help. A problem fixed is a positive outcome for you and for the NHS.</p>

            <h2>What happens next?</h2>

            <p>We will send your problem report to the NHS provider immediately. They will then contact you directly to try to get it resolved.</p>

            <p>You can expect to receive an acknowledgement from the NHS provider. They will agree with you the expected time to get your problem resolved. If your problem requires a more detailed response or a formal investigation, the NHS provider will work with you to ensure this happens.</p>

            <p>If you have chosen to make the details of your problem visible to the public this will appear on the website a short while later after passing through our <a href="#comments-policy">moderation process</a>. You can use your problem reference number to track the progress of your problem.</p>

            <p>The NHS provider will change the status of your problem from 'open' to 'in progress' when they make contact with you. When your problem has been resolved the status will be changed to 'closed'. This removes it from the live map but it will be shown as closed on the NHS provider summary.</p>

            <h2>What does the status mean?</h2>

            <div class="gw">
                <div class="g  one-third">
                    <h3 class="step_title">Open</h3>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>This means your problem has been forwarded to the NHS provider and appears on the live map and the provider summary.</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h3 class="step_title">In-Progress</h3>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>This means the NHS provider has received your problem and will contact you directly to work out how best to resolve it.</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h3 class="step_title">Closed</h3>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>This means your problem has been resolved and marked as 'closed' by the NHS provider. It will no longer appear on the live map but will still be visible on the provider summary.</p>
                </div>
            </div>

            <p>You will receive an email asking you to complete a short survey 3 weeks after posting your problem to find out if you feel your problem was resolved. The results of this survey will be published on this site.</p>
        </div>

        <div id="live-map" class="about-section">
            <div class="header">
                <h1>Live map</h1>
            </div>

            <p>You can look up your local NHS provider on our live map and see what issues are being responded to in real time.</p>

            <p>The map shows the number of problems that have been submitted. A blue dot on the map marks the location of the NHS provider. The darker the shade of blue indicates the higher the number of problems that are currently 'open' or 'in progress'.</p>

            <p>Type in the postcode or the name of the NHS provider to zoom in on a specific area of the map.</p>

            <p>Hover over a dot to see an 'at a glance' summary.</p>

            <p>Click on the dot to go to the NHS provider summary where you can track your problem using your problem reference number. You can also see what others have reported and how the NHS is responding.</p>

            <p>If you cannot see the NHS provider you are looking for, it may be that they are not currently participating in the pilot service.</p>

            <p><em>Note: A higher number of problems may not necessarily indicate a poorly performing NHS provider - it could be that they are actively promoting this feedback service. Check out their summary page to see how they are doing.</em></p>

        </div>

        <div id="provider-summaries" class="about-section">
            <div class="header">
                <h1>Provider summaries</h1>
            </div>

            <p>Click on 'provider summaries' on the top navigation bar to see more information about problems reported.</p>

            <p>You can filter by NHS provider, service/department, category and status. Click on each section to see more detail, including any responses from the NHS provider.</p>

            <p>If you have submitted a problem, the category of your problem and the name of the service/department will automatically appear. If you have chosen to make the details of your problem public (to help others who may be experiencing something similar) this will appear a short while later after passing through our <a href="#comments-policy">moderation process</a>. You can use your booking reference number to track the progress of your problem.</p>
        </div>

        <div id="problem-is-not-resolved" class="about-section">
            <div class="header">
                <h1>What can I do if my problem is not resolved?</h1>
            </div>

            <p>Our aim is to try to get problems resolved locally with your NHS provider as far as we can. If you are not satisfied with the final response you received about your problem from the local service provider and feel that all efforts for a local resolution have been exhausted, you may wish to take it further by contacting the Health Service Ombudsman.</p>

            <p>The Health Service Ombudsman’s role is to investigate complaints that individuals have been treated unfairly or received poor service from the NHS in England.  You can contact them to find out how they can help by:</p>

            <ul class="vcard">
                <li>Visiting <a class="url" href="http://www.ombudsman.org.uk/make-a-complaint/how-to-complain" target="_blank">their website</a></li>

                <li>
                    Calling <span class="tel">0345 015 4033</span>
                    <span class="note">(staff are available Monday to Friday from 8.30am to 5.30pm)
                    (if you are deaf or have problems using a standard telephone please call 0300 061 4298 using a textphone)</span>
                </li>

                <li>Email: <a class="email" href="mailto:phso.enquiries@ombudsman.org.uk">phso.enquiries@ombudsman.org.uk</a></li>

                <li class="telephone">Text 'call back' with your name and mobile number to <span class="tel">07624 813 005</span> and they will call you back</li>
            </ul>

            <div class="adr">
                <p>Or you can write to the <span class="fn">Health Service Ombudsman</span> at:</p>
                <span class="street-address">Millbank Tower</span><br>
                <span class="region">Millbank</span><br>
                <span class="postal-code">London SW1P 4QP</span>
            </div>

            <p>Please remember: The Ombudsman will normally only take on a complaint after you have first tried to resolve the issues with the NHS provider involved and have received a final response from them.</p>

            <p>You will also need to tell them how you have been affected by the issues you are complaining about (or, if you are complaining on behalf of somebody else, how they have been affected).</p>
        </div>

        <div id="terms-and-conditions" class="about-section">
            <div class="header">
                <h1>Terms and Conditions</h1>
            </div>

            <p>The terms and conditions for this service are created to help you understand how we will use the information you give us and tell you what you can expect to happen. These are essential to protect both you and your privacy. It also gives the services you contact us about a chance to hear your feedback and try to resolve your problem.</p>

            <h2>1. Introduction</h2>
            <p>1.1 The Secretary of State for Health (“We”) owns Care Connect. You may access and use this service if you agree to be legally bound by the terms set out below. Continued use of Care Connect shall be considered consent to these Terms and Conditions.</p>
            <p>1.2 Care Connect is only intended for use by people who live in England.</p>
            <p>2. Changes to terms</p>
            <p>2.1 We may make changes to Care Connect, including these Terms and Conditions, at any time. You will be bound by the terms published on-line at the time You use Care Connect. We have no obligation to inform you of such changes.</p>

            <p>3. Intellectual property rights</p>
            <p>3.1 The materials, information, data and other content included on Care Connect is subject to Crown copyright. You may copy, download, adapt or print off copies of such materials, information, data and other content for non-commercial use, including personal use, or for use by a registered charity, a not-for-profit organisation or a public sector body. You will need to obtain permission in writing from Us before You make any other use of Care Connect content. Requests for such information should be made in writing to ccfeedback@nhs.net</p>
            <p>3.2 The rights in images, trade marks, trade names, logos included on Care Connect are owned by Us and/or third parties. You will need to obtain permission in writing from Us or the owner before You may use these images, trade marks, trade names, logos in any way.</p>
            <p>3.3 You warrant that You own the copyright and any other form of intellectual property in any image or other material You post on Care Connect. You agree to indemnify Us against any claim, losses or other liability that We suffer or incur as a result of any third party claims.</p>
            <p>3.4 You agree to provide us with a worldwide, royalty-free, irrevocable, non-exclusive, delegable and otherwise unrestricted licence to use, modify, publish, adapt, distribute and otherwise exploit (including commercially) any copyright and other intellectual property right contained in any material posted on Care Connect or otherwise provided to Us.</p>
            <p>3.5 You unconditionally and irrevocably agree to waive all moral rights in any material posted on Care Connect or otherwise provided to Us.</p>
            <p>4. Disclaimer medical information</p>
            <p>4.1 Care Connect allows the public to comment on their care. Some comments from the public may include medical information. We make no claims about the accuracy of such information In general We do not think it is reasonable to rely on such comments. If You are concerned about your health You should contact a health professional.</p>
            <p>4.2 Care Connect does not give medical advice in relation to any individual case or patient, nor does Care Connect provide medical or diagnostic services.   Care Connect may transfer or point your enquiry to a more suitable source of information as it considers appropriate.</p>
            <p>5. Third party websites</p>
            <p>5.1 We do not monitor the content of third party websites. Any link provided on Care Connect is solely for your convenience. Care Connect does not accept any responsibility for any third party website.</p>

            <p>6. Liability</p>
            <p>6.1 Care Connect is made available by the Licensor on an "as is" and  "as available" basis and We gives no warranty of any kind in relation to it. All implied warranties are similarly excluded, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, compatibility, and accuracy.</p>
            <p>6.2 To the maximum extent permitted by law, We exclude all liability to You  or any third party for any loss or damage howsoever arising out of or in connection with services provided through Care Connect. Whether the losses were foreseen, foreseeable, unforeseen, unforeseeable, known, unknown or otherwise. These include but are not limited to:</p>

            <p>(a) loss which arose when You first accessed or registered to use Care Connect (even if that loss results from the our failure to comply with these terms or our negligence);</p>
            <p>(b) any business loss You may suffer, including loss of revenue, loss of profits or loss of anticipated savings (whether those losses are the direct or indirect result of our default);</p>
            <p>(c) loss which You suffer other than as a result of our failure to comply with these terms or our negligence or breach of statutory duty;</p>
            <p>(d) any loss suffered due to the default of any party other than Us.</p>
            <p>6.3 Care Connect is an information service. It is for the relevant healthcare provider to address any issue raised on Care Connect not Us.</p>
            <p>6.4 We do not warrant that Care Connect or any content will be available uninterrupted or error free, that defects will be corrected, or that Care Connect or its supporting systems are free of viruses or bugs.</p>
            <p>6.5 Notwithstanding the foregoing We do not seek to waive any liability for death or personal injury caused by Our negligence. We also do not seek to waive liability in relation to our Fraud.</p>
            <p>6.6 Care Connect does not give any commitments or accept any liability to you in respect of Care Connect content provided by other users of the website or third parties.</p>
            <p>6.7 Health – Care Connect may direct you to other sources of information for medical advice. We do not accept any liability in respect of such sites.</p>
            <p>6.8 Care Connect should not be used for emergency or urgent medical complaints or advice.  For immediate, life-threatening emergencies, you should dial 999.</p>
            <p>7. Remedies</p>
            <p>7.1 Should We need to get in touch with You and are unable to do so we will remove any comment and/ or image(s) you have made on Care Connect. We reserve the right to validate any email or contact points and if found to be invalid we will remove that comment.</p>
            <p>8. General</p>
            <p>8.1 If any of these terms are determined to be illegal, invalid or otherwise unenforceable then the remaining terms shall remain in full force and effect.</p>
            <p>8.2 These terms shall be governed by and interpreted in accordance with the laws of England.</p>
            <p>Patient feedback</p>
            <p>9. Registration</p>
            <p>9.1 To post messages you must provide a valid e-mail address or telephone number and any other information we request.</p>

            <p>10. Postings</p>
            <p>10.1 Postings you make to Care Connect shall not be treated as confidential.</p>
            <p>10.2 You are legally responsible for the content of any material you submit for posting on Care Connect. This shall include but is not limited to any images.</p>
            <p>10.3 Subject to clause 3.4 We shall own any material posted on Care Connect.</p>

            <p>11. Editorial control of 'Patient feedback'</p>
            <p>11.1 We reserve the right (on behalf of ourselves and any moderator which we may appoint):</p>

            <p>(a) to edit, not put on the website or delete any posts you submit. We will endeavour to notify you of any editing or deletion of any posts but You agree that We are not required to do so and nor do we require your permission (express or implied) to do so; or</p>
            <p>(b) to take any other action against your registration if, in our view, you have not complied with the rules of conduct set out below.</p>
            <p>12 Conduct</p>
            <p>12.1 If You are under 16 You must seek your parent's or guardian's consent before You submit a posting.</p>
            <p>12.2 Comments or other material (including images) posted:</p>
            <p>(a) On “Share Your Experience” should relate to Your own personal experience.  You must not name any individuals (other than yourself) or include information through which someone else could identify such an individual.  If You want to comment on someone else’s experience, (e.g. a relative or someone you care for) then You may do so if you ensure that you are not named in the posting and you state how the other person is  connected to you (e.g. “my father”).</p>
            <p>(b) On “Problems” can name individuals to allow a provider to fully investigate and respond to the problem raised, however this information will be subject to moderation (and therefore removed) before publishing (if publish permission is selected) as per the moderation guidelines. If You are logging a problem on Care Connect on behalf of someone else, you must ensure you have gained their consent before logging that problem.</p>
            <p>(c) should be relevant to helping people make choices about places where they can receive medical treatment.  They should be constructive, truthful, and not abusive.  We will remove any comment or other material posted that is irrelevant, abusive or otherwise objectionable will be removed.</p>
            <p>12.3.  You should not use the Share Your Experience or Question functionality of 'Care Connect' to make complaints about individual hospitals, GP practices or other treatment centres if you wish the matter to be dealt with under the NHS complaints procedures. You can raise a complaint via the Report a Problem function, however you may be required to follow local provider procedures to progress your complaint.</p>
            <p>You can also find details on how to raise a complaint in the About Us section.</p>
            <p>12.4.  If you find any postings offensive or objectionable on “Share Your Experience & Report a Problem”  - you may make a complaint to the moderator by using the ‘report as unsuitable’ link. Any action or failure to act in response to such a report is entirely at Our discretion.</p>

        </div>

        <div id="privacy-and-cookie-policies" class="about-section">
            <div class="header">
                <h1>Privacy and Cookie Policies</h1>
            </div>

            <h2>Care Connect Privacy and confidentiality</h2>

            <p>Share Your Experience - Whether you are speaking for yourself or on behalf of another person – if for example you are a carer or parent – do not name the individuals you are talking about. If you are making a comment on another person’s behalf, it is best instead to talk of ”my husband” “my uncle” and so on to protect their privacy.</p>
            <p>Problem - Whether you are speaking for yourself or on behalf of another person (with their consent)– if for example you are a carer or parent – you are able to name the individuals you are talking about to aid the provider investigate your problem. Please note however that your personal details will not be published anywhere on the Care Connect site (your name will be displayed if you have given permission for your name to be published).</p>
            <p>Providers (hospitals, GPs etc) who have received your problem content can view all the information you supply.  Clinical Commissioning Groups and Area teams will also have access to this information to monitor the levels and types of problems referred to providers where they contract or commission services from.</p>
            <p><strong>Personal information</strong>: to protect your privacy, any information you contribute (including images) that reveals personal information, such as phone numbers, email addresses, postal addresses and so on will be removed. Any attempts to use Care Connect to exchange personal information or arrange meetings with another user will also be removed. You consent to us using any Personal Information that you do provide for the purposes of the Care Connect.</p>
                <h3>Screen names, nicknames and impersonation </h3>
            <p>Screen names used on Care Connect are moderated. When selecting a screen name make sure you choose one that is not rude, offensive or aimed at impersonating another person.</p>
            <p><strong>Naming businesses</strong>: Please avoid naming businesses or commercial services in your comment.  </p>
            <p><strong>Under 16s</strong>: People under 16 must get permission from a parent or guardian before posting on Care Connect.</p>
            <h3>Health advice, medical products and commercial activity </h3>
            <p>Comments and images that glamorise smoking, drug use or drinking or that promote a poor moral example will be removed.</p>
            <p>Comments and images deemed to be advertising a product or service will be removed.</p>
            <p>We may remove references to specific medical products or medicines if the context is not appropriate.</p>
            <h3>Legal issues, criminal activity or negligence </h3>
            <p><strong>Current court cases and court injunctions</strong>: contempt of court rules mean you cannot make comments that could prejudice the outcome of a court case or General Medical Council hearing. Comments on something that subsequently becomes the subject of a court case or hearing will also be removed if they risk contempt of court. Contributions that break a court injunction will be removed. </p>
            <p><strong>Clinical negligence or criminal activity</strong>: specific accusations of clinical negligence in which an individual is identified will not be published. If you have a serious allegation of clinical negligence by a particular clinician, please use the NHS Complaints procedure. Accusations of specific criminal activity will not be published. If you believe that criminal activity is or has taken place at any hospital or other Organisation please contact the police or Organisation directly.</p>
            <p><strong>Defamation</strong>: defamation may occur when someone makes an untrue statement which damages a person's reputation or someone makes a statement which expresses an opinion which they do not sincerely hold.</p>
            <p>Disclaimer: this definition is not to be regarded as a statement of the law nor should it be relied upon to make any judgment as to whether content is potentially defamatory. You must decide whether you wish to take specific, independent legal advice.</p>
            <p><strong>Threats</strong>: comments and images containing threats of public fear, terrorism or threats towards any individual are not permitted.  </p>
            <p><strong>Copyright</strong>: ensure that you own the copyright to any material you put on Care Connect - especially if you have copied it from another source. If we are in doubt about the ownership of content we will remove it from the site.</p>

            <h3>Further information</h3>
            <h3>Privacy</h3>
            <p>When you make a comment you will be asked to provide a valid email address or telephone number. Your details will only be used to contact you about services you have expressed an interest in or to contact you about any comment we are concerned about. Care Connect may pass on your details to NHS and social care organisations as appropriate but they will not  be passed on to any other party not related to NHS or social care organisations.  We will comply at all times with the Data Protection Act 1998.  </p>
            <p>We reserve the right to escalate your problem in serious cases of breaches of the NHS Constitution standards. In these cases we may refer your problem details to the appropriate regulatory bodies.</p>
            <h3>Copyright of your contributions</h3>
            <p>If you choose the ‘public’ option, your contributions to Care Connect are published and viewable to the general public. In submitting your comments and/ or images you assign all rights to Care Connect for use and publication of your contribution (further information can be found in terms and conditions). If you are unwilling to assign Care Connect copyright to your contribution you must not submit it to the site. </p>
            <h3>Action we may take</h3>
            <p>A breach of any of our rules can lead to your comment or image being rejected. Repeated or serious breaches of our rules may lead to Care Connect blocking contributions from your email address or telephone number. Care Connect reserves the right to delete any content at any time for any reason and is under no obligation to publish any contributions. Care Connect reserves the right to alter or update these rules or its terms and conditions at any time.</p>
            <h3>Your privacy on Care Connect</h3>
            <h4>Personal data collected</h4>
            <h5>Navigation data</h5>
            <p>IP address and the website you came from</p>
            <h5>Personal information</h5>
            <p>Includes your first name, last name, email address, telephone number, DOB (for Ask a question), ethnicity (for Ask a Question) and other personal information you provide.</p>
            <h4>Use of personal data</h4>
            <h5>Analytics</h5>
            <p>Uses navigation data in services provided by Care Connect and third parties. For more information see our cookies policy – will need link.  </p>
            <h4>Data sharing</h4>
            <p>When you make a comment you will be asked to provide a valid email address or telephone number. Your details will only be used to contact you about services you have expressed an interest in or to contact you about any comment we are concerned about. Care Connect may pass on your details to NHS and social care organisations as appropriate but they will not  be passed on to any other party not related to NHS or social care organisations.  We will comply at all times with the Data Protection Act 1998.  </p>
            <p>We will never share personal information with any third parties without your consent. Navigation data is shared with trusted third parties providing analytics or advertising.</p>
            <h3>Our privacy policy </h3>
            <p>The Secretary of State is the Data Controller for Care Connect under the Data Protection Act 1998. We will process your data in accordance with the Data Protection Act 1998. The purpose of the privacy policy is to inform you as a user of Care Connect about what information we collect when you visit the service, how we use the information, whether the information is disclosed and the ways in which we protect users' privacy.</p>
            <p>We want you to feel secure when using Care Connect. We are committed to respecting your privacy. Below is an overview of how we do that.</p>
            <h3>How do we use your information? </h3>
            <p>We analyse information to see what is most effective about Care Connect and associated services to help us identify ways to improve it and to make it more effective. We may also use information for other purposes, which we would describe to you at the point when we collect the information.</p>
            <h3>What information do we collect when you use Care Connect? </h3>
            <p>We collect information indirectly and directly.</p>
            <p>When you use Care Connect we use technology to collect information indirectly - such as your internet address. This is commonplace across all internet services to enable the investigation of issues such as malicious use. This information is then kept in our internet access logs.</p>
            <p>We collect information directly from you in a number of ways. One way is by using cookies. Cookies are small files of information that save and retrieve information about your visit to our site, such as how you entered our site, how you navigated through the site and what information was of interest to you. This information is collected for a number of reasons, for example, to help develop the service.</p>
            <p>The cookies we use identify you merely as a number. If you are uncomfortable about the use of cookies, you can disable them by changing the settings in the preferences or options menu in your internet browser. However, disabling cookies may affect our ability to provide services to you; if certain cookies are disabled you may not be able to access the service.</p>
            {# TODO: Add link to cookie policy here #}
            <p>See our Cookies policy for more information on the cookies we use.</p>
            <p>The social media bookmarking sites that Care Connect links to are third-party sites.  Care Connect does not control the way these sites use your information. If you choose to access these sites using the links provided, the operators of these sites may collect information from you that may be used by them in accordance with their privacy policies, which may differ from ours.</p>
            <p>You should read their privacy policies carefully to find out what happens to any information that is collected by these services when you use them.</p>
            <p>Information submitted as a part of Care Connect content held on Twitter and Facebook will be subject to their privacy policies. More information on these policies are available directly from Twitter and Facebook</p>
            <h3>How long do we hold this information? </h3>
            <p>We will hold the information for as long as we are providing you services and as long as your comment is active on our system.</p>
            <p>We will remove all personal information we hold relating to you, which you registered with us, within six months of your comment being deactivated on our system.</p>
            <h3>Will we disclose your information to, or share it with, other organisations? </h3>
            <p>We do not share data with other organisations unless the law permits us to do so. We do not sell individuals’ information. We will share it only with our authorised Data Processors, who must act at all times on our instructions as the Data Controller under the Data Protection Act 1998. Before you submit any information, we will notify you as to why we are asking for specific information and it is up to you whether you provide it.</p>
            <p>We will share your information with relevant NHS and social care organisations as appropriate.</p>
            <h3>We may give you access to your information </h3>
            <p>You are entitled to know whether we hold information about you and, if we do, to have access to that information and require it to be corrected if it is inaccurate.</p>
            <p>You can do this by contacting the Data Protection Officer, Department of Health, Skipton House, 80 London Road, London, SE1 6LH.</p>
            <h3>Your data is kept under secure conditions </h3>
            <p>We take appropriate steps to maintain the security of your data on our service. The open nature of the internet means that data may flow over networks without security measures and may be accessed and used by people other than those for whom the data is intended. Our intention is that this should not happen and we take measures to ensure that it does not.</p>
        </div>

        <div id="comments-policy" class="about-section">
            <div class="header">
                <h1>Comments policy</h1>
            </div>

            <p>Contributions (including images) to Care Connect may be moderated, that is, checked to make sure they don’t break our rules. You will need to keep your contributions constructive, relevant and civil. The following rules and guidelines are to protect both you and the NHS, and our moderators will remove contributions that break these rules.</p>
            <h3>Commenting on NHS services (including hospitals, GP practices and dentists) </h3>
            <p>The Care Connect service launches initially as a pilot allowing the public to raise problems, ask questions and share their experiences of NHS services by reviewing and rating services. The pilot will go-live with hospitals and a few GPs in the first instance.  </p>
            <p>Share Your Experience - The service you receive from the NHS will never be adversely affected by your feedback on hospitals, GP surgeries, dental practices or any other health provider and you can comment anonymously if you wish. You should respect the anonymity of other patients and staff at the service you are commenting on by not using their names. (Please note as Care Connect is a pilot, you may find your local NHS provider is not yet part of the service. You can still leave feedback on non pilot NHS service providers direct on NHS Choices).</p>
            <p>Problems - The service you receive from the NHS will never be adversely affected by the problems you raise regarding hospitals, GP surgeries or any other health provider. You must provide a contact name when raising a problem.  This is to allow a provider to fully investigate your problem.  Your contact details will never be published publicly on the Care Connect site.  </p>
            <p>Question – The question service is anonymous and any questions raised will be answered by our case handlers.</p>
            <p>The Share Your Experience feature is there for you to comment on your, or a friend’s or family member’s, hospital, general practice, dental or other care service. This is not a formal complaint procedure.  If you wish to make a complaint you should read <a href="http://www.nhs.uk/choiceinthenhs/rightsandpledges/complaints/pages/nhscomplaints.aspx">our guide to making a complaint</a>.</p>
            <p>NHS trusts and the service providers are not obliged to read the comments, though many do. If you want a reply to your feedback (share your experience) you should contact the provider of the NHS service either directly or through the local Patient Advice and Liaison Service (PALS), listed on the page of the hospital, GP practice, dental practice or other service you have used. Alternatively, you could use the Raise a Problem feature on Care Connect (pilot organisations only)</p>
            <p>Giving your feedback/ sharing your experience on an NHS service does not require registration with Care Connect but as a minimum you will need to provide either a valid email address or telephone number so that we can contact you if there are any problems.</p>
            <p>Care Connect is not suitable for making general political points about NHS services. Feedback from members of staff will not be accepted. Comments must be about events within the past 2 years. Once a previously accepted comment is more than 2 years old, we will indicate this next to the comment. </p>
            <h3>Complaining about another person’s comment </h3>
            <p>Share Your Experience - If you think that someone’s contribution to the website breaks our rules you can alert one of our moderators by clicking the links provided to report a comment as unsuitable. Reporting a comment will not automatically remove it but will ensure we review it as soon as possible. The moderators will then decide whether to remove it permanently or reinstate it.</p>
            <p>Problems - If you think that someone’s contribution (including images) to the website breaks our rules you can alert one of our moderators by clicking the report as unsuitable link. Reporting a comment will not automatically remove it but will ensure we review it as soon as possible. The moderators will then decide whether to remove it permanently or reinstate it.</p>
            <h3>Relevance, civility and decency </h3>
            <p><strong>Relevance</strong>: comments and images must be relevant to the Organisation they are to appear on. </p>
            <p><strong>Be civil</strong>: please ensure that your contributions are respectful of others. We will remove contributions (including images) that are unlawful, harassing, abusive, threatening, obscene, sexually suggestive, racist, homophobic or sexist or that incite or promote hatred of any group of individual.  </p>
            <p><strong>Defamatory</strong>: comments or images must not be defamatory. They must represent your honest opinion and must not be motivated by malice or any intention to gain financial advantage.  </p>
            <p><strong>Writing in capitals</strong>: do not write in capital letters – on the internet this is regarded as “shouting” and many people are offended by it.  </p>
            <p><strong>Be informative</strong>: ensure that your comment has enough information to describe your experience, and if you are commenting on a hospital, GP practice, dental practice or community NHS Service, provide enough information to assist someone else in making decisions about the service.  Up to 3 images can be uploaded to provide supporting evidence to a problem.</p>
            <p><strong>Abusive</strong>: comments containing swearing will be removed. People of all ages use Care Connect and language should be suitable for them.  Images in which users are making obscene gestures will be removed.</p>
            <p><strong>English</strong>: all comments on the website must be made in English. Comments and images in other languages will be removed.  </p>
            <p><strong>Stereotypes</strong>: comments that stereotype sections of society will be removed.  </p>
            <p><strong>Multiple posts</strong>: duplicate comments or images or repeats will be removed.</p>

        </div>

        <div id="contact-us" class="about-section">
            <div class="header">
                <h1>Contact us</h1>
            </div>

            <p>You can contact us <a href="{% url 'feedback' cobrand=cobrand.name %}"> using this form</a></p>

            <ul>
                <li>To give us feedback about this service</li>
                <li>To report a problem as unsuitable</li>
                <li>To let us know that your contact details are incorrect</li>
            </ul>
        </div>

        <div id="faqs" class="about-section">
            <div class="header">
                <h1>FAQs</h1>
            </div>

            <p><b>Q.</b> I can't find an NHS service provider?</p>

            <p><b>A.</b> The provider you are searching for may be not be in pilot at this time.</p>

            <p><b>Q.</b> I reported a problem a few days ago and I agreed for my problem to be publicly displayed but I cannot see the details, why?</p>

            <p><b>A.</b> All published comments have to follow our <a href="#comments-policy">comments policy</a>. If you comments have not yet appeared on the site, it's likely they are still undergoing moderation (usually within 24 hours) or have failed to meet the moderation criteria.</p>

            <p><b>Q.</b> What do I do if I change my mind about having the details of my problem made public?</p>

            <p><b>A.</b> Please <a href="{% url 'feedback' cobrand=cobrand.name %}">email with your reference number</a>. You may be asked a security question by our case handlers. They will then be able to assist with your request.</p>

            <p><b>Q.</b> How can I leave feedback about this pilot service?</p>

            <p><b>A.</b> All feedback is welcome; <a href="{% url 'feedback' cobrand=cobrand.name %}">please use this form</a>.</p>
        </div>

        <!--
        <div id="help-the-nhs" class="about-section">
            <div class="header">
                <h1>Help the NHS?</h1>
            </div>

            <p>Why not give something back? There are lots of ways you can get involved in helping your NHS. Here are just a few:</p>
        </div>
        -->

        <div id="help-us-develop-this-service" class="about-section">
            <div class="header">
                <h1>Help us develop this service</h1>
            </div>

            <p>We want to respond quickly to your concerns, compliments, suggestions and problems so that together we can build a better NHS. This new service is initially being piloted in London and parts of the North East of England before it is rolled out nationally to include a broader range of NHS and Local Authority services.</p>

            <p><a href="{% url 'feedback' cobrand=cobrand.name %}">We welcome your suggestions about how it can be improved</a>.</p>

            <p>This service complements and works to enhance the full range of patient feedback mechanisms that NHS providers use. Planned developments include adding the Friends and Family test results into the hospital profiles and developing mutual two-way data feeds with other providers of patient feedback.</p>
        </div>

        <!--
        <div id="see-more-conversations" class="about-section">
            <div class="header">
                <h1>See more conversations about the NHS</h1>
            </div>
        </div>
        -->

    </div>

    <div class="g  one-third">
        <ul class="side-nav">
            <li class="active"><a href="#about-this-service">About this service</a></li>
            <li><a href="#why-have-we-developed-this-service">Why have we developed this?</a></li>
            <li><a href="#share-your-experiences">Share your experiences</a></li>
            <li><a href="#ask-a-question">Ask a question</a></li>
            <li><a href="#submit-a-problem">Submit a problem</a></li>
            <li><a href="#live-map">Live map</a></li>
            <li><a href="#provider-summaries">Provider summaries</a></li>
            <li><a href="#problem-is-not-resolved">What can I do if my problem is not resolved?</a></li>
            <li><a href="#terms-and-conditions">Terms and Conditions</a></li>
            <li><a href="#privacy-and-cookie-policies">Privacy and Cookie Policies</a></li>
            <li><a href="#comments-policy">Comments Policy</a></li>
            <li><a href="#contact-us">Contact us</a></li>
            <li><a href="#faqs">FAQs</a></li>
            <!-- <li><a href="#help-the-nhs">Help the NHS?</a></li> -->
            <li><a href="#help-us-develop-this-service">Help us develop this service</a></li>
            <!-- <li><a href="#see-more-conversations">See more conversations about the NHS</a></li> -->
        </ul>
    </div>
</div>
{% endblock content %}

{% load staticfiles %}
{% block extra_js %}
{{ block.super }}

<script src="{% static 'js/jquery.scrollspy.js' %}"></script>
<script src="{% static 'js/side_nav.js' %}"></script>
<script>
    jQuery(document).ready(function($) {
        new SideNavView({el: $('.side-nav'), sections: $('.about-section')});
    });
</script>

{% endblock extra_js %}
