{% extends "citizenconnect/base.html" %}
{% load url from future %}

{% block title %}About{% endblock %}

{% block bodyclasses %}about{% endblock %}

{% block content %}
<div class="gw">
    <div class="g  two-thirds">

        <div id="about-this-service" class="about-section">
            <div class="header">
                <h1>About this service</h1>
            </div>

            <p>
            Help us to improve the NHS by acting as our &lsquo;eyes and ears&rsquo;, tell us what we are doing well and what we need to improve on, so that we can develop the best possible services. We want to ensure your voice is heard, listened to and acted upon.
            </p>

            <p>
            The service is simple, there are no gimmicks. We connect you quickly to people in the NHS who want to hear what you have to say. You can do this online or text us on 61114.
            </p>

            <p>
            Note, this is a pilot stage of the on-line service and is being tested in London and parts of the North East of England. <a href="{% url 'feedback' cobrand=cobrand.name %}">We would welcome any comments or suggestions</a> for improvements before we share it with NHS users across the country.
            </p>

            <p>Here’s how it works:-</p>

            <div class="gw">
                <div class="g  one-third">
                    <h2 class="step_title--green">Share your experience</h2>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>
                    Share your experience - tell us about when you have experienced good care and when you have not. We also want to hear about your suggestions for what we can do to improve.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h2 class="step_title--orange">Ask a question</h2>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>
                    Receive an online answer to your questions about NHS services. To make it easier we have also included some quick links to the most commonly asked questions.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h2 class="step_title--blue">Report a problem</h2>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>
                    If you have a problem that needs resolving, or you want to report something that needs our attention, submit it here and we will connect you directly with people at the NHS service who are best placed to help.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h2 class="step_title">See how local services are responding in real time</h2>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>
                    Our live map and summary tables show how NHS providers are responding to people in real time.
                    </p>
                </div>
            </div>

            <p>
            Together we can build a better NHS
            </p>

        </div>

        <div id="why-have-we-developed-this-service" class="about-section">
            <div class="header">
                <h1>Why Have We Developed This Service?</h1>
            </div>

            <p>
            The NHS Constitution explains how the NHS is accountable to you. It tells you how we will ensure NHS health and care services in England are delivered to the highest quality standard.
            </p>

            <p>
            This new online service is part of our commitment. It gives you a direct route to find out information, ask us questions, get problems resolved and let us know what you think of the services you experience.
            </p>

            <p>
            By listening to you we can make sure that NHS services are based on the needs of patients and their families. Be our eyes and ears and help us build a better NHS.
            </p>
        </div>

        <div id="share-your-experiences" class="about-section">
            <div class="header">
                <h1 class="about_section_heading--green">Share your experiences</h1>
            </div>

            <p>
            In the same way that you can leave online reviews about your experiences with other services, and give them star ratings, you are invited to share here your recent NHS experience.
            </p>

            <p>Tell us what went well - it&rsquo;s a real boost to staff.</p>

            <p>Tell us when things have not gone well - we want to understand so that we take steps to improve.</p>

            <p>We also want to hear about your suggestions to help us improve. There are just 6 easy steps:</p>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--green">Step 1</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--green">
                    <p>Click on Share your Experience on the homepage</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--green">Step 2</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--green">
                    <p>Find the NHS provider</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--green">Step 3</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--green">
                    <p>Type the details of your experience into the online form</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--green">Step 4</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--green">
                    <p>Select the star ratings you would like to award to the various aspects of your experience</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--green">Step 5</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--green">
                    <p>Share a few details about the time of your visit and your contact details</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--green">Step 6</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--green">
                    <p>Read the T&amp;Cs and press submit</p>
                </div>
            </div>

            <p>You can click on 'provider summaries' and select the name of the NHS provider to see all their reviews.</p>

        </div>

        <div id="ask-a-question" class="about-section">
            <div class="header">
                <h1 class="about_section_heading--orange">Ask a question</h1>
            </div>

            <p>It can be confusing to know where to go to get answers to questions you may have about the NHS so we&rsquo;ve made it easy for you by having one single place for you to post your questions. There are just 4 simple steps:</p>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--orange">Step 1</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--orange">
                    <p>Click on Ask a Question on the homepage</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--orange">Step 2</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--orange">
                    <p>Enter your details on our Online Enquiry Service form</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--orange">Step 3</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--orange">
                    <p>Confirm all the details are right</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--orange">Step 4</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--orange">
                    <p>Press submit</p>
                </div>
            </div>

            <p>We've also created a section on <a href="{% if cobrand.name == 'choices' %}{% url 'common-questions' cobrand=cobrand.name %}{% else %}http://www.nhslondon.lampuat64-1.rroom.net/{% endif %}">commonly asked questions</a> which may help you find the information you want more quickly - simply click on Commonly Asked Questions in the top navigation bar.</p>

            <p>Please note this is not a medical service so if you have a question or are concerned about a medical problem, why not use our <a href="http://www.nhs.uk/NHSdirect/pages/symptoms.aspx" target="_blank">Symptom Checker</a>?</p>
        </div>

        <div id="submit-a-problem" class="about-section">
            <div class="header">
                <h1 class="about_section_heading--blue">Submit a problem</h1>
            </div>

            <p>People tell us that they often want to get their issue about an NHS service resolved quickly but do not always know how to do this. Simply tell us about it here and we will send it on your behalf to people in the NHS service that are best able to help. A problem fixed is a positive outcome for you and for the NHS. It's quick and easy to do in just 6 simple steps:</p>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--blue">Step 1</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--blue">
                    <p>Click on Report a Problem on the homepage</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--blue">Step 2</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--blue">
                    <p>Find the NHS provider</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--blue">Step 3</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--blue">
                    <p>Type the details of your problem into the online form</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--blue">Step 4</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--blue">
                    <p>Allocate a category and a service</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--blue">Step 5</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--blue">
                    <p>Decide if you want to make the details of your problem visible to the public, or kept private between you and the NHS</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step_title  step_title--blue">Step 6</h2>
                </div>
                <div class="g  five-sixths  step_wording  step_wording--blue">
                    <p>Read the T&amp;Cs and Submit (You will receive a confirmation number which you can use to track the status of your problem)</p>
                </div>
            </div>

            <h2>What happens next?</h2>

            <p>We will send your problem report to the NHS provider immediately. They will then contact you directly to try to get it resolved.</p>

            <p>You can expect to receive an acknowledgement from the NHS provider. The NHS provider will agree with you the expected time to get your problem resolved. If your problem requires a more detailed response or formal investigation, the NHS provider will work with you to ensure this happens.</p>

            <p>If you have chosen to make the details of your problem visible to the public (to help others who may be experiencing something similar) this will appear a short while later after passing through our <a href="#comments-policy">moderation process</a>. You can use your reference number to track the progress of your problem.</p>

            <p>The NHS provider will change the status of your problem from 'open' to 'in progress' when they make contact with you. When your problem has been resolved the status will be changed to 'closed'. This removes it from the live map but it will still be visible on the NHS provider summary.</p>

            <h2>What does the status means?</h2>

            <div class="gw">
                <div class="g  one-third">
                    <h2 class="step_title">Open</h2>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>This means your problem has been forwarded to the NHS provider and appears on the live map and the provider summary.</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h2 class="step_title">In-Progress</h2>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>This means the NHS provider has received your problem and will contact you directly to work out how best to resolve it.</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h2 class="step_title">Closed</h2>
                </div>
                <div class="g  two-thirds  step_wording">
                    <p>This means your problem has been resolved and marked as 'closed' by the NHS provider. It will no longer appear on the live map but will still be visible on the provider summary.</p>
                </div>
            </div>

            <p>You will receive an email asking you to complete a short survey 3 weeks after posting your problem to find out if you feel your problem was resolved. The results of this survey will be published on this site.</p>

            <p>Please note this is not a medical service so if you if you have a question or are concerned about a medical problem may want to use our <a href="http://www.nhs.uk/NHSdirect/pages/symptoms.aspx" target="_blank">Symptom Checker?</a></p>

            <p>If you have an urgent medical problem dial 111</p>
        </div>

        <div id="live-map" class="about-section">
            <div class="header">
                <h1>Live map</h1>
            </div>

            <p>You can look up your local NHS provider on our live map and see what issues are being responded to in real time.</p>

            <p>The map shows the number of problems that have been submitted. A blue dot on the map marks the location of the NHS provider. The darker the shade of blue indicates the higher the number of problems that are currently 'open' or 'in progress'.</p>

            <p>Type in the postcode or the name of the NHS provider to zoom in on a specific area of the map.</p>

            <p>Hover over a dot to see an 'at a glance' summary.</p>

            <p>Click on the dot to go to the NHS provider summary where your can track your problem using your booking reference number and also see what others have reported and how the NHS is responding.</p>

            <p>If you cannot see the NHS provider you are looking for, it may be that they are not currently participating in the pilot service.</p>

            <p><em>Note: A higher number of problems may not necessarily indicate a poorly performing NHS provider - it could be that they are actively promoting this feedback service. Check out their summary page to see how they are doing.</em></p>

            <p>A problem fixed is a positive outcome for you and the NHS.</p>

        </div>

        <div id="provider-summaries" class="about-section">
            <div class="header">
                <h1>Provider summaries</h1>
            </div>

            <p>Click on 'provider summaries' on the top navigation bar to see more information about problems reported.</p>

            <p>You can filter by NHS provider, service/department, category and status. Click on each section to see more detail, including any responses from the NHS provider.</p>

            <p>If you have submitted a problem - the category of your problem and the name of the service/department will automatically appear. If you have chosen to make the details of your problem public (to help others who may be experiencing something similar) this will appear a short while later after passing through our <a href="#comments-policy">moderation process</a>. You can use your booking reference number to track the progress of your problem.</p>
        </div>

        <div id="problem-is-not-resolved" class="about-section">
            <div class="header">
                <h1>What can I do if my problem is not resolved?</h1>
            </div>

            <p>Our aim is to try to get problems resolved locally with your NHS provider as far as we can. If you are not satisfied with the final response you received about your problem from the local service provider and feel that all efforts for a local resolution have been exhausted, you may wish to take it further by contacting the Health Service Ombudsman.</p>

            <p>The Health Service Ombudsman’s role is to investigate complaints that individuals have been treated unfairly or received poor service from the NHS in England.  You can contact them to find out how they can help by:</p>

            <ul class="vcard">
                <li>Visiting <a class="url" href="http://www.ombudsman.org.uk/make-a-complaint/how-to-complain" target="_blank">their website</a></li>

                <li>
                    Calling <span class="tel">0345 015 4033</span>
                    <span class="note">(staff are available Monday to Friday from 8.30am to 5.30pm)
                    (if you are deaf or have problems using a standard telephone please call 0300 061 4298 using a textphone)</span>
                </li>

                <li>Email: <a class="email" href="mailto:phso.enquiries@ombudsman.org.uk">phso.enquiries@ombudsman.org.uk</a></li>

                <li class="telephone">Text 'call back' with your name and mobile number to <span class="tel">07624 813 005</span> and they will call you back</li>
            </ul>

            <div class="adr">
                <p>Or you can write to the <span class="fn">Health Service Ombudsman</span> at:</p>
                <span class="street-address">Millbank Tower</span><br>
                <span class="region">Millbank</span><br>
                <span class="postal-code">London SW1P 4QP</span>
            </div>

            <p>Please remember: The Ombudsman will normally only take on a complaint after you have first tried to resolve the issues with the NHS provider involved and have received a final response from them.</p>

            <p>You will also need to tell them how you have been affected by the issues you are complaining about (or, if you are complaining on behalf of somebody else, how they have been affected).</p>
        </div>

        <div id="terms-and-conditions" class="about-section">
            <div class="header">
                <h1>Terms and Conditions</h1>
            </div>

            <p>The terms and conditions for this service are created to help you understand how we will use the information you give us and what you can expect to happen. These are essential to protect both you and your privacy and also to make it fair for the services you contact us about, so that they get a chance to take your feedback and solve your problems.</p>

            <h2>1. Introduction</h2>
            <p>1.1 The Secretary of State for Health (“We”) owns Care Connect. You may access and use this service if you agree to be legally bound by the terms set out below. Continued use of Care Connect shall be considered consent to these Terms and Conditions.</p>
            <p>1.2 Care Connect is only intended for use by people who live in England.</p>
            <p>2. Changes to terms</p>
            <p>2.1 We may make changes to Care Connect, including these Terms and Conditions, at any time. You will be bound by the terms published on-line at the time You use Care Connect. We have no obligation to inform you of such changes.</p>

            <p>3. Intellectual property rights</p>
            <p>3.1 The materials, information, data and other content included on Care Connect is subject to Crown copyright. You may copy, download, adapt or print off copies of such materials, information, data and other content for non-commercial use, including personal use, or for use by a registered charity, a not-for-profit organisation or a public sector body. You will need to obtain permission in writing from Us before You make any other use of Care Connect content. Requests for such information should be made in writing to ccfeedback@nhs.net</p>
            <p>3.2 The rights in images, trade marks, trade names, logos included on Care Connect are owned by Us and/or third parties. You will need to obtain permission in writing from Us or the owner before You may use these images, trade marks, trade names, logos in any way.</p>
            <p>3.3 You warrant that You own the copyright and any other form of intellectual property in any image or other material You post on Care Connect. You agree to indemnify Us against any claim, losses or other liability that We suffer or incur as a result of any third party claims.</p>
            <p>3.4 You agree to provide us with a worldwide, royalty-free, irrevocable, non-exclusive, delegable and otherwise unrestricted licence to use, modify, publish, adapt, distribute and otherwise exploit (including commercially) any copyright and other intellectual property right contained in any material posted on Care Connect or otherwise provided to Us.</p>
            <p>3.5 You unconditionally and irrevocably agree to waive all moral rights in any material posted on Care Connect or otherwise provided to Us.</p>
            <p>4. Disclaimer medical information</p>
            <p>4.1 Care Connect allows the public to comment on their care. Some comments from the public may include medical information. We make no claims about the accuracy of such information In general We do not think it is reasonable to rely on such comments. If You are concerned about your health You should contact a health professional.</p>
            <p>4.2 Care Connect does not give medical advice in relation to any individual case or patient, nor does Care Connect provide medical or diagnostic services.   Care Connect may transfer or point your enquiry to a more suitable source of information as it considers appropriate.</p>
            <p>5. Third party websites</p>
            <p>5.1 We do not monitor the content of third party websites. Any link provided on Care Connect is solely for your convenience. Care Connect does not accept any responsibility for any third party website.</p>

            <p>6. Liability</p>
            <p>6.1 Care Connect is made available by the Licensor on an "as is" and  "as available" basis and We gives no warranty of any kind in relation to it. All implied warranties are similarly excluded, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, compatibility, and accuracy.</p>
            <p>6.2 To the maximum extent permitted by law, We exclude all liability to You  or any third party for any loss or damage howsoever arising out of or in connection with services provided through Care Connect. Whether the losses were foreseen, foreseeable, unforeseen, unforeseeable, known, unknown or otherwise. These include but are not limited to:</p>

            <p>(a) loss which arose when You first accessed or registered to use Care Connect (even if that loss results from the our failure to comply with these terms or our negligence);</p>
            <p>(b) any business loss You may suffer, including loss of revenue, loss of profits or loss of anticipated savings (whether those losses are the direct or indirect result of our default);</p>
            <p>(c) loss which You suffer other than as a result of our failure to comply with these terms or our negligence or breach of statutory duty;</p>
            <p>(d) any loss suffered due to the default of any party other than Us.</p>
            <p>6.3 Care Connect is an information service. It is for the relevant healthcare provider to address any issue raised on Care Connect not Us.</p>
            <p>6.4 We do not warrant that Care Connect or any content will be available uninterrupted or error free, that defects will be corrected, or that Care Connect or its supporting systems are free of viruses or bugs.</p>
            <p>6.5 Notwithstanding the foregoing We do not seek to waive any liability for death or personal injury caused by Our negligence. We also do not seek to waive liability in relation to our Fraud.</p>
            <p>6.6 Care Connect does not give any commitments or accept any liability to you in respect of Care Connect content provided by other users of the website or third parties.</p>
            <p>6.7 Health – Care Connect may direct you to other sources of information for medical advice. We do not accept any liability in respect of such sites.</p>
            <p>6.8 Care Connect should not be used for emergency or urgent medical complaints or advice.  For immediate, life-threatening emergencies, you should dial 999.</p>
            <p>7. Remedies</p>
            <p>7.1 Should We need to get in touch with You and are unable to do so we will remove any comment and/ or image(s) you have made on Care Connect. We reserve the right to validate any email or contact points and if found to be invalid we will remove that comment.</p>
            <p>8. General</p>
            <p>8.1 If any of these terms are determined to be illegal, invalid or otherwise unenforceable then the remaining terms shall remain in full force and effect.</p>
            <p>8.2 These terms shall be governed by and interpreted in accordance with the laws of England.</p>
            <p>Patient feedback</p>
            <p>9. Registration</p>
            <p>9.1 To post messages you must provide a valid e-mail address or telephone number and any other information we request.</p>

            <p>10. Postings</p>
            <p>10.1 Postings you make to Care Connect shall not be treated as confidential.</p>
            <p>10.2 You are legally responsible for the content of any material you submit for posting on Care Connect. This shall include but is not limited to any images.</p>
            <p>10.3 Subject to clause 3.4 We shall own any material posted on Care Connect.</p>

            <p>11. Editorial control of 'Patient feedback'</p>
            <p>11.1 We reserve the right (on behalf of ourselves and any moderator which we may appoint):</p>

            <p>(a) to edit, not put on the website or delete any posts you submit. We will endeavour to notify you of any editing or deletion of any posts but You agree that We are not required to do so and nor do we require your permission (express or implied) to do so; or</p>
            <p>(b) to take any other action against your registration if, in our view, you have not complied with the rules of conduct set out below.</p>
            <p>12 Conduct</p>
            <p>12.1 If You are under 16 You must seek your parent's or guardian's consent before You submit a posting.</p>
            <p>12.2 Comments or other material (including images) posted:</p>
            <p>(a) On “Share Your Experience” should relate to Your own personal experience.  You must not name any individuals (other than yourself) or include information through which someone else could identify such an individual.  If You want to comment on someone else’s experience, (e.g. a relative or someone you care for) then You may do so if you ensure that you are not named in the posting and you state how the other person is  connected to you (e.g. “my father”).</p>
            <p>(b) On “Problems” can name individuals to allow a provider to fully investigate and respond to the problem raised, however this information will be subject to moderation (and therefore removed) before publishing (if publish permission is selected) as per the moderation guidelines. If You are logging a problem on Care Connect on behalf of someone else, you must ensure you have gained their consent before logging that problem.</p>
            <p>(c) should be relevant to helping people make choices about places where they can receive medical treatment.  They should be constructive, truthful, and not abusive.  We will remove any comment or other material posted that is irrelevant, abusive or otherwise objectionable will be removed.</p>
            <p>12.3.  You should not use the Share Your Experience or Question functionality of 'Care Connect' to make complaints about individual hospitals, GP practices or other treatment centres if you wish the matter to be dealt with under the NHS complaints procedures. You can raise a complaint via the Report a Problem function, however you may be required to follow local provider procedures to progress your complaint.</p>
            <p>You can also find details on how to raise a complaint in the About Us section.</p>
            <p>12.4.  If you find any postings offensive or objectionable on “Share Your Experience & Report a Problem”  - you may make a complaint to the moderator by using the ‘report as unsuitable’ link. Any action or failure to act in response to such a report is entirely at Our discretion.</p>

        </div>

        <div id="privacy-and-cookie-policies" class="about-section">
            <div class="header">
                <h1>Privacy and Cookie Policies</h1>
            </div>

            <p>
              <strong>Insert privacy policy and cookie policy here</strong>. See <a href="https://github.com/mysociety/citizenconnect/issues/708">issue #708 for privacy</a> and <a href="https://github.com/mysociety/citizenconnect/issues/572">#572 for cookies</a>.
            </p>

        </div>

        <div id="comments-policy" class="about-section">
            <div class="header">
                <h1>Comments policy</h1>
            </div>

            <p>
              <strong>Insert comments policy here</strong>. See <a href="https://github.com/mysociety/citizenconnect/issues/709">issue #709</a>.
            </p>

        </div>

        <div id="contact-us" class="about-section">
            <div class="header">
                <h1>Contact us</h1>
            </div>

            <p>You can contact us <a href="{% url 'feedback' cobrand=cobrand.name %}"> using this form</a></p>

            <ul>
                <li>To give us feedback about this service</li>
                <li>To contact us</li>
            </ul>
        </div>

        <div id="faqs" class="about-section">
            <div class="header">
                <h1>FAQs</h1>
            </div>

            <p>I can't find an NHS service provider?</p>

            <p>The provider you are searching for may be not be in pilot at this time.</p>

            <p>I reported a problem a few days ago and I agreed for my problem to be publicly displayed but I cannot see the details, why?</p>

            <p>All published comments have to follow our <a href="#comments-policy">comments policy</a>. If you comments have not yet appeared on the site, it's likely they are still undergoing moderation (usually within 24 hours)</p>

            <p>What do I do if I change my mind about having the details of my problem made public?</p>

            <p>Please <a href="{% url 'feedback' cobrand=cobrand.name %}">email with your reference number</a>. You may be asked a security question by our case handlers. They will then be able to assist with your request.</p>

            <p>How can I leave feedback about this pilot service?</p>

            <p>All feedback is welcome; <a href="{% url 'feedback' cobrand=cobrand.name %}">please use this form</a>.</p>
        </div>

        <!--
        <div id="help-the-nhs" class="about-section">
            <div class="header">
                <h1>Help the NHS?</h1>
            </div>

            <p>Why not give something back? There are lots of ways you can get involved in helping your NHS. Here are just a few:</p>
        </div>
        -->

        <div id="help-us-develop-this-service" class="about-section">
            <div class="header">
                <h1>Help us develop this service</h1>
            </div>

            <p>We want to respond quickly to your concerns, compliments, suggestions and problems so that together we can build a better NHS. This is a new service is initially being piloted in London and parts of North East England before it is rolled out nationally and expands to include a broader range of NHS and Local Authority services.</p>

            <p>Please <a href="{% url 'feedback' cobrand=cobrand.name %}">give us your suggestions on how it can be improved</a></p>
        </div>

        <!--
        <div id="see-more-conversations" class="about-section">
            <div class="header">
                <h1>See more conversations about the NHS</h1>
            </div>
        </div>
        -->

    </div>

    <div class="g  one-third">
        <ul class="side-nav">
            <li class="active"><a href="#about-this-service">About this service</a></li>
            <li><a href="#why-have-we-developed-this-service">Why have we developed this?</a></li>
            <li><a href="#share-your-experiences">Share your experiences</a></li>
            <li><a href="#ask-a-question">Ask a question</a></li>
            <li><a href="#submit-a-problem">Submit a problem</a></li>
            <li><a href="#live-map">Live map</a></li>
            <li><a href="#provider-summaries">Provider summaries</a></li>
            <li><a href="#problem-is-not-resolved">What can I do if my problem is not resolved?</a></li>
            <li><a href="#terms-and-conditions">Terms and Conditions</a></li>
            <li><a href="#comments-policy">Comments Policy</a></li>
            <li><a href="#contact-us">Contact us</a></li>
            <li><a href="#faqs">FAQs</a></li>
            <!-- <li><a href="#help-the-nhs">Help the NHS?</a></li> -->
            <li><a href="#help-us-develop-this-service">Help us develop this service</a></li>
            <!-- <li><a href="#see-more-conversations">See more conversations about the NHS</a></li> -->
        </ul>
    </div>
</div>
{% endblock content %}

{% load staticfiles %}
{% block extra_js %}
{{ block.super }}

<script src="{% static 'js/jquery.scrollspy.js' %}"></script>
<script src="{% static 'js/side_nav.js' %}"></script>
<script>
    jQuery(document).ready(function($) {
        new SideNavView({el: $('.side-nav'), sections: $('.about-section')});
    });
</script>

{% endblock extra_js %}
