{% load staticfiles %}{% load url from future %}{% load compressed %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block fulltitle %}{% block title %}{% endblock %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        {% block extra_headers %}{% endblock %}

        {% block extra_initial_css %}{% endblock extra_initial_css %}

        {% compressed_css 'default' %}

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{% static 'css/leaflet.ie.css' %}" />
        <![endif]-->

        <!-- Another hack to work under the NHS proxy. We need to specify an absolute path
        to the boxsizing.htc behaviour file for it to work, so we need to inline the css
        here to get that absolute url from Django -->
        <!--[if lte IE 7]>
        <style type="text/css">
            * {
                behavior: url({{ settings.STATIC_URL }}boxsizing.htc);
            }
        </style>
        <![endif]-->

        {% if cobrand %}
          {% include cobrand.styles_template %}
        {% endif %}
        {% block extra_css %}{% endblock %}

        <!--[if lte IE 7]>
            <script type="text/javascript" src="{% static "js/fonts-lte-ie7.js" %}"></script>
        <![endif]-->
    </head>

    <body class="{% block bodyclasses %}{% endblock %}{% if site_section %}  site-section-{{ site_section }}{% endif %}">

        {% if cobrand %}
            {% include cobrand.header_template %}
        {% endif %}
        <div id="container" class="{% block containerclasses %}container{% endblock %}">

            {% include 'citizenconnect/includes/nav.html' %}

            {% block content %}
            {% endblock %}

            {% include 'citizenconnect/includes/footer.html' %}

        </div>
        {% if cobrand %}
            {% include cobrand.footer_template %}
        {% endif %}

    <!-- Scripts at the bottom, as per html5bp -->

    <script>
        var docEl = document.documentElement;
        docEl.className = docEl.className.replace(/\bno-js\b/,'') + ' js';
    </script>

    {% compressed_js 'frameworks' %}
    {% compressed_js 'careconnect' %}

    {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    {% endif %}

    {% block extra_js %}{% endblock %}

    </body>
</html>
