{% load staticfiles %}{% load url from future %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block fulltitle %}{% block title %}{% endblock %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        {% block extra_headers %}{% endblock %}

        {% block extra_initial_css %}{% endblock extra_initial_css %}

        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{% static 'css/leaflet.ie.css' %}" />
        <![endif]-->
        <link rel="stylesheet" href="{% static 'css/placeholder_polyfill.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
        <!-- Another hack to work under the NHS proxy. We need to specify an absolute path
        to the boxsizing.htc behaviour file for it to work, so we need to inline the css
        here to get that absolute url from Django -->
        <!--[if lte IE 7]>
        <style type="text/css">
            * {
                behavior: url({{ settings.STATIC_URL }}boxsizing.htc);
            }
        </style>
        <![endif]-->
        {% if cobrand %}
          {% include cobrand.styles_template %}
        {% endif %}
        {% block extra_css %}{% endblock %}

        <!--[if lte IE 7]>
            <script type="text/javascript" src="{% static "js/fonts-lte-ie7.js" %}"></script>
        <![endif]-->
    </head>

    <body class="{% block bodyclasses %}{% endblock %}{% if site_section %}  site-section-{{ site_section }}{% endif %}">
        <!-- Dirty dirty dirty! Qe need this to extract the base url from
        via javascript so that we can build decent urls for ajax requests
        when behind the NHS proxy. Their proxy will rewrite this from / to
        something else, and we need to know what that is. -->
        <a class="hide-text" id="base-url" href="/">Home</a>

        {% if cobrand %}
            {% include cobrand.header_template %}
        {% endif %}
        <div id="container" class="{% block containerclasses %}container{% endblock %}">

            {% include 'citizenconnect/includes/nav.html' %}

            {% block content %}
            {% endblock %}

            {% include 'citizenconnect/includes/footer.html' %}

        </div>
        {% if cobrand %}
            {% include cobrand.footer_template %}
        {% endif %}
    <!-- Scripts at the bottom, as per html5bp -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/jquery-1.9.0.min.js" %}"><\/script>')</script>
    <script>
        var docEl = document.documentElement;
        docEl.className = docEl.className.replace(/\bno-js\b/,'') + ' js';
    </script>
    <script src="{% static 'js/placeholder_polyfill.jquery.min.combo.js' %}"></script>
    <script src="{% static 'js/tables.js' %}"></script>
    <script src="{% static 'js/filters.js' %}"></script>
    <script type="text/javascript">
        window.CitizenConnect = window.CitizenConnect || {};
        $(function(){
            // Dirty! See the comment by the link we get this from for why
            // we slice off the last char because it'll be a /, and the relative urls
            // we'll append to this already start with /
            window.CitizenConnect.base_url = $("#base-url").attr('href').slice(0, -1);
        });
    </script>

    {% if cobrand %}
        {% include cobrand.scripts_template %}
    {% endif %}

    {% block extra_js %}{% endblock %}

    </body>
</html>
