{% extends "citizenconnect/base.html" %}
{% load url from future %}


{% block bodyclasses %}homepage{% endblock %}

{% block content %}
<div class="header">
    <h1>Dev Hompage</h1>

    <p class="info">
      You are seeing this page because in the settings
      <code>STAGING=True</code>. When <code>False</code> you'd be redirected to
      the primary cobrand instead.
    </p>

</div>

<div>
    <h2>Public Pages</h2>
    <a href="{% url 'home' cobrand='choices' %}">Public Choices frontpage</a> or
    <a href="{% url 'home' cobrand='myhealthlondon' %}">Public MyHealth London frontpage</a>
    and (<a href="/static/mhl_iframe_wrapper.html">MHL iframe</a>)
    <ul>
        <li><a href="{% url 'public-org-summary' cobrand='choices' ods_code='H85111' %}">Example GP Outcomes Summary</a></li>
        <li><a href="{% url 'public-org-problems' cobrand='choices' ods_code='H85111' %}">Example GP Public Problems</a></li>
        <li><a href="{% url 'review-organisation-list' cobrand='choices' ods_code='H85111' %}">Example GP Reviews</a></li>
        <li><a href="{% url 'public-org-summary' cobrand='choices' ods_code='RJ701' %}">Example Hospital Outcomes Summary</a></li>
        <li><a href="{% url 'public-org-problems' cobrand='choices' ods_code='RJ701' %}">Example Hospital Public Problems</a></li>
        <li><a href="{% url 'review-organisation-list' cobrand='choices' ods_code='RJ701' %}">Example Hospital Reviews</a></li>
    </ul>
</div>

<div>
    <h2>Private Pages</h2>
    <ul>
        <li><a href="{% url 'superuser-dashboard' %}">Superuser dashboard (lists all ccgs and trusts)</a></li>
        <li><a href="{% url 'moderate-home' %}">Moderation queue</a></li>
        <li><a href="{% url 'moderate-lookup' %}">Moderation lookup</a></li>
        <li><a href="{% url 'second-tier-moderate-home' %}">Second tier moderation queue</a></li>
        <li><a href="{% url 'org-parent-dashboard' code='YYYYYYY' %}">Example Trust dashboard</a></li>
        <li><a href="{% url 'ccg-dashboard' code='XXXXXXX' %}">Example CCG dashboard</a></li>
        <li><a href="{% url 'private-org-summary' ods_code='H85111' %}">Example GP private summary</a></li>
        <li><a href="{% url 'private-org-summary' ods_code='RJ701' %}">Example hospital private summary</a></li>
    </ul>
    <h2>Not currently used</h2>
    <ul>
        <li><a href="{% url 'escalation-dashboard' %}">Escalation dashboard</a></li>
    </ul>
</div>

<div>
    <h2>Fast user switching</h2>

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      <input type="hidden" name="password" value="password" />
      <select name="username" onchange="this.form.submit()">
          <option value="">Pick one, currently {% firstof user.username 'not logged in' %}</option>
        {% for u in users %}
          <option>{{ u.username }}</option>
        {% empty %}
          <option value=''>No users found, try "./manage.py loaddata development_users.json"</option>
        {% endfor %}
      </select>
    </form>

    </ul>
</div>

<div>
    <h2>Django Admin pages</h2>
    <ul>
        <li><a href="/admin">Admin</a></li>
    </ul>
</div>

{% endblock %}
