{% extends "citizenconnect/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load utils %}

{% block title %}Home{% endblock %}

{% block bodyclasses %}homepage{% endblock %}

{% block content %}
<div class="gw  mb  mt--b">
    <div class="g  two-thirds  palm-one-whole">
        <p><b>Care Connect</b></p>
        <p class="intro-text mt">Tell us when things are going well and when they're not, so we can do something about it.
            You can do this online here, or contact us using the channels at the bottom of the page.</p>
        <p class="intro-text mt">This is a 24 hours 7 days a week service, however currently it is only live for parts of London and the North East of England - other areas will be added soon.</p>
        <p class="intro-text mt">Please be aware that this service cannot provide medical support or advice.</p>
    </div>
    <div class="g  one-third  palm-one-whole">
        <div class="islet  islet--white">

             <div class="islet problem-search">

                {% if form.non_field_errors %}
                    {% include "citizenconnect/includes/message_list.html" with messages=form.non_field_errors message_type='error' %}
                {% endif %}


                <form method="post">
                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <label for="id_reference_number">Check status of Problem</label>

                    <input type="text" name="reference_number" id="id_reference_number"  class="text-input  one-whole" placeholder="Enter your problem reference number"/>


                   <button type="submit" class="btn btn--blue  btn--no-border"><span class="icon-chevron-right" aria-hidden="true"></span><span class="hide-text">Find</span></button>
                </form>
            </div>


        </div>
    </div>
</div>

{% include 'citizenconnect/includes/homepage-main-options.html' %}

<hr class="hr--big  mt--b  mb--b">

<div class="gw">
    <div class="g  two-thirds  palm-one-whole">
        <div class="bordered-box">
            <h2 class="feed-list__heading">Live Feedback</h2>
            <ul class="feed-list">

                {% for issue in issues %}
                    {% if issue|classname == 'Problem' %}
                        {% include 'citizenconnect/includes/feed_problem.html' with problem=issue %}
                    {% elif issue|classname == 'Review' %}
                        {% include 'citizenconnect/includes/feed_review.html' with review=issue score=issue.main_rating_score %}
                    {% endif %}
                {% endfor %}
            </ul>
            <p class="align-center"><a href="{% url 'live-feed' cobrand=cobrand.name %}" class="btn btn--light-green">View all</a></p>
        </div>
    </div>
    <div class="g  one-third  palm-one-whole">
        <div class="bordered-box  homepage-map-box">
            <img src="{% static 'img/homepage-map.jpg' %}">

            <div class="map-links">
                <span class="map-text mb mt--s">See problems and reviews in our pilot areas</span>

                <div class="gw">
                    <div class="g one-whole mb--s">
                        <input type="text" id="map-search-org-name" data-search-url="{% url 'org-map-search' cobrand=cobrand.name %}" data-map-url="{% url 'org-map' cobrand=cobrand.name %}" />
                    </div>
                </div>


            </div>
        </div>

        <div class="mt">
        </div>
    </div>
</div>


<div class="gw">
    <div class="g  two-thirds  palm-one-whole">
        <div class="news-articles">
            <h2 class="title  title--news  mb--s">Latest News</h2>
            {% for article in recent_articles %}
                {% include 'news/includes/article_in_list.html' with article=article %}
            {% endfor %}
            <div class="align-center">
                <a href="{% url 'article-list' cobrand=cobrand.name %}" class="coloured-link">View all news <span class="icon-chevron-right" aria-hidden="true"></span> </a>
            </div>
        </div>

    </div>

    <div class="g  one-third  palm-one-whole">
        <h2 class="title  title--news  mb--s">Twitter</h2>
        {% include "citizenconnect/includes/twitter_timeline.html" %}
    </div>
</div>

{% include 'citizenconnect/includes/contact_numbers.html' %}

{% include 'citizenconnect/includes/emergency_numbers.html' %}

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    jQuery(function($) {

        var $searchBox = $("#map-search-org-name");

        $searchBox.select2({
            minimumInputLength: 1,
            placeholder: "Search the map",
            dropdownAutoWidth: true,
            ajax: {
                url: $searchBox.data('search-url'),
                dataType: 'json',
                data: function(term, page) {
                    return {
                        term: term
                    };
                },
                results: function(data, page) {
                    return {results: data};
                }
            }
        });

        $searchBox.on('change', function(e) {
            // Redirect to the map page
            if (e.added.type === "organisation") {
                window.location = $searchBox.data('map-url') + '?ods_code=' + e.added.id;
            } else {
                window.location = $searchBox.data('map-url') + '?lon=' + e.added.lon + '&lat=' + e.added.lat;
            }
        });
    });
</script>

{# Twitter embedded timeline activation js - place last on page to prevent blocking #}
<script src="{% static 'js/twitter-embed.js' %}"></script>

{% endblock extra_js %}
