{% extends "citizenconnect/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load utils %}

{% block title %}Live Feed{% endblock %}

{% block bodyclasses %}live-feed{% endblock %}

{% block content %}

<div class="header">
    <h1>Live Feed</h1>
</div>

<p class="lead">These are the problems and reviews since {{ cutoff_date }}.</p>

<form class="filters  gw  gw--no-gutters" action="{{ request.path }}" method="GET">

    <div class="g  one-whole">
        {{ form.organisation.label }}:
        {{ form.organisation }}
    </div>

    <div class="g  one-half">
        {{ form.start.label }}:
        {{ form.start }}
    </div>

    <div class="g  one-half">
        {{ form.end.label }}:
        {{ form.end }}
    </div>

    <div class="g one-whole">
        <input type="submit" value="Filter" class="btn  palm-one-whole">
    </div>
</form>

<ul class="feed-list">
    {% for issue in issues %}
        {% if issue|classname == 'Problem' %}
            {% include 'citizenconnect/includes/extended_feed_problem.html' with problem=issue %}
        {% elif issue|classname == 'Review' %}
            {% include 'citizenconnect/includes/extended_feed_review.html' with review=issue score=issue.main_rating_score %}
        {% endif %}
    {% endfor %}
</ul>

{% include 'citizenconnect/includes/live_feed_paginator.html' with page_obj=issues %}

{% endblock content %}
