{% extends "citizenconnect/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load utils %}

{% block title %}Live Feed{% endblock %}

{% block bodyclasses %}live-feed{% endblock %}

{% block content %}

<div class="header">
    <h1>Live Feed</h1>
</div>

<p class="lead">These are the problems and reviews for the last {{ cutoff_days }} day{{ cutoff_days|pluralize }}.</p>

<p>TODO: filters</p>

<ul class="feed-list">
    {% for issue in issues %}
        {% if issue|classname == 'Problem' %}
            {% include 'citizenconnect/includes/extended_feed_problem.html' with problem=issue %}
        {% elif issue|classname == 'Review' %}
            {% include 'citizenconnect/includes/extended_feed_review.html' with review=issue score=issue.main_rating_score %}
        {% endif %}
    {% endfor %}
</ul>

{% endblock content %}
