{% extends "citizenconnect/base.html" %}
{% load url from future %}


{% block title %}
  Pick Provider
  {% if title_text %} - {{ title_text }}{% endif %}
{% endblock %}

{% block bodyclasses %}pick-provider{% endblock %}
{% block containerclasses %}container{% endblock %}

{% block content %}

<div class="header">
  <h1>
    {% if title_text %}{{ title_text }}: {% endif %}
    Choose a Provider
  </h1>
</div>

{% if site_section == 'review' %}
  <p>
    If you have an experience of an NHS service in the last 2 years, either as a
    patient yourself or as a carer, relative or friend please share your
    experience so that others can benefit. Tell us what went well and what could
    have been better and if you have any suggestions for improvements we want to
    hear them. Its easy to do in just 5 simple steps and will only take about 5
    minutes.
  </p>

  <h2>What will happen?</h2>

  <p>
    We will publish it on this site - please see our
    <a href="{% url 'about' cobrand=cobrand.name %}#comments-policy">comments policy</a>
    for more information. We will notify the people in the NHS provider that
    your experience relates to so that they can reply to you.
  </p>
{% endif %}

{% if site_section == 'problem' %}
  <p>
    People tell us that they often want to get their issue with an NHS service resolved quickly but
    do not always know how to do this. Simply tell us about it here and we will send it on your
    behalf directly to people in the NHS service involved that are best able to help. It’s quick and
    easy to do in just 5 simple steps:-
  </p>

  <p>
    To find the NHS provider that your experience relates to please enter the name (for example
    the hospital) or the postcode and press ‘Find’. This is important because to get a problem
    fixed we need to send it to the people best placed to help you.
  </p>
{% endif %}


<div class="island">
    {% if form.non_field_errors or form.errors.location %}
        {% if form.errors.location %}
            {% with messages=form.non_field_errors|add:form.errors.location %}
                {% include "citizenconnect/includes/message_list.html" with messages=messages message_type='error' %}
            {% endwith %}
        {% else %}
            {% include "citizenconnect/includes/message_list.html" with messages=form.non_field_errors message_type='error' %}
        {% endif %}
    {% endif %}

    <form action="" method="get" class="gw inline-form">
        <div class="g  four-fifths  palm-two-thirds">

            <label for="id_location">Provider&rsquo;s name</label>

            <input type="text" name="location" id="id_location"  class="text-input  one-whole" placeholder="e.g. &lsquo;Guy&rsquo;s Hospital&rsquo; or &lsquo;SW1P 3AZ&rsquo;" />
        </div>

        <div class="g  one-fifth  palm-one-third">
            <button type="submit" class="btn  btn--no-label">Find <span class="icon-search" aria-hidden="true"></span></button>
        </div>

        <p class="g  one-whole">Please note this feature is currently limited to services only within London and the North East of England. As the service develops we will be expanding to include more areas.</p>
    </form>
</div>

{% endblock %}
