{% load thumbnail %}

<div class="meta-data-wrap">
    <div class="meta-data">
        <p class="meta-data__title">{{ object.organisation }}</p>
        <p class="meta-data__sub-title">{{ object.service|default_if_none:"General problem" }}</p>
    </div>
</div>

{% if object.publication_status != object.NOT_MODERATED and object.public %}

  {% if False and object.images.count %}
  <div class="meta-data-wrap">
      <div class="meta-data">
        {% with images=object.images.all %}

            {% for image in object.images.all %}

              {% thumbnail image.image "x150" as im_small %}
                {% thumbnail image.image "600x600" as im_large %}
                  <a
                    class="fancybox-zoom"
                    rel="problem-images"
                    href="{{ im_large.url }}"
                  ><img
                    src="{{ im_small.url }}"
                    height="{{ im_small.height }}"
                    width="{{ im_small.width }}"
                  /></a>
                {% endthumbnail %}
              {% endthumbnail %}

            {% endfor %}

        {% endwith %}
      </div>

  </div>
  {% endif %}


    {# People can only see details of public problems - and moderated details at that #}
    <div class="meta-data-wrap">
        <h3 class="meta-data-label">Details</h3>
        <div class="meta-data">
            <p>{{ object.moderated_description }}</p>
        </div>
    </div>

    {# People can only see responses on public problems #}
    <div class="meta-data-wrap">
        <h3 class="meta-data-label">Responses</h3>
        {% for response in object.responses.all %}
            <div class="meta-data  meta-data--response">
                <p>{{ response.response }}</p>
                <p class="meta-data__foot">
                    {{ object.organisation.name }}<span class="meta-data-spacer"> </span>
                    {{ response.created|date:"d.m.Y" }}<span class="meta-data-spacer"> </span>
                    {{ response.created|date:"h:i a" }}
                </p>
            </div>
        {% empty %}
            <div class="meta-data  meta-data--response">
                <p>No responses.</p>
            </div>
        {% endfor %}
    </div>
{% endif %}
