{% load thumbnail %}

<div class="meta-data-wrap">
    <div class="meta-data">
        <p class="meta-data__title">{{ object.organisation }}</p>
        <p class="meta-data__sub-title">{{ object.service|default_if_none:"General problem" }}</p>
    </div>
</div>

{% if object.publication_status != object.NOT_MODERATED and object.public %}

    {# People can only see details of public problems - and moderated details at that #}
    <div class="meta-data-wrap">
        <h3 class="meta-data-label">Details</h3>
        <div class="meta-data">
            <p>{{ object.moderated_description }}</p>
        </div>
    </div>

    {# People can only see responses on public problems #}
    <div class="meta-data-wrap">
        <h3 class="meta-data-label">Responses</h3>
        {% for response in object.responses.all %}
            <div class="meta-data  meta-data--response">
                <p>{{ response.response }}</p>
                <p class="meta-data__foot">
                    {{ object.organisation.name }}<span class="meta-data-spacer"> </span>
                    {{ response.created|date:"d.m.Y" }}<span class="meta-data-spacer"> </span>
                    {{ response.created|date:"h:i a" }}
                </p>
            </div>
        {% empty %}
            <div class="meta-data  meta-data--response">
                <p>No responses.</p>
            </div>
        {% endfor %}
    </div>
{% endif %}
