<div class="meta-data-wrap">
    <h3 class="meta-data-label">Status</h3>
    <div class="meta-data">
        <ul class="meta-data-list">
            <li>
                {% include "issues/includes/problem_status_circle.html" with problem=problem %}
            </li>
            {% if problem.happy_service != None %}
                <li>
                    {% if problem.happy_service %}
                        <span class="icon-checkmark  meta-data-list__icon-green" aria-hidden="true"></span>
                    {% else %}
                        <span class="icon-x  meta-data-list__icon-red" aria-hidden="true"></span>
                    {% endif %}
                    &nbsp;Happy with Manner
                </li>
            {% endif %}
            {% if problem.happy_outcome != None %}
                <li>
                    {% if problem.happy_outcome %}
                        <span class="icon-checkmark  meta-data-list__icon-green" aria-hidden="true"></span>
                    {% else %}
                        <span class="icon-x  meta-data-list__icon-red" aria-hidden="true"></span>
                    {% endif %}
                    &nbsp;Happy with Resolution
                </li>
            {% endif %}
            {% if problem.formal_complaint %}
                <li class="formal-complaint">
                    <span class="icon-warning  meta-data-list__icon-red" aria-hidden="true"></span> Formal complaint
                </li>
            {% endif %}
        </ul>
    </div>
</div>
