{% load staticfiles %}

<div id="myhealthlondon-footer">

    <div class="footer-links">
        <ul>
            <li><a href="https://www.myhealth.london.nhs.uk/">Home</a></li>
            <li><a href="https://www.myhealth.london.nhs.uk/your-health">Your Health</a></li>
            <li><a href="https://www.myhealth.london.nhs.uk/news-events">News &amp; Events</a></li>
            <li><a href="https://www.myhealth.london.nhs.uk/participate">Participate</a></li>
            <li><a href="https://www.myhealth.london.nhs.uk/find-and-compare">Find and compare services</a></li>
            <li><a href="https://www.myhealth.london.nhs.uk/about">About</a></li>
            <li><a href="https://www.myhealth.london.nhs.uk/website-policies">Website policies</a></li>
            <li><a href="https://www.myhealth.london.nhs.uk/disclaimer">Disclaimer</a></li>
        </ul>

        <p>© NHS London</p>

    </div>

    <ul class="associates">
      <li class="mia">
          <a target="_blank" href="https://www.myhealth.london.nhs.uk/health-communities/young-people/download">
              <img src="{% static "img/myhealthlondon/wellhappyapp.png" %}" alt="Well Happy App">
          </a>
      </li>
      <li class="mayor-of-london">
          <a target="_blank" href="http://www.london.gov.uk">
              <img src="{% static "img/myhealthlondon/mayorlondon.png" %}" alt="Mayor of London logo">
          </a>
      </li>
      <li class="londoncouncils">
          <a target="_blank" href="http://www.londoncouncils.gov.uk">
              <img src="{% static "img/myhealthlondon/londoncouncils.png" %}" alt="London Councils logo">
          </a>
      </li>
    </ul>
</div>
