<div id="myhealthlondon-header" class="container">

    <div id="nhs-logo">
      <p><span>National Health Service London</span></p>
    </div>

    <div id="myhealthlondon-logo" class="fr">
      <h1><a href="https://www.myhealth.london.nhs.uk">My health London</a></h1>
    </div>

    <div class="site-top-bar">
        <div class="site-top-bar__row">
            <div class="site-top-bar__cell">
                <p>The care connect pilot programme is drawing to a close and from the 31 March 2015 the phone lines and this website will no longer be available.<br/>Any outstanding queries will continue to be dealt with after March until their satisfactory conclusion.</p>
            </div>
        </div>
    </div>

</div>
