<header id="myhealthlondon-header" class="cf">

    <div id="nhs-logo">
      <p><span>National Health Service London</span></p>
    </div>

    <div class="site-top-bar">
        <div class="site-top-bar__row">
            <div class="site-top-bar__cell">
                <p>Currently this site is only live for parts of London and the North East - other areas will be added soon</p>
            </div>
        </div>
    </div>

    <div id="myhealthlondon-logo">
      <h1><a href="https://www.myhealth.london.nhs.uk">My health London</a></h1>
    </div>

</header>
