<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Homepage - revision 22</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">

        <link rel="stylesheet" href="/web/css/leaflet.css" />
        <link rel="stylesheet" href="/web/css/leaflet.rrose.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="/web/css/leaflet.ie.css" />
            <link rel="stylesheet" href="/web/css/leaflet.rrose.ie.css" />
        <![endif]-->
        <link rel="stylesheet" href="/web/css/placeholder_polyfill.min.css" />
        <link rel="stylesheet" href="/web/css/default.css">


        <!--[if lte IE 7]>
            <script type="text/javascript" src="/web/js/fonts-lte-ie7.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="container" class="container">

            <div class="site-top-bar">
                <div class="site-top-bar__row">
                    <div class="site-top-bar__cell">
                        <p>Currently this site is only live for parts of London and the North East - other areas will be added soon</p>
                    </div>
                </div>
            </div>

            <!-- block content -->

            <ul class="site-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About this service</a></li>
                <li><a href="/i-have-many-problems" class="active">Problems</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Common Questions</a></li>
                <li><a href="#">Help your NHS</a></li>
            </ul>

            <div class="gw  mb  mt--b">
                <div class="g  two-thirds  palm-one-whole">
                    <p class="intro-text">We want you as a user of NHS services to act as our ‘eyes and ears’, to tell us when things are going well and when things are not going well - so that we can do something about it. We want to ensure your voice is heard, listened to and acted upon.</p>
                </div>
                <div class="g  one-third  palm-one-whole">
                    <a href="#" class="btn  btn--med  btn--med--alt  btn--no-border">See All Participating Service Providers</a>
                </div>
            </div>


            <div class="gw">
                <div class="g  one-third  palm-one-whole">
                    <div class="islet  islet--white  mt  mb">
                        <a href="#" class="btn__with-caption">
                            <span class="btn  btn--big  btn--light-green  btn--no-border">Share Your Experience</span>
                            <span class="btn__caption">Click here</span>
                        </a>
                    </div>
                </div>
                <div class="g  one-third  palm-one-whole">
                    <div class="islet  islet--white  mt  mb">
                        <a href="#" class="btn__with-caption">
                            <span class="btn  btn--big  btn--big--fix  btn--dark-orange  btn--no-border">Ask a question</span>
                            <span class="btn__caption">Click here</span>
                        </a>
                    </div>
                </div>
                <div class="g  one-third  palm-one-whole">
                    <div class="islet  islet--white  mt  mb  mb__palm--n">
                        <a href="#" class="btn__with-caption">
                            <span class="btn  btn--big  btn--blue  btn--no-border">Report a problem with an NHS Service</span>
                            <span class="btn__caption">Click here</span>
                        </a>
                    </div>
                </div>
            </div>



            <!-- end block content -->
        </div>

    </body>
</html>