<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Survey UI</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">

        <link rel="stylesheet" href="/web/css/leaflet.css" />
        <link rel="stylesheet" href="/web/css/leaflet.rrose.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="/web/css/leaflet.ie.css" />
            <link rel="stylesheet" href="/web/css/leaflet.rrose.ie.css" />
        <![endif]-->
        <link rel="stylesheet" href="/web/css/placeholder_polyfill.min.css" />
        <link rel="stylesheet" href="/web/css/default.css">


        <!--[if lte IE 7]>
            <script type="text/javascript" src="/web/js/fonts-lte-ie7.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="container" class="container">

            <div class="site-top-bar">
                <div class="site-top-bar__row">
                    <div class="site-top-bar__cell">
                        <p>Currently this site is only live for parts of London and the North East - other areas will be added soon</p>
                    </div>
                </div>
            </div>

            <!-- block content -->

            <div class="header">
                <h1>Thanks for your feedback</h1>
            </div>

            <form class="feedback-form">
                <p>Are you happy with the outcome of this problem</p>

                <ul class="big-radio-group">
                    <li class="big-radio-group__first  one-quarter">
                        <div class="big-radio-group__table">
                            <label for="id_outcome_0" class="big-radio-group__row">
                                <input checked="checked" type="radio" id="id_outcome_0" value="0" name="outcome" />
                                <span class="big-radio-group__cell  big-radio-group__cell--full">Yes</span>
                            </label>
                        </div>
                    </li>
                    <li class="one-quarter">
                        <div class="big-radio-group__table">
                            <label for="id_outcome_1" class="big-radio-group__row">
                                <input type="radio" id="id_outcome_1" value="1" name="privacy" />
                                <span class="big-radio-group__cell  big-radio-group__cell--full">No</span>
                            </label>
                        </div>
                    </li>
                    <li class="big-radio-group__last  one-half">
                        <div class="big-radio-group__table">
                            <label for="id_outcome_2" class="big-radio-group__row">
                                <input type="radio" id="id_outcome_2" value="2" name="privacy" />
                                <span class="big-radio-group__cell  big-radio-group__cell--full">Prefer not to answer</span>
                            </label>
                        </div>
                    </li>
                </ul>

                <button class="btn  btn--black  fr" type="submit">Submit</button>

            </form>

            <!-- end block content -->
        </div>

        <!-- ignore this, it's just for while I'm developing -->
        <script type="text/javascript" src="/web/js/jquery-1.9.0.min.js"></script>
        <script type="text/javascript">
        $(function() {
            // Big radio buttons
            $('.big-radio-group').each(function(){
                var $t = $(this);

                // add dummy radio element
                $('input[type=radio]', $t).each(function(){
                    $(this).hide().after('<div class="big-radio-group__cell"><div class="big-radio-group__radio"></div></div>');
                });

                // bind the click event so we can update the actual inputs
                $('li', $t).on('click', function(){
                    $('li', $t).removeClass('big-radio-group--active');
                    $('input[type=radio]', $(this)).prop("checked", true);
                    $(this).addClass('big-radio-group--active');
                });
            });
        });
        </script>
    </body>
</html>