<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>UI Page</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">

        <link rel="stylesheet" href="/web/css/leaflet.css" />
        <link rel="stylesheet" href="/web/css/leaflet.rrose.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="/web/css/leaflet.ie.css" />
            <link rel="stylesheet" href="/web/css/leaflet.rrose.ie.css" />
        <![endif]-->
        <link rel="stylesheet" href="/web/css/placeholder_polyfill.min.css" />
        <link rel="stylesheet" href="/web/css/default.css">


        <!--[if lte IE 7]>
            <script type="text/javascript" src="/web/js/fonts-lte-ie7.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="container" class="container">

            <div class="site-top-bar">
                <div class="site-top-bar__row">
                    <div class="site-top-bar__cell">
                        <p>Currently this site is only live for parts of London and the North East - other areas will be added soon</p>
                    </div>
                    <div class="site-top-bar__cell  site-top-bar__cell--nav">
                        <ul class="nav  fr">
                            <li><a href="http://www.nhslondon.lampuat64-1.rroom.net/"><span class="icon-home" aria-hidden="true"></span>Home</a></li>
                            <li><a  href="#">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- block content -->
            <h1>UI Page</h1>


            <div class="header">
                <p class="alert  alert--sml  fr"><span class="icon-arrow-up-right" aria-hidden="true"></span> This problem has been escalated</p>
                <h2>Moderator UI</h2>
            </div>

            <div class="gw">
                <article class="g  two-thirds">
                    <p class="mt--n">something</p>
                </article>

                <aside class="g  one-third">
                    <h4 class="alert  alert--lrg  alert--red">Emergency</h4>
                    <h2 class="alert  alert--orange">Breach</h2>

                    <div class="moderator-box">
                        <h2 class="moderator-box__title">Status</h2>
                        <ul class="moderator-list  moderator-list--heavy">
                            <li><span class="bordered-circle  bordered-circle--green" aria-hidden="true"></span> Open</li>
                            <li><span class="icon-checkmark  moderator-list__icon-green" aria-hidden="true"></span> Happy with service</li>
                            <li><span class="icon-stack" aria-hidden="true"></span> Related to previous problem</li>
                        </ul>
                    </div>

                    <div class="moderator-box">
                        <p class="moderator-box__title">Privacy</p>
                        <ul class="moderator-list  moderator-list--heavy">
                            <li><span class="bordered-circle  bordered-circle--pink" aria-hidden="true"></span> Public with hidden name</li>
                        </ul>
                    </div>

                    <div class="moderator-box">
                        <h3 class="moderator-box__title">Details</h3>
                        <ul class="moderator-list">
                            <li><span class="icon-tag" aria-hidden="true"></span> Communication</li>
                            <li><span class="icon-eye" aria-hidden="true"></span> Locally Commissioned</li>
                            <li><span class="icon-user" aria-hidden="true"></span> John Doe</li>
                            <li><span class="icon-calendar" aria-hidden="true"></span> 8:26am 18 Apr 2013</li>
                        </ul>
                    </div>
                </aside>
            </div>
            <!-- end block content -->
        </div>

    </body>
</html>