/*------------------------------------*\
  Island
\*------------------------------------*/

/**
 * From inuit.css (https://github.com/csswizardry/inuit.css/)
 *
 * A padded box with a grey background and rounded corners
 */

.island,
.islet {
    display: block;
    @extend .cf;
    background: $c-island-bg;
    @include vendor(border-radius, ($grid-gutter/2) + em);
}
.island {
    padding: $grid-gutter + em;
}
    .island > :last-child,
    .islet > :last-child {
        margin-bottom: 0;
    }


/**
 * Just like `.island`, only smaller.
 */
.islet {
    padding: ($grid-gutter / 2) + em;
}


/**
 * Take off border radius
 */
.island--squared,
.islet--squared {
    @include vendor(border-radius, 0);
}


/**
 * Add a border to top and bottom
 */
.island--half-bordered,
.islet--half-bordered {
    border-top: ($grid-gutter/5) + em solid $c-island-half-bordered-border-color;
    border-bottom: ($grid-gutter/5) + em solid $c-island-half-bordered-border-color;
}


/**
 * Colour variants
 */
.island--aquablue,
.islet--aquablue {
    background: $c-island-aquablue-bg;
    color: $c-island-aquablue-color;
}

.island--white,
.islet--white {
    background: $c-island-white-bg;
    border: ($grid-gutter/5) + em solid $c-island-white-border-color;
}


.island--grey,
.islet--grey {
    background: #f9f9f9;
}

.island--lightblue {
    background: $c-nhs_lightblue;
    color:$c-white;
}

.island-label {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 0 0.83em;
    color: $c-nhs_aquablue;
}
