html{
        background-color: #ccc;
        background: url("../img/myhealthlondon/bg-body.png") repeat-x scroll 0 0 transparent;
    }
body{
    max-width: 1034px;
    margin:auto;
    background-color: #fff;
    padding: 12px 37px 37px;
}

#myhealthlondon-header #myhealthlondon-logo h1 a {
  background: url(../img/myhealthlondon/myhealthlondon.png) no-repeat top left;
  display: block;
  height: 56px;
  width: 249px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }
#myhealthlondon-header #myhealthlondon-logo h1 {
  margin: 16px 0 0 29px; }
#myhealthlondon-header #nhs-logo p {
  margin: 25px 0 37px 37px; }
#myhealthlondon-header #nhs-logo p span {
  background: url(../img/myhealthlondon/nhslogo.png) no-repeat top left;
  display: block;
  height: 35px;
  width: 88px;
  margin: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }
#myhealthlondon-header #myhealthlondon-logo {
  float: left; }
#myhealthlondon-header #nhs-logo {
  float: right; }

#myhealthlondon-footer {
  clear: both;
  border-top: 1px solid #afda8e;
  clear: both;
  margin: 25px auto 30px auto;
  padding: 25px 0;
  text-align: center; }
  #myhealthlondon-footer .footer-links li {
    border-right: 1px solid #7ac143;
    display: inline;
    font-size: 11px;
    line-height: 1.5em;
    margin: 0;
    padding: 0 10px; }
  #myhealthlondon-footer .footer-links li:last-child {
    border-right: none; }
  #myhealthlondon-footer a {
    color: #bf3000;
    font-weight: bold;
    text-decoration: none; }
  #myhealthlondon-footer nav ul,
  #myhealthlondon-footer nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0; }
  #myhealthlondon-footer .associates {
    display: block;
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-top: 2em;
    padding: 0; }
  #myhealthlondon-footer .associates li {
    display: block;
    width: 33.33%;
    float: left;
    text-align: center;
    vertical-align: top;
    border: none;
    padding: 0 10px; }
  #myhealthlondon-footer .associates img {
    max-width: 100%; }
  #myhealthlondon-footer .associates span {
    display: block;
    font-size: 0.6em;
    color: #999; }
  #myhealthlondon-footer .footer-links p {
    font-size: 11px;
    margin-bottom: 3px;
    padding: 0;
    text-align: center; }
  @media screen and (max-width: 480px) {
    #myhealthlondon-footer {
      padding: 0; }
      #myhealthlondon-footer .footer-links li {
        border: none;
        border-bottom: 1px solid #7ac143;
        display: block;
        font-size: 1em;
        text-align: left; }
      #myhealthlondon-footer .footer-links a {
        display: block;
        padding: 0.5em 1em; } }
