{% extends 'base.html' %}
{% load url from future %}

{% block title %}Moderate message{% endblock %}

{% block bodyclasses %}moderate-form{% endblock %}

{% block content %}
<div class="header">
    <h1>Moderate message</h1>
</div>
<div class="hero">
    <div class="feature">
        <p>{{ message.issue_type }}<br>
            Reference number: <strong>{{ message.reference_number }}</strong></br>
            Received: <strong>{{ message.created }}</strong></br>
            Sent to: <strong>{{ message.organisation.name }}</strong> {{ message.service|default_if_none:"" }}
        </p>
    </div>
</div>
<div class="message-details">
    <div class="feature">
        <h3>Message</h3>
        <p>From: {{ message.reporter_name }} {% if message.private_reporter_name %}<em>Anonimity selected</em><{% endif %}</p>
        <p>{{ message.description }}</p>
        <h3>Responses</h3>
        {% if message.responses.all|length > 0 %}
            {% for response in message.responses.all %}
                <p>{{ response.response }}</p>
            {% endfor %}
        {% else %}
            <p>No responses</p>
        {% endif %}
    </div>
</div>
<div class="moderate-form">
    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-error alert-block">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {{ field.help_text }}
            </div>
        {% endfor %}
        <button type="submit">Update</button>
    </form>
</div>
{% endblock %}