{% extends 'base.html' %}
{% load url from future %}

{% block title %}Issue moderated{% endblock %}

{% block bodyclasses %}moderate-confirm{% endblock %}

{% block content %}
<div class="header">
    <h1>Issue moderated</h1>
</div>

<div class="gw">
    <div class="g  one-whole">
      <ul class="message-list">
        <li class="message-list__success">Thank you, the issue has been moderated. <a href="{% url home_link %}">Return to the moderation queue</a></li>
      </ul>
    </div>
</div>
{% endblock %}
