{% extends 'base.html' %}
{% load url from future %}

{% block title %}Moderate message{% endblock %}

{% block bodyclasses %}moderate-form{% endblock %}

{% block content %}
<div class="header">
    <h1>Moderate {{ message.issue_type }}</h1>
</div>

{% include "issues/message_detail.html" with object=message %}

<div class="moderate-form">
    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="island">
                {% include "message-list.html" with messages=form.non_field_errors message_type='error' %}
            </div>
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <fieldset class="island">
            <ul class="gw">
                <li class="g  one-whole">
                    <label for="id_description">Edit details</label>
                    {{ form.description }}
                    <p class="info">Including as much information as possible to help us to help you.</p>
                    {% include "message-list.html" with messages=form.description.errors message_type='error' %}
                </li>
            </ul>
        </fieldset>

        <fieldset>
            <button class="btn fl" type="submit" name="keep_private">Not Suitable/Keep Private</button>
            <button class="btn fr" type="submit" name="publish">Publish/Update Online</button>
        </fieldset>

    </form>
</div>
{% endblock %}