{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Moderate problem{% endblock %}

{% block bodyclasses %}moderate-form{% endblock %}

{% block content %}

{% include "issues/issue_header.html" with object=issue private=1 title="Moderate problem" %}
<div class="gw">

    <div class="g  two-thirds  palm-one-whole">
        {% include "issues/issue_meta.html" with object=issue private=1 title="Moderate problem" %}

        <div class="moderate-form">
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <fieldset class="island">
                        {% include "message_list.html" with messages=form.non_field_errors message_type='error' %}
                    </fieldset>
                {% endif %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <div class="meta-data-wrap">
                    <h3 class="meta-data-label">Moderated details</h3>
                </div>
                <fieldset class="island">
                    <ul class="gw">
                    {% if form.fields.moderated_description %}
                        <li class="g  one-whole">
                            {{ form.moderated_description }}
                            <p class="info">Required when publishing public problems.</p>
                            {% include "message_list.html" with messages=form.moderated_description.errors message_type='error' %}
                        </li>
                    {% else %}
                        <li class="g  one-whole">
                            This problem is not public so there is no need for a moderated description.
                        </li>
                    {% endif %}
                    </ul>
                </fieldset>

                <div class="meta-data-wrap">
                    <h3 class="meta-data-label">Manage problem</h3>
                </div>
                <label for="id_status" class="label-small">Status</label>
                <ul class="gw">
                    <li class="g  one-half  palm-one-whole">
                        {{ form.status }}
                        {% include "message_list.html" with messages=form.status.errors message_type='error' %}
                    </li>
                    <li class="g one-half  palm-one-whole">
                        <label for="id_breach" class="label-checkbox">{{ form.breach }} Does this problem describe a breach of the NHS' fundamental standards? </label>
                    </li>
                </ul>

                <ul class="gw">
                    <li class="g  one-whole  palm-one-whole">
                        <label class="label-small">How is the service described commissioned?</label>
                        <div class="input-radio">
                            {{ form.commissioned }}
                        </div>
                        {% include "message_list.html" with messages=form.commissioned.errors message_type='error' %}
                    </li>
                </ul>

                <fieldset class="island">
                    <ul class="gw">
                        {% if response_forms %}
                            {{ response_forms.management_form }}
                        {% endif %}
                        {% for response_form in response_forms %}
                            {{ response_form.id }}
                            <li class="g  three-quarters">
                                <label for="id_responses-{{forloop.counter0}}-response">Moderated response</label>
                                {{ response_form.response }}
                                {% include "message_list.html" with messages=response_form.response.errors message_type='error' %}
                            </li>
                            <li class="g one-quarter  mt">
                                {{ response_form.DELETE }} Delete
                            </li>
                        {% empty %}
                            <li class="g  one-whole">No Responses</li>
                        {% endfor %}
                    </ul>
                </fieldset>

                <fieldset >
                    <ul class="gw">
                        <li class="g one-third palm-one-whole align-center mt"><button class="btn  btn--red one-whole" type="submit" name="keep_private">Keep Private</button> <small>Not Suitable</small></li>
                        <li class="g one-third palm-one-whole align-center mt"><button class="btn  btn--darkgrey one-whole" type="submit" name="now_requires_second_tier_moderation">Refer</button> <small>to Second Tier Moderator</small></li>
                        <li class="g one-third palm-one-whole align-center mt"><button class="btn  btn--light-green one-whole" type="submit" name="publish">Publish</button><small>Update Online</small></li>
                    </ul>
                </fieldset>

            </form>
        </div>

    </div>
    <div class="meta-data-sidebar  g  one-third  palm-one-whole">
        {% include "issues/issue_sidebar.html" with object=issue private=1 title="Moderate problem" %}
    </div>
</div>

<div id="publish-confirm-modal">
    <div class="island"></div>
    <div class="content">
        {% if issue.moderated_description %}
            {{ issue.moderated_description|linebreaks }}
        {% else %}
            {{ issue.description|linebreaks }}
        {% endif %}
    </div>
    <div class="island">
        <div class="fl">
            <small>Click Cancel to edit<br>
            Click Publish to replace the existing comment</small>
        </div>
        <button class="publish btn btn--light-green  fr">Publish</button>
        <button class="cancel btn btn--darkgrey  fr">Cancel</button>
    </div>
</div>
{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/fancybox/jquery.fancybox-1.3.4.css' %}" />

<style>
/* Fancybox doesn't play nicely with `box-sizing: border-box;`. */
#fancybox-wrap, #fancybox-wrap * {
    box-sizing: initial;
}
#publish-confirm-modal {
    display: none;
}
</style>

{% endblock extra_css %}

{% block extra_js %}
<script src="{% static 'js/jquery.browser.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-1.3.4.js' %}"></script>
<script src="{% static 'js/moderation_form.js' %}"></script>
{% endblock extra_js %}
