{% extends "citizenconnect/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load compressed %}
{% block title %}Moderate problem{% endblock %}

{% block bodyclasses %}second-tier-moderate-form{% endblock %}
{% block content %}

{% include "issues/includes/issue_header.html" with object=issue title="Moderate problem" %}
<div class="gw">

    <div class="g  two-thirds  palm-one-whole">
        {% include "issues/includes/issue_meta_private.html" with object=issue %}

        <div class="second-tier-moderate-form">
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <fieldset class="island">
                        {% include "citizenconnect/includes/message_list.html" with messages=form.non_field_errors message_type='error' %}
                    </fieldset>
                {% endif %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% include "moderation/fields/public_reporter_name.html" %}

                {% include "moderation/fields/moderated_description.html" %}

                <fieldset>

                    <ul class="gw">
                        <li class="g one-third palm-one-whole align-center mt"><button class="btn  btn--red one-whole" type="submit" name="keep_private">Keep Private</button> <small>Not Suitable</small></li>
                        <li class="g one-third palm-one-whole align-center mt"><button class="btn  btn--light-green one-whole" type="submit" name="publish">Publish</button><small>Update Online</small></li>
                    </ul>
                </fieldset>


            </form>
        </div>
    </div>

    <div class="meta-data-sidebar  g  one-third  palm-one-whole">
        {% include "issues/includes/issue_sidebar_private.html" with object=issue %}
    </div>

</div>

{% include 'moderation/publish_confirm_modal.html' %}

{% endblock %}

{% block extra_css %}

  {% include "citizenconnect/includes/fancybox_css.html" %}
  <style>
    #publish-confirm-modal {
        display: none;
    }
  </style>

{% endblock extra_css %}

{% block extra_js %}
{% compressed_js 'moderation_form' %}
{% endblock extra_js %}
