
<div class="meta-data-wrap">
    <h3 class="meta-data-label">Images</h3>
</div>

<fieldset class="island">
    <ul class="gw">
      <li class="g  one-whole">

        <img src="http://lorempixel.com/150/150/abstract/1" />
        <img src="http://lorempixel.com/150/150/abstract/2" />
        <img src="http://lorempixel.com/150/150/abstract/3" />

        <p class="info">
          There are <strong>FIXME</strong> images associated with this problem
          report. If any are inappropriate you should not publish.
        </p>

      </li>
    </ul>
</fieldset>
<fieldset class="island">
    <ul class="gw">
      <li class="g  one-whole">

        There are no images attached to this report.

      </li>
    </ul>
</fieldset>
