{% load thumbnail %}

<div class="meta-data-wrap">
    <h3 class="meta-data-label">Images</h3>
</div>

<fieldset class="island">
    <ul class="gw">
      <li class="g  one-whole">

        {% for image in object.images.all %}

          {% thumbnail item.image "x150" as im_small %}
            {% thumbnail item.image "400x400" as im_large %}
              <a
                class="fancybox-zoom"
                rel="problem-images"
                href="{{ im_large.url }}"
              ><img
                src="{{ im_small.url }}"
                height="{{ im_small.height }}"
                width="{{ im_small.width }}"
              /></a>
            {% endthumbnail %}
          {% endthumbnail %}

          <p class="info">
            {% with image_count=object.images.count %}
              There are <strong>{{ image_count }}</strong>
              images{{ image_count|pluralize }} associated with this problem
              report. If any are inappropriate you should not publish.
            {% endwith %}
          </p>

        {% empty %}

          There are no images attached to this report.

        {% endfor %}

      </li>
    </ul>
</fieldset>
