{% extends "citizenconnect/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Share Your Experience: Your Review Has Been Submitted{% endblock %}

{% block bodyclasses %}review-confirm{% endblock %}

{% block content %}
<div class="header">
    <h1>Share Your Experience: Your Review Has Been Submitted</h1>
</div>

<div class="hero">
    <div class="header  align-center">
        <img class="mb" src="{% static 'img/tick.png' %}" alt="Tick icon" />
        <h3 class="subheading--green">Thank you for sharing your NHS experience</h3>
    </div>
    <div>
        <h4>What Happens Next?</h4>
        <p>This will now be reviewed by our team using the <a href="{% url 'about' cobrand=cobrand.name %}#comments-policy">comments policy</a>. This is a standard feature of most online commenting forums.</p>
        <p>If everything is alright (based on our comments policy) you will see your comments displayed on the provider summary page. If for any reason your comments do not pass this process your comments will not be published.</p>
        <p>Your feedback is incredibly useful to the NHS and other patients. We hope you will review other services in future.</p>
    </div>
</div>
{% endblock %}
