{% extends 'base.html' %}
{% load url from future %}

{% block title %}Submit your review{% endblock %}

{% block bodyclasses %}review-form{% endblock %}

{% block content %}
<div class="header">
    <h1>Submit your review</h1>
</div>
<div class="hero">
    <p>Reviewing <strong>{{ organisation.name }}</strong>
</div>
<div class="review-form">
    <form action="{% url 'review-form' cobrand=cobrand.name ods_code=organisation.ods_code %}" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <fieldset class="island">
                {% include "message_list.html" with messages=form.non_field_errors message_type='error' %}
            </fieldset>
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {{ rating_forms.management_form }}
        {% for question in form.questions %}
        {% with forloop.counter0 as index %}
        <fieldset class="island">
            <p class="info">{{ question.title }}</p>
            <input type="hidden" name="rating_set-{{ index }}-question" value="{{ question.id }}" />

            <ul class="radio-list">
                {% for answer in question.answer_set.all %}
                <li><input type="radio" name="rating_set-{{ index }}-answer" value="{{ answer.id }}" /> {{ answer.text }}</li>
                {% endfor %}
            </ul>

        </fieldset>
        {% endwith %}
        {% endfor %}


        <fieldset class="island">
            <ul class="gw">
                <li class="g  one-whole">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% include "message_list.html" with messages=form.email.errors message_type='error' %}
                </li>

                <li class="g  one-whole">
                    {{ form.display_name.label_tag }}
                    {{ form.display_name }}
                    {% include "message_list.html" with messages=form.display_name.errors message_type='error' %}
                </li>

                <li class="g  one-whole">
                    <label for="id_is_anonymous">{{ form.is_anonymous }} Send anonymously</label>
                    {% include "message_list.html" with messages=form.is_anonymous.errors message_type='error' %}
                </li>

                <li class="g  one-whole">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                    {% include "message_list.html" with messages=form.title.errors message_type='error' %}
                </li>

                <li class="g  one-whole">
                    {{ form.comment.label_tag }}
                    {{ form.comment }}
                    {% include "message_list.html" with messages=form.comment.errors message_type='error' %}
                </li>

                <li class="g  one-whole">
                    {{ form.month_year_of_visit.label_tag }}
                    {{ form.month_year_of_visit }}
                    {% include "message_list.html" with messages=form.month_year_of_visit.errors message_type='error' %}
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <button class="btn  fr" type="submit">Submit</button>
        </fieldset>
    </form>
</div>
{% endblock %}
