{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Review sent{% endblock %}

{% block bodyclasses %}review-confirm{% endblock %}

{% block content %}
<div class="header">
    <h1>Your Review Has Been Submitted</h1>
</div>

<div class="hero  align-center">
    <div class="header">
        <img class="mb" src="{% static 'img/tick.png' %}" alt="Tick icon" />
        <h3 class="subheading--green">Thank you for submitting your review</h3>
    </div>
    <div>
        <p>Your review is currently awaiting moderation by the NHS Choices team. If your review meets our <a href="http://www.nhs.uk/aboutNHSChoices/aboutnhschoices/termsandconditions/Pages/commentspolicy.aspx">moderation standards</a> it will be published here on CareConnect and on the NHS Choices site.</p>
        <p><a href="{% url 'public-org-summary' ods_code=organisation.ods_code cobrand=cobrand.name %}">See the summary page</a> for {{ organisation.name }} to see what other people said about their service. Once your review has completed the moderation process you'll be able to see the details listed on this page.</p>
    </div>
</div>
{% endblock %}
