{% extends 'base.html' %}
{% load url from future %}

{% block title %}About{% endblock %}

{% block bodyclasses %}about{% endblock %}

{% block content %}
<div class="gw">
    <div class="g  two-thirds">

        <div id="about-this-service" class="about-section">
            <div class="header">
                <h1>About this service</h1>
            </div>

            <p>
            We want to make it easier for you to share your opinions and concerns
            about the NHS services you use, and in the process, your insights
            will help us to build a better NHS.
            </p>

            <p>
            On this site, you can report any problems you may have with an NHS
            service, ask us a question and leave ratings and reviews. You can
            also see what other people have said about your local services, and
            view in real time how they are responding to other people's problems.
            </p>

            <p>
            It is in a pilot phase, so at present this service is live for
            hospitals and community NHS services in some parts of London and
            the North East. This will expand quickly to  cover a wider geographical
            area and a bigger range of services in the NHS, public health (should
            we include them) and social care. We will also be adding the option
            to contact the service by telephone, text messaging and via apps.
            </p>
        </div>


        <div id="submitting-problems" class="about-section">
            <div class="header">
                <h1>Submitting Problems</h1>
            </div>

            <p>
            The idea of this site is to give you a single place for you to
            submit problems, suggestions, and things you think the NHS should
            know about. We take care of making sure that what you have said is
            sent to the people who can help you best. This is what you do&hellip;
            </p>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title">Step 1</h2>
                </div>
                <div class="g  five-sixths">
                    <p>
                    Use the search to find the NHS service you wish to send your problem
                    to. You then complete a simple form to give us details of your
                    problem.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title">Step 2</h2>
                </div>
                <div class="g  five-sixths">
                    <p>
                    Some people choose to have the details of their problem published
                    on this site because it helps others who may have a similar problem.
                    Choosing to publish the problem on this site makes it easier to
                    track.
                    </p>

                    <p>
                    You will be presented with three options:
                    </p>

                    <ul>
                        <li>Keep the issue private between you and the NHS organisation</li>
                        <li>Publish your problem anonymously</li>
                        <li>Publish your problem and give your name</li>
                    </ul>

                    <p>
                    If you aren't sure, the private option is the default. If you do
                    choose to have your issue published on this site the content of the
                    message will have to pass through a moderation process before it
                    appears.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title">Step 3</h2>
                </div>
                <div class="g  five-sixths">
                    <p>
                    When you press submit, the information in your form is immediately
                    sent directly to your chosen service for them to respond. They will
                    get in touch with you directly using the information you have given.
                    (You are required to provide your name and also either your email
                    address or telephone number for this reason.)
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title">Step 4</h2>
                </div>
                <div class="g  five-sixths">
                    <p>
                    You will be given a reference number on a confirmation page. Please
                    make a note of this number as you can use it to track the progress
                    of your problem.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title">Step 5</h2>
                </div>
                <div class="g  five-sixths">
                    <p>
                    The NHS service will acknowledge they have received your problem
                    and will change its online status to "In Progress". They should
                    contact you by email or telephone (depending on the preference you
                    give) to agree a solution. You should get a response within X working
                    days.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title">Step 6</h2>
                </div>
                <div class="g  five-sixths">
                    <p>
                    Once your problem has been resolved the NHS service will change the
                    status to "Closed".
                    </p>
                </div>
            </div>

            <p>
            If you are not satisfied with the final outcome, or you do not get
            a response, you can re-log your problem, but this time select the
            "This relates to a previous problem" option in the form and include
            your previous reference number if you have it and provide details.
            </p>

            <p>
            The fact that you are re-logging a problem will mean it is escalated,
            to be investigated at a higher level. Who takes on this investigation
            will depend on which NHS service the problem relates to but it will
            either be the Customer Contact Centre or your local Clinical
            Commissioning Group (CCG). You will be informed who is investigating
            your problem and you will still be able to track its progress.
            <p>
        </div>

        <div id="making-complaints" class="about-section">
            <div class="header">
                <h1>Making Complaints</h1>
            </div>

            <p>
            All problems posted through these pages are treated as important
            but if you feel that your problem is serious and that you wish to
            make a formal complaint instead, here's what you need to do:
            </p>

            <div class="vcard">
                <p>Contact the NHS England Customer Contact Centre directly:</p>

                <div class="adr">
                    <h2>By Post</h2>
                    <span class="fn">NHS Commissioning Board</span><br>
                    <span class="street-address">PO Box 16728</span><br>
                    <span class="region">Redditch</span><br>
                    <span class="postal-code">B97 9PT</span>
                </div>

                <div class="telephone">
                    <h2>By telephone</h2>
                    <span class="tel">0300 311 22 33</span> <span class="note">(Monday to Friday 8am to 6pm, excluding English Bank Holidays)</span>
                </div>

                <h2>By Email</h2>
                <p><a class="email" href="mailto:nhscommissioningboard@hscic.gov.uk">nhscommissioningboard@hscic.gov.uk</a></p>
            </div>

            <p>
            If after you have made your complaint you are still unhappy with
            how it was dealt with you can take your complaint further with the
            Parliamentary and Health Service Ombudsman or by telephone at 0345
            015 4033.
            </p>

        </div>

        <div id="reviews-and-ratings" class="about-section">
            <div class="header">
                <h1>Reviews and Ratings</h1>
            </div>

            <p>
            In the same way that you can leave online reviews about experiences
            such as holidays, hotels and restaurants, and give them star ratings,
            you can now review and rate your recent NHS experiences. Tell NHS
            services what they are good at and also what they can do to improve.
            Reviews are published on this site and will help other people when
            making decisions about where to go for their healthcare.
            </p>
        </div>

        <div id="live-interactive-maps" class="about-section">
            <div class="header">
                <h1>Our Live Interactive Maps</h1>
            </div>

            <p>
            You can look up your local NHS service on our interactive maps and
            see a live view of how they are performing in real time. Whenever
            anybody uses this service to post a problem it is instantly sent
            to the service provider, who will get in touch with you and help
            find a resolution. The problem is given a category and is flagged
            on the interactive map. When you post a problem you have the option
            to have the actual content of your message published on the map as
            well, although you can also choose to remain completely anonymous.
            You can track how quickly the service is responding, and can also
            read some of the details on the kind of issues other people have.
            </p>
        </div>

        <div id="why-have-we-developed-this-service" class="about-section">
            <div class="header">
                <h1>Why Have We Developed This Service?</h1>
            </div>

            <p>
            The NHS is committed to delivering services of the highest standards,
            based on what patients, like you and your family need.
            To achieve, this it has to be accountable to the public and make
            it easy for you to be heard when you have a complaint or suggestion
            to make. This is a fundamental part of the NHS Constitution, our
            promise to you, which you can read about here [link].
            </p>

            <p>
            This service will make the NHS better for everyone. You benefit
            because you will find it easier to get the information you need
            from just one point of contact. Health and care services benefit
            too, because they get a chance to have a conversation with you.
            They can find what they're good at and what they need to do to
            improve, driving up standards in NHS health and care services across
            England.
            </p>
        </div>

        <div id="how-can-you-help-us" class="about-section">
            <div class="header">
                <h1>How Can You Help Us Develop This Service?</h1>
            </div>

            <p>
            This is an ambitious project that can really change the way the NHS
            and care services interact with the public but for it to work we
            want people to be engaging with us. You can help us by contributing
            and leaving reviews about your recent NHS experience, good or bad.
            If you have any problems that need solving, or any questions relating
            to NHS or care services in your area, please post them through these
            pages on this site.
            </p>

            <p>
            Finally, you can help us by telling us what you think of this
            service. It is still in pilot stage and we will welcome any suggestions
            and thoughts you may have on how we can make this better and easier
            for you to use. You can contact us.... [add contact info].
            </p>
        </div>

        <div id="terms-and-conditions" class="about-section">
            <div class="header">
                <h1>Terms and Conditions</h1>
            </div>

            <p>
            The terms and conditions for this service are created to help you
            understand how we will use the information you give us and what you
            can expect to happen. These are essential to protect both you and
            your privacy and also to make it fair for the services you contact
            us about, so that they get a chance to take your feedback and solve
            your problem.
            </p>

            <p><a href="">See Our Terms and Conditions</a></p>
        </div>
    </div>

    <div class="g  one-third">
        <ul class="side-nav">
            <li class="active"><a href="#about-this-service">About this service</a></li>
            <li><a href="#submitting-problems">Submitting problems</a></li>
            <li><a href="#making-complaints">Making complaints</a></li>
            <li><a href="#reviews-and-ratings">Reviews and ratings</a></li>
            <li><a href="#live-interactive-maps">Our live interactive maps</a></li>
            <li><a href="#why-have-we-developed-this-service">Why have we developed this?</a></li>
            <li><a href="#how-can-you-help-us">How can you help us?</a></li>
            <li><a href="#terms-and-conditions">Terms and conditions</a></li>
        </ul>
    </div>
</div>
{% endblock content %}

{% load staticfiles %}
{% block extra_js %}
{{ block.super }}

<script src="{% static 'js/jquery.scrollspy.js' %}"></script>
<script src="{% static 'js/side_nav.js' %}"></script>
<script>
    jQuery(document).ready(function($) {
        new SideNavView({el: $('.side-nav'), sections: $('.about-section')});
    });
</script>

{% endblock extra_js %}
