{% extends 'base.html' %}
{% load url from future %}

{% block title %}About{% endblock %}

{% block bodyclasses %}about{% endblock %}

{% block content %}
<div class="gw">
    <div class="g  two-thirds">

        <div id="about-this-service" class="about-section">
            <div class="header">
                <h1>About this service</h1>
            </div>

            <p>
            Help us to improve the NHS by acting as our &lsquo;eyes and ears&rsquo;, tell us what we are doing well and what we need to improve on, so that we can develop the best possible services. We want to ensure your voice is heard, listened to and acted upon.
            </p>

            <p>
            Note, this is a pilot stage of the on-line service and is being tested in London and parts of the North East of England. We would welcome any comments or suggestions for improvements before we share it with NHS users across the country. Email us your thoughts at <a href="mailto:{{ settings.FEEDBACK_EMAIL_ADDRESS }}">{{ settings.FEEDBACK_EMAIL_ADDRESS }}</a>.
            </p>

            <div class="gw">
                <div class="g  one-third">
                    <h3>Share your experience</h3>
                </div>
                <div class="g  two-thirds">
                    <p>
                    Share your experience - tell us about when you have experienced good care and when you have not. We also want to hear about your suggestions for what we can do to improve.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h3>Ask a question</h3>
                </div>
                <div class="g  two-thirds">
                    <p>
                    Receive an online answer to your questions about NHS services. To make it easier we have also included some quick links to the most commonly asked questions.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h3>Report a problem</h3>
                </div>
                <div class="g  two-thirds">
                    <p>
                    If you have a problem that needs resolving, or you want to report something that needs our attention, submit it here and we will connect you directly with people at the NHS service who are best placed to help.
                    </p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h3>See how local services are responding in real time</h3>
                </div>
                <div class="g  two-thirds">
                    <p>
                    Our live map and summary tables show how NHS providers are responding to people in real time.
                    </p>
                </div>
            </div>
        </div>

        <div id="why-have-we-developed-this-service" class="about-section">
            <div class="header">
                <h1>Why Have We Developed This Service?</h1>
            </div>

            <p>
            The NHS Constitution explains how the NHS is accountable to you. It tells you how we will ensure NHS health and care services in England are delivered to the highest quality standard.
            </p>

            <p>
            This new online service is part of our commitment. It gives you a direct route to find out information, ask us questions, get problems resolved and let us know what you think of the services you experience.
            </p>

            <p>
            By listening to you we can make sure that NHS services are based on the needs of patients and their families. Be our eyes and ears and help us build a better NHS.
            </p>
        </div>

        <div id="share-your-experiences" class="about-section">
            <div class="header">
                <h1>Share your experiences</h1>
            </div>

            <p>
            In the same way that you can leave online reviews about your experiences with other services, and give them star ratings, you are invited to share here your recent NHS experience.
            </p>

            <p>Tell us what went well - it&rsquo;s a real boost to staff.</p>

            <p>Tell us when things have not gone well - we want to understand so that we take steps to improve.</p>

            <p>We also want to hear about your suggestions to help us improve. There are just 6 easy steps:</p>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--green">Step 1</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Click on Share your Experience on the homepage</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--green">Step 2</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Find the NHS provider</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--green">Step 3</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Type the details of your experience into the online form</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--green">Step 4</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Select the star ratings you would like to award to the various aspects of your experience</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--green">Step 5</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Share a few details about the time of your visit and your contact details</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--green">Step 6</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Read the T&amp;Cs and press submit</p>
                </div>
            </div>

            <p>You can click on 'provider summaries' and select the name of the NHS provider to see all their reviews.</p>

        </div>

        <div id="ask-a-question" class="about-section">
            <div class="header">
                <h1>Ask a question</h1>
            </div>

            <p>It can be confusing to know where to go to get answers to questions you may have about the NHS so we&rsquo;ve made it easy for you by having one single place for you to post your questions. There are just 4 simple steps:</p>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--orange">Step 1</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Click on Ask a Question on the homepage</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--orange">Step 2</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Enter your details on our Online Enquiry Service form</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--orange">Step 3</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Confirm all the details are right</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--orange">Step 4</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Press submit</p>
                </div>
            </div>

            <p>We've also created a section on commonly asked questions (add link to common questions) which may help you find the information you want more quickly - simply click on Commonly Asked Questions in the top navigation bar.</p>

            <p>Please note this is not a medical service so if you have a question or are concerned about a medical problem, why not use our <a href="http://www.nhs.uk/NHSdirect/pages/symptoms.aspx">Symptom Checker?</a></p>
        </div>

        <div id="submit-a-problem" class="about-section">
            <div class="header">
                <h1>Submit a problem</h1>
            </div>

            <p>People tell us that they often want to get their issue about an NHS service resolved quickly but do not always know how to do this. Simply tell us about it here and we will send it on your behalf to people in the NHS service that are best able to help. A problem fixed is a positive outcome for you and for the NHS. It's quick and easy to do in just 6 simple steps:</p>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--blue">Step 1</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Click on Report a Problem on the homepage</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--blue">Step 2</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Find the NHS provider</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--blue">Step 3</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Type the details of your problem into the online form</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--blue">Step 4</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Allocate a category and a service</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--blue">Step 5</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Decide if you want to make the details of your problem visible to the public, or kept private between you and the NHS</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-sixth">
                    <h2 class="step-title  step-title--blue">Step 6</h2>
                </div>
                <div class="g  five-sixths">
                    <p>Read the T&amp;Cs and Submit (You will receive a confirmation number which you can use to track the status of your problem)</p>
                </div>
            </div>

            <h2>What happens next?</h2>

            <p>We will send your problem report to the NHS provider immediately. They will then contact you directly to try to get it resolved.</p>

            <p>You can expect to receive an acknowledgement from the NHS provider. The NHS provider will agree with you the expected time to get your problem resolved. If your problem requires a more detailed response or formal investigation, the NHS provider will work with you to ensure this happens.</p>

            <p>If you have chosen to make the details of your problem visible to the public (to help others who may be experiencing something similar) this will appear a short while later after passing through our moderation process. You can use your reference number to track the progress of your problem.</p>

            <p>The NHS provider will change the status of your problem from 'open' to 'in progress' when they make contact with you. When your problem has been resolved the status will be changed to 'closed'. This removes it from the live map but it will still be visible on the NHS provider summary.</p>

            <h2>What does the status means?</h2>

            <div class="gw">
                <div class="g  one-third">
                    <h2>Open</h2>
                </div>
                <div class="g  two-thirds">
                    <p>This means your problem has been forwarded to the NHS provider and appears on the live map and the provider summary.</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h2>In-Progress</h2>
                </div>
                <div class="g  two-thirds">
                    <p>This means the NHS provider has received your problem and will contact you directly to work out how best to resolve it.</p>
                </div>
            </div>

            <div class="gw">
                <div class="g  one-third">
                    <h2>Closed</h2>
                </div>
                <div class="g  two-thirds">
                    <p>This means your problem has been resolved and marked as 'closed' by the NHS provider. It will no longer appear on the live map but will still be visible on the provider summary.</p>
                </div>
            </div>

            <p>You will receive an email asking you to complete a short survey 3 weeks after posting your problem to find out if you feel your problem was resolved. The results of this survey will be published on this site.</p>

            <p>Please note this is not a medical service so if you if you have a question or are concerned about a medical problem may want to use our <a href="http://www.nhs.uk/NHSdirect/pages/symptoms.aspx">Symptom Checker?</a></p>

            <p>If you have an urgent medical problem dial 111</p>
        </div>

        <div id="live-map" class="about-section">
            <div class="header">
                <h1>Live map</h1>
            </div>

            <p>You can look up your local NHS provider on our live map and see what issues are being responded to in real time.</p>

            <p>The map shows the number of problems that have been submitted. A blue dot on the map marks the location of the NHS provider. The darker the shade of blue indicates the higher the number of problems that are currently 'open' or 'in progress'.</p>

            <p>Type in the postcode or the name of the NHS provider to zoom in on a specific area of the map. You can also filter by provider, category and status.</p>

            <p>Hover over a dot to see an 'at a glance' summary</p>

            <p>Click on the dot to go to the NHS provider summary where your can track your problem using your booking reference number and also see what others have reported and how the NHS is responding.</p>

            <p>If you cannot see the NHS provider you are looking for, it may be that they are not currently participating in the pilot service.</p>

            <p><em>Note: A higher number of problems may not necessarily indicate a poorly performing NHS provider - it could be that they are actively promoting this feedback service. Check out their summary page to see how they are doing.</em></p>

            <p>A problem fixed is a positive outcome for you and the NHS.</p>
        </div>

        <div id="making-complaints" class="about-section">
            <div class="header">
                <h1>Making Complaints</h1>
            </div>

            <p>
            All problems posted through these pages are treated as important
            but if you feel that your problem is serious and that you wish to
            make a formal complaint instead, here's what you need to do:
            </p>

            <div class="vcard">
                <p>Contact the NHS England Customer Contact Centre directly:</p>

                <div class="adr">
                    <h2>By Post</h2>
                    <span class="fn">NHS Commissioning Board</span><br>
                    <span class="street-address">PO Box 16728</span><br>
                    <span class="region">Redditch</span><br>
                    <span class="postal-code">B97 9PT</span>
                </div>

                <div class="telephone">
                    <h2>By telephone</h2>
                    <span class="tel">0300 311 22 33</span> <span class="note">(Monday to Friday 8am to 6pm, excluding English Bank Holidays)</span>
                </div>

                <h2>By Email</h2>
                <p><a class="email" href="mailto:nhscommissioningboard@hscic.gov.uk">nhscommissioningboard@hscic.gov.uk</a></p>
            </div>

            <p>
            If after you have made your complaint you are still unhappy with
            how it was dealt with you can take your complaint further with the
            Parliamentary and Health Service Ombudsman or by telephone at 0345
            015 4033.
            </p>

        </div>

        <div id="reviews-and-ratings" class="about-section">
            <div class="header">
                <h1>Reviews and Ratings</h1>
            </div>

            <p>
            In the same way that you can leave online reviews about experiences
            such as holidays, hotels and restaurants, and give them star ratings,
            you can now review and rate your recent NHS experiences. Tell NHS
            services what they are good at and also what they can do to improve.
            Reviews are published on this site and will help other people when
            making decisions about where to go for their healthcare.
            </p>
        </div>



        <div id="how-can-you-help-us" class="about-section">
            <div class="header">
                <h1>How Can You Help Us Develop This Service?</h1>
            </div>

            <p>
            This is an ambitious project that can really change the way the NHS
            and care services interact with the public but for it to work we
            want people to be engaging with us. You can help us by contributing
            and leaving reviews about your recent NHS experience, good or bad.
            If you have any problems that need solving, or any questions relating
            to NHS or care services in your area, please post them through these
            pages on this site.
            </p>

            <p>
            Finally, you can help us by telling us what you think of this
            service. It is still in pilot stage and we will welcome any suggestions
            and thoughts you may have on how we can make this better and easier
            for you to use. You can contact us.... [add contact info].
            </p>
        </div>

        <div id="terms-and-conditions" class="about-section">
            <div class="header">
                <h1>Terms and Conditions</h1>
            </div>

            <p>
            The terms and conditions for this service are created to help you
            understand how we will use the information you give us and what you
            can expect to happen. These are essential to protect both you and
            your privacy and also to make it fair for the services you contact
            us about, so that they get a chance to take your feedback and solve
            your problem.
            </p>

            <p><a href="">See Our Terms and Conditions</a></p>
        </div>
    </div>

    <div class="g  one-third">
        <ul class="side-nav">
            <li class="active"><a href="#about-this-service">About this service</a></li>
            <li><a href="#why-have-we-developed-this-service">Why have we developed this?</a></li>
            <li><a href="#share-your-experiences">Share your experiences</a></li>
            <li><a href="#ask-a-question">Ask a question</a></li>
            <li><a href="#submit-a-problem">Submit a problem</a></li>
            <li><a href="#live-map">Live map</a></li>

            <li><a href="#making-complaints">Making complaints</a></li>
            <li><a href="#how-can-you-help-us">How can you help us?</a></li>
            <li><a href="#terms-and-conditions">Terms and conditions</a></li>
        </ul>
    </div>
</div>
{% endblock content %}

{% load staticfiles %}
{% block extra_js %}
{{ block.super }}

<script src="{% static 'js/jquery.scrollspy.js' %}"></script>
<script src="{% static 'js/side_nav.js' %}"></script>
<script>
    jQuery(document).ready(function($) {
        new SideNavView({el: $('.side-nav'), sections: $('.about-section')});
    });
</script>

{% endblock extra_js %}
