{% load staticfiles %}{% load url from future %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block fulltitle %}{% block title %}{% endblock %} :: NHS Care Connect{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width" initial-scale=1.0>
        {% block extra_headers %}{% endblock %}
        <!--[if lte IE 7]>
            <link rel="stylesheet" href="{% static "css/style-ie-7.css" %}">
        <![endif]-->
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{% static "css/style-ie-8.css" %}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static "css/default.css" %}">
        <!--<![endif]-->
        {% if cobrand %}
        <link rel="stylesheet" href="{% static cobrand.stylesheet  %}">
        {% endif %}
        {% block extra_css %}{% endblock %}
    </head>

    <body class="{% block bodyclasses %}{% endblock %}">
        {% if settings.DEBUG == True %}
        <div id="staging_header">This is a staging site &ndash; any data saved here <strong>may be deleted</strong>.</div>
        {% endif %}


        <div id="container" class="{% block containerclasses %}container{% endblock %}">
              {% if cobrand %}
                  {% if cobrand.name == 'myhealthlondon' %}
                 <div id="banner" >
                     <a id="site-logo" href="http://www.myhealth.london.nhs.uk">MyHealthLondon</a>
                 </div>
                 {% endif %}
              {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    <!-- Scripts at the bottom, as per html5bp -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/jquery-1.9.0.min.js" %}"><\/script>')</script>

    <script>
        var docEl = document.documentElement;
        docEl.className = docEl.className.replace(/\bno-js\b/,'') + ' js';
    </script>

    {% block extra_js %}{% endblock %}

    {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    {% endif %}
    </body>
</html>
