{% extends 'base.html' %}


{% block bodyclasses %}homepage{% endblock %}

{% block content %}
<div class="header">
    <h1>This page won't exist</h1>
</div>

<div>
    <h2>Public Pages</h2>
    <a href="/choices">Public Choices frontpage</a> or
    <a href="/myhealthlondon">Public MyHealth London frontpage</a>
</div>

<div>
    <h2>Private Pages</h2>
    <ul>
        <li><a href="/private/moderate">Moderation queue</a></li>
        <li><a href="/private/moderate/lookup">Moderation lookup</a></li>
        <li><a href="/private/dashboard/G85088">Example GP dashboard</li>
        <li><a href="/private/dashboard/RXR60">Example hospital dashboard</li>
        <li><a href="/private/summary/G85088">Example GP private summary</li>
        <li><a href="/private/summary/RXR60">Example hospital private summary</li>
    </ul>

</div>
{% endblock %}
