{% extends 'base.html' %}


{% block bodyclasses %}homepage{% endblock %}

{% block content %}
<div class="header">
    <h1>This page won't exist</h1>
</div>

<div>
    <h2>Public Pages</h2>
    <a href="/choices">Public Choices frontpage</a> or
    <a href="/myhealthlondon">Public MyHealth London frontpage</a>
    <ul>
        <li><a href="/choices/stats/summary/E85744">Example GP Outcomes Summary</a></li>
        <li><a href="/choices/stats/problems/E85744">Example GP Public Problems</a></li>
        <li><a href="/choices/stats/summary/RQY07">Example Hospital Outcomes Summary</a></li>
        <li><a href="/choices/stats/problems/RQY07">Example Hospital Public Problems</a></li>
    </ul>
</div>

<div>
    <h2>Private Pages</h2>
    <ul>
        <li><a href="/private/moderate">Moderation queue</a></li>
        <li><a href="/private/moderate/lookup">Moderation lookup</a></li>
        <li><a href="/private/dashboard/E85744">Example GP dashboard</li>
        <li><a href="/private/dashboard/RQY07">Example hospital dashboard</li>
        <li><a href="/private/summary/E85744">Example GP private summary</li>
        <li><a href="/private/summary/RQY07">Example hospital private summary</li>
        <li><a href="/private/map">Private map page for superusers</li>
    </ul>

</div>
{% endblock %}
