{% extends 'base.html' %}


{% block bodyclasses %}homepage{% endblock %}

{% block content %}
<div class="header">
    <h1>This page won't exist</h1>
</div>

<div>
    <h2>Public Pages</h2>
    <a href="/choices">Public Choices frontpage</a> or
    <a href="/myhealthlondon">Public MyHealth London frontpage</a>
    <ul>
        <li><a href="/choices/stats/summary/H85111">Example GP Outcomes Summary</a></li>
        <li><a href="/choices/stats/problems/H85111">Example GP Public Problems</a></li>
        <li><a href="/choices/reviews/H85111">Example GP Reviews</a></li>
        <li><a href="/choices/stats/summary/RJ701">Example Hospital Outcomes Summary</a></li>
        <li><a href="/choices/stats/problems/RJ701">Example Hospital Public Problems</a></li>
        <li><a href="/choices/reviews/RJ701">Example Hospital Reviews</a></li>
    </ul>
</div>

<div>
    <h2>Private Pages</h2>
    <ul>
        <li><a href="/private/moderate">Moderation queue</a></li>
        <li><a href="/private/moderate/lookup">Moderation lookup</a></li>
        <li><a href="/private/moderate/tier_two">Second tier moderation queue</a></li>
        <li><a href="/private/escalation">Escalation dashboard</a></li>
        <li><a href="/private/summary">National Summary (private - shows all statuses)</a></li>
        <li><a href="/private/dashboard/H85111">Example GP dashboard</li>
        <li><a href="/private/dashboard/RJ701">Example hospital dashboard</li>
        <li><a href="/private/summary/H85111">Example GP private summary</li>
        <li><a href="/private/summary/RJ701">Example hospital private summary</li>
    </ul>

</div>
{% endblock %}
