{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% load utils %}

{% block title %}Home{% endblock %}

{% block bodyclasses %}homepage{% endblock %}

{% block content %}
<div class="gw  mb  mt--b">
    <div class="g  two-thirds  palm-one-whole">
        <p class="intro-text mt">We want you as a user of NHS services to act as our &lsquo;eyes and ears&rsquo;; to tell us when things are going well and to tell us when things are not going well so that we can do something about it. We want to ensure your voice is heard, listened to and acted upon.</p>
        <p>You can do this online here or via text us on 61114.</p>
    </div>
    <div class="g  one-third  palm-one-whole">
        <div class="islet  islet--white">

             <div class="islet problem-search">

                {% if form.non_field_errors %}
                    {% include "message_list.html" with messages=form.non_field_errors message_type='error' %}
                {% endif %}


                <form method="post">
                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <label for="id_reference_number">Check status of Problem</label>

                    <input type="text" name="reference_number" id="id_reference_number"  class="text-input  one-whole" placeholder="Enter your problem reference number"/>


                   <button type="submit" class="btn btn--blue  btn--no-border"><span class="icon-chevron-right" aria-hidden="true"></span><span class="hide-text">Find</span></button>
                </form>
            </div>


        </div>
    </div>
</div>


<div class="gw main-options">
    <div class="g  one-third  palm-one-whole">
        <div class="islet  islet--white  mt  mb">
            <a href="{% url 'reviews-pick-provider' cobrand=cobrand.name %}" class="btn__with-caption">
                <span class="btn  btn--big  btn--light-green  btn--no-border">Share Your Experience</span>
                <span class="btn__caption">Click here</span>
            </a>
        </div>
    </div>
    <div class="g  one-third  palm-one-whole  align-center">
        <div class="islet  islet--white  mt  mb">
            <a href="https://www.nhsdirect.nhs.uk/CheckSymptoms/HealthEnquiry.aspx" class="btn__with-caption">
                <span class="btn  btn--big  btn--big--fix  btn--dark-orange  btn--no-border">Ask a question</span>
                <span class="btn__caption">Click here</span>
            </a>
        </div>
        <a href="{% url 'common-questions' cobrand=cobrand.name %}" class="coloured-link--dark-orange">See common questions <span class="icon-chevron-right" aria-hidden="true"></span> </a>
    </div>
    <div class="g  one-third  palm-one-whole  align-center">
        <div class="islet  islet--white  mt  mb">
            <a href="{% url 'problems-pick-provider' cobrand=cobrand.name %}" class="btn__with-caption">
                <span class="btn  btn--big  btn--blue btn--big--fix  btn--no-border">Report a problem</span>
                <span class="btn__caption">Click here</span>
            </a>
        </div>

    </div>
</div>

<hr class="hr--big  mt--b  mb--b">

<div class="gw">
    <div class="g  two-thirds  palm-one-whole">
        <div class="bordered-box">
            <h2 class="feed-list__heading">Live Feed</h2>
            <ul class="feed-list">

                {% for issue in issues %}
                    {% if issue|classname == 'Problem' %}
                        {% include 'includes/feed_problem.html' with problem=issue %}
                    {% elif issue|classname == 'Review' %}
                        {% include 'includes/feed_review.html' with review=issue score=issue.main_rating_score %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="g  one-third  palm-one-whole">
        <div class="bordered-box  homepage-map-box">
            <img src="{% static 'img/homepage-map.png' %}">

            <div class="map-links">
                <span class="map-text mb mt--s">See problems and reviews in our pilot areas</span>

                <div class="gw">

                    <div class="g one-whole mb--s">
                        <input type="text" id="map-search-org-name" data-search-url="{% url 'org-map-search' cobrand=cobrand.name %}" data-map-url="{% url 'org-map' cobrand=cobrand.name %}" />
                    </div>
                </div>


            </div>
        </div>

        <div class="mt">
        </div>
    </div>
</div>


{% include 'emergency_numbers.html' %}

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/map_search.js' %}"></script>
<script>
    jQuery(function($) {
        var $searchBox = $("#map-search-org-name");

        $searchBox.on('change', function(e) {
            // Redirect to the map page
        });
    });
</script>
{% endblock extra_js %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/select2/select2.css' %}" />
{% endblock extra_css %}
