{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block bodyclasses %}homepage{% endblock %}

{% block content %}
<div class="header">
    <h1>NHS Citizen's Connect</h1>
</div>
<div class="hero">
    <div class="feature">
        <p><a href="{% url problems-pick-provider %}">I've got a problem that needs solving</a></p>
    </div>
    <div class="feature">
        <p><a href="{% url reviews-pick-provider %}">I would like to leave a review of my NHS Experience</a></p>
    </div>
</div>
<div class="questions">
    <h2>I've got a question that needs answering</h2>
    <div class="feature">
        <p><a href="{% url ask-question %}">For London</a></p>
    </div>
    <div class="feature">
        <p><a href="{% url ask-question %}">For Manchester</a></p>
    </div>
</div>
<div class="questions-more">
    <div class="feature">
        <p><a href="{% url org-map %}">See the maps!</a></p>
    </div>
    <div class="feature">
        <p><a href="">Find out more</a></p>
    </div>
</div>
<div class="problems">
    <div class="feature">
        <p><a href="{% url org-all-summary %}">I’d like to see what issues other people have been raising</a></p>
    </div>
</div>
<h2 class="emergency">Emergency? Dial 999 NOW!</h2>
<h2>Need urgent medical care but not life-threatening? Dial 111 now.</h2>
{% endblock %}
