{% extends 'base.html' %}
{% load url from future %}


{% block title %}Pick Provider{% endblock %}

{% block bodyclasses %}pick-provider{% endblock %}
{% block containerclasses %}container{% endblock %}

{% block content %}

<h1>{{ title_text }}: Choose a Provider</h1>

<p>{{ intro_text }}</p>

<div class="island">
    {% if form.non_field_errors or form.errors.location %}
        {% if form.errors.location %}
            {% with messages=form.non_field_errors|add:form.errors.location %}
                {% include "message_list.html" with messages=messages message_type='error' %}
            {% endwith %}
        {% else %}
            {% include "message_list.html" with messages=form.non_field_errors message_type='error' %}
        {% endif %}
    {% endif %}

    <form action="" method="get" class="gw inline-form">
        <div class="g  one-fifth  palm-one-whole">
            <label>Provider type</label>
            {{ form.organisation_type }}
        </div>
        <div class="g  three-fifths  palm-two-thirds">

            <label for="id_location">Provider&rsquo;s name</label>

            <input type="text" name="location" id="id_location"  class="text-input  one-whole" placeholder="e.g. &lsquo;Guy&rsquo;s Hospital&rsquo; or &lsquo;SW1P 3AZ&rsquo;" />
        </div>

        <div class="g  one-fifth  palm-one-third">
            <button type="submit" class="btn  btn--no-label">Find <span class="icon-search" aria-hidden="true"></span></button>
        </div>

        <p class="g  one-whole">Please note this feature is currently limited to services only within London and the North East of England. As the service develops we will be expanding to include more areas.</p>
    </form>
</div>

{% endblock %}
