{% extends 'base.html' %}
{% load url from future %}

{% block title %}Review of {{ organisation.name }}{% endblock %}

{% block bodyclasses %}review_detail{% endblock %}

{% block content %}

<div class="header">
    <div>{{ organisation.name }}</div>
    <div class="fr">
        <a  class="icon-chevron-left"
            href="{% url 'public-org-summary' ods_code=review.organisation.ods_code cobrand=cobrand.name %}"
        >Back to Provider</a>
    </div>
    <h1>Review</h1>
</div>


<h2>Review</h2>

<h3>{{ review.title }}</h3>

{% if review.content_liked %}
    <h4>Reviewer liked:</h4>
    <div>{{ review.content_liked|linebreaks }}</div>
{% endif %}

{% if review.content_improved %}
    <h4>Suggested improvements:</h4>
    <div>{{ review.content_improved|linebreaks }}</div>
{% endif %}

{% if review.content %}

    {% if review.content_liked or review.content_improved %}
    <h4>Other commments:</h4>
    {% endif %}

    <div>{{ review.content|linebreaks }}</div>
{% endif %}


<hr />


<h2>Ratings</h2>

<ul>
    {% for rating in review.ratings.all %}

        <li>
            {{ rating.question }}
            {{ rating.score }} ({{ rating.answer }})
        </li>
    {% endfor %}
</ul>

<hr />

<div class="fl">Reviewed by {{ review.author_display_name }}</div>

<div class="fr">Reviewed on {{ review.api_published|date:"j M Y" }}</div>


{% endblock %}
