{% extends 'base.html' %}
{% load url from future %}

{% block title %}Review of {{ organisation.name }}{% endblock %}

{% block bodyclasses %}review_detail{% endblock %}

{% block content %}

<div class="header">
    <div>{{ organisation.name }}</div>
    <h1>Review</h1>
    <div>Back to Provider</div>
</div>


<h2>Review</h2>

<h3>{{ review.title }}</h3>

<p>{{ review.content }}</p>


<h2>Ratings</h2>

<ul>
    {% for rating in review.ratings.all %}

        <li>
            {{ rating.question }}
            {{ rating.score }} ({{ rating.answer }})
        </li>
    {% endfor %}
</ul>



{% endblock %}
