{% extends "citizenconnect/base.html" %}
{% load url from future %}

{% block title %}Review of {{ organisation.name }}{% endblock %}

{% block bodyclasses %}review_detail{% endblock %}

{% block content %}

<div class="header">
    <div>{{ organisation.name }}</div>
    <div class="fr">
        <a class="back-btn" href="{% url 'public-org-summary' ods_code=organisation.ods_code cobrand=cobrand.name %}">
            <span class="icon-chevron-left  mt--n" aria-hidden="true"></span> Back to Provider
        </a>
    </div>
    <h1>Review</h1>
</div>


{% include 'reviews_display/includes/review-display-block.html' with review=review %}

{% for reply in review.replies.all %}
  {% include 'reviews_display/includes/review-display-block.html' with review=reply %}
{% endfor %}

{% endblock %}
