{% extends 'base.html' %}
{% load url from future %}
{% load render_table from django_tables2 %}

{% block title %}{{ trust.name }} Reviews{% endblock %}

{% block bodyclasses %}org-parent-reviews{% endblock %}

{% block content %}

{# Not the finest hour for Django templates. The "add" filter is idiotic with regards to not coercing values #}
{% with total_reviews|stringformat:"s" as total_reviews_string %}
  {% with "Reviews ("|add:total_reviews_string|add:")" as title %}
    {% include "organisations/includes/page_header.html" with title=title organisation=trust%}
  {% endwith %}
{% endwith %}

{% include "organisations/includes/organisation_parent_tabs.html" with active_tab='reviews' %}

{% render_table table 'reviews_display/includes/review-table.html' %}

{% endblock %}
