{% extends 'base.html' %}
{% load url from future %}
{% load render_table from django_tables2 %}

{% block title %}{{ organisation.name }} Reviews{% endblock %}

{% block bodyclasses %}organisation-reviews{% endblock %}

{% block content %}

<div class="header">
    <h1>{{ organisation.name }} Reviews ({{ total_reviews }})</h1>
</div>

{% include "organisations/includes/organisation_tabs.html" with active_tab='reviews' %}

{% render_table table 'reviews_display/includes/review-table.html' %}

{% endblock %}
