{% load staticfiles %}
<div class="footer clear">
    <ul class="footer-tabs clear">
        <li><a href="#footer-tab1"><span class="crnr tl"></span><span class="footer-title">NHS Choices information</span><span class="crnr tr"></span></a></li>
        <li><a href="#footer-tab3"><span class="crnr tl"></span><span class="footer-title">Your pages</span><span class="crnr tr"></span></a></li>
    </ul>

    <div id="footer-tab1" class="footer-tab1 footer-tab-content clear">
        <div class="footer-list">
            <h2>Site policies</h2>
            <ul class="info">
                <li><a href="http://www.nhs.uk/aboutNHSChoices/aboutnhschoices/termsandconditions/Pages/termsandconditions.aspx" accesskey="8" rel="nofollow">Terms and conditions</a></li>
                <li><a href="http://www.nhs.uk/aboutNHSChoices/aboutnhschoices/Aboutus/Pages/Editorialpolicy.aspx" rel="nofollow">Editorial policy</a></li>
                <li><a href="http://www.nhs.uk/aboutNHSChoices/aboutnhschoices/termsandconditions/Pages/commentspolicy.aspx" rel="nofollow">Comments policy</a></li>
                <li><a href="http://www.nhs.uk/aboutNHSChoices/professionals/syndication/Pages/Webservices.aspx" rel="nofollow">Syndication</a></li>
                <li><a href="http://www.nhs.uk/aboutNHSChoices/aboutnhschoices/termsandconditions/Pages/Privacypolicy.aspx" rel="nofollow">Privacy policy</a></li>
                <li><a href="http://www.nhs.uk/aboutNHSChoices/aboutnhschoices/termsandconditions/Pages/cookies-policy.aspx" rel="nofollow">Cookies policy</a></li>
                <li><a href="http://www.nhs.uk/aboutNHSChoices/aboutnhschoices/Aboutus/Pages/LinkingtoChoices.aspx" rel="nofollow">Links policy</a></li>
                <li><a href="http://www.nhs.uk/aboutNHSChoices/aboutnhschoices/Personalaccounts/Pages/NHSChoicesaccount.aspx" rel="nofollow">Personal accounts</a></li>
                <li><a href="http://www.nhs.uk/accessibility/Pages/Accessibility.aspx" accesskey="0" rel="nofollow">Accessibility</a></li>
                <li><a href="http://www.nhs.uk/choices/pages/sitemap.aspx" accesskey="3" rel="nofollow">Sitemap</a></li>
            </ul>
        </div>
        <div class="footer-list">
            <h2>Other NHS sites</h2>
            <ul class="info">
                <li><a href="http://www.chooseandbook.nhs.uk/" rel="nofollow">Choose and Book</a></li>
                <li><a href="http://www.nhscarerecords.nhs.uk/" rel="nofollow">Summary Care Records</a></li>
                <li><a href="http://www.nhsdirect.nhs.uk/" rel="nofollow">NHS Direct</a></li>
                <li><a href="http://www.show.scot.nhs.uk/" rel="nofollow">NHS Scotland</a></li>
                <li><a href="http://www.hscni.net/" rel="nofollow">NHS Northern Ireland</a></li>
                <li><a href="http://www.nhsdirect.wales.nhs.uk/" rel="nofollow">NHS Wales</a></li>
                <li><a href="http://www.nhscareers.nhs.uk/" rel="nofollow">NHS Careers</a></li>
                <li><a href="http://www.nhs.uk/aboutNHSChoices/professionals/innovationanddevelopment/Pages/training.aspx" rel="nofollow">NHS Choices Training</a></li>
                <li><a href="http://www.dh.gov.uk/en/index.htm" rel="nofollow">Department of Health</a></li>
            </ul>
        </div>
        <div class="footer-list">
            <h2>About the NHS</h2>
            <ul class="info">
                <li><a href="http://www.nhs.uk/NHSEngland/thenhs/nhshistory/Pages/NHShistory1948.aspx" rel="nofollow">History of the NHS</a></li>
                <li><a href="http://www.nhs.uk/NHSEngland/AboutNHSservices/Pages/NHSServices.aspx" rel="nofollow">About NHS services</a></li>
                <li><a href="http://www.nhs.uk/choiceinthenhs" rel="nofollow">Choice in the NHS</a></li>
                <li><a href="http://www.nhs.uk/aboutNHSChoices/professionals/healthandcareprofessionals/quality-accounts/Pages/quality-accounts-2011-2012.aspx" rel="nofollow">Quality accounts</a></li>
                <li><a href="http://www.nhs.uk/NHSEngland/thenhs/records/proms/Pages/aboutproms.aspx" rel="nofollow">PROMs</a></li>
                <li><a href="http://www.nhs.uk/NHSEngland/links/Pages/links-make-it-happen.aspx" rel="nofollow">Local Involvement Networks (LINks)</a></li>
                <li><a href="http://www.nhs.uk/ServiceDirectories/Pages/AcuteTrustListing.aspx" rel="nofollow">Find authorities and trusts</a></li>
            </ul>
        </div>
        <div class="footer-list">
            <h2>Other channels</h2>
            <ul class="info">
                <li><a href="http://twitter.com/nhschoices" rel="nofollow">Follow us on Twitter</a></li>
                <li><a href="http://www.facebook.com/nhschoices" rel="nofollow">Facebook</a></li>
                <li><a href="http://www.youtube.com/nhschoices" rel="nofollow">YouTube</a></li>
                <li><a href="http://www.nhs.uk/video/pages/MediaLibrary.aspx" rel="nofollow">Video library</a></li>
                <li><a href="http://www.nhs.uk/Pages/LinkListing.aspx" rel="nofollow">Links library</a></li>
            </ul>
        </div>
        <div class="footer-list">
            <h2>Other Languages</h2>
            <span class="language-intro">Visit our </span><span class="language-intro"><a href="http://www.nhs.uk/aboutNHSChoices/aboutnhschoices/Aboutus/Pages/languageshub.aspx " rel="nofollow">language section</a> for more health websites in foreign languages.</span>
        </div>
        <div class="footer-list">
            <h2>Contact NHS Choices</h2>
            <ul class="info">
                <li><a href="http://www.nhs.uk/aboutNHSChoices/Pages/ContactUs.aspx" rel="nofollow">Choices helpdesk</a></li>
                <li><a href="http://www.nhs.uk/aboutnhschoices/contactus/pages/freedom-of-information.aspx" rel="nofollow">Freedom of Information requests</a></li>
            </ul>
        </div>
    </div>
    <div id="footer-tab3" class="footer-tab3 footer-tab-content clear">
        <div class="footer-wrap your-pages clear">
            <div class="footer-box-wrap">
                <span class="crnr tl"></span><span class="crnr tr"></span>
                <div class="footer-box-content clear">
                    <h2>Create an NHS Choices account</h2>
                    <p>With an account you can keep track of pages on the site and save them to this tab, which you can access on every page when you are logged in.</p>
                    <div class="footer-box-button-wrap clear">
                        <div class="footer-box-button clear">
                            <span class="crnr tl"></span><span class="crnr tr"></span>
                            <p><a href="http://www.nhs.uk/Personalisation/Registration.aspx"><span class="crnr tl"></span><span class="crnr tr"></span>Create account<span class="crnr bl"></span><span class="crnr br"></span></a></p>
                            <span class="crnr bl"></span><span class="crnr br"></span>
                        </div>
                    </div>
                    <p class="footer-login">Already have an account? <a href="http://www.nhs.uk/Personalisation/Login.aspx">Log in</a></p>
                </div>
                <span class="crnr bl"></span><span class="crnr br"></span>
            </div>
            <div class="footer-col">
                <ul>
                    <li>
                        <h3>Saved pages</h3>
                        <p>Keep track of important pages</p>
                    </li>
                    <li>
                        <h3>Recently visited pages</h3>
                        <p>Easily find again pages you have been reading</p>
                    </li>
                    <li class="last">
                        <h3>Pages you might like</h3>
                        <p>Have pages recommended to you</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-logos clear">
        <ul>
            <li><span class="hidden">&ndash;</span><a href="http://www.gov.uk/"><img src="{% static "img/choices/gov-uk.gif" %}" alt="Link to gov.uk &ndash; The new place to find government services and information" class="gov-uk" /></a></li>
            <li><span class="hidden">&ndash;</span><a href="http://www.nhs.uk/aboutNHSChoices/aboutnhschoices/Aboutus/Pages/the-information-standard.aspx"><img src="{% static "img/choices/information-standards.gif" %}" alt="The Information Standard - Certified member" /></a></li>
        </ul>
    </div>
</div>