{% load staticfiles %}
{% load url from future %}
<div class="container">
    <div class="heading">
        <h1><a href="http://www.nhs.uk"><img src="{% static "img/choices/choices-logo.gif" %}" alt="NHS Choices" width="212" height="35" /></a></h1>
    </div>

    <div class="fr">
      <p class="nhs-logo"><span>National Health Service</span></p>
    </div>

    <div class="site-top-bar">
        <div class="site-top-bar__row">
            <div class="site-top-bar__cell">
                <p>The care connect pilot programme is drawing to a close and from the 31 March 2015 the phone lines and this website will no longer be available.<br/>Any outstanding queries will continue to be dealt with after March until their satisfactory conclusion.</p>
            </div>
        </div>
    </div>
</div>
