{% load staticfiles %}
{% load url from future %}
<div class="container">
    <div class="heading">
        <h1><a href="http://www.nhs.uk"><img src="{% static "img/choices/choices-logo.gif" %}" alt="NHS Choices" width="212" height="35" /></a></h1>
    </div>

    <div class="fr">
      <p class="nhs-logo"><span>National Health Service</span></p>
    </div>

    <div class="site-top-bar">
        <div class="site-top-bar__row">
            <div class="site-top-bar__cell">
                <p>Currently this site is only live for parts of England - other areas will be added soon</p>
            </div>
        </div>
    </div>
</div>
