{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load page_auth %}
{% block title %}{{ ccg.name }} :: Participating Providers Overview{% endblock %}

{% block bodyclasses %}summary{% endblock %}

{% block content %}

    <h1>{{ ccg.name }} :: Participating Providers Overview</h1>

    {% include 'organisations/includes/ccg_tabs.html' with active_tab='summary' ccg=ccg %}

    {% include 'organisations/includes/filters.html' %}

    {% render_table table 'organisations/includes/national_table.html' %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/summary-table.js' %}"></script>
{% endblock extra_js %}
