{% extends 'base.html' %}
{% load url from future %}
{% load organisation_extras %}
{% load render_table from django_tables2 %}

{% block title %}{{ organisation.name }} Dashboard{% endblock %}

{% block bodyclasses %}organisation-dashboard{% endblock %}

{% block content %}
<div class="header">
    <h1>{{ organisation.name }} Dashboard</h1>
</div>

{% include "organisations/includes/organisation_tabs.html" with active_tab='dashboard' %}

{% render_table table 'organisations/includes/problem-table.html' %}

{% endblock %}
