{% extends 'base.html' %}
{% load url from future %}

{% block title %}{{ organisation.name }} Dashboard{% endblock %}

{% block bodyclasses %}organisation-dashboard{% endblock %}

{% block content %}
<div class="header">
    <h1>{{ organisation.name }} Dashboard</h1>
</div>
<div class="hero">
    <div class="feature">
        <p>96% of message responded to in time</p>
    </div>
    <div class="feature">
        <p>82% of users happy with service</p>
    </div>
    <div class="feature">
        <p><a href="">More stats</a></p>
    </div>
</div>
<div class="messages-table">
    <div class="feature">
        <table>
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Message Type</th>
                    <th>Received</th>
                    <th>Name</th>
                    <th>Message snippet</th>
                    <th>Status</th>
                    <th>Action Due</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in issues %}
                    <tr>
                        <td>{{ issue.reference_number }}</td>
                        <td>{{ issue.issue_type }}</td>
                        <td>{{ issue.created }}</td>
                        <td>{{ issue.reporter_name }}</td>
                        <td><a href="{% url 'response-form' message_type=issue.issue_type.lower pk=issue.id %}">{{ issue.summary }}</a></td>
                        <td>{{ issue.get_status_display }}</td>
                        <td>TODO</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
