{% extends 'base.html' %}
{% load url from future %}
{% load organisation_extras %}

{% block title %}Choose a dashboard{% endblock %}

{% block bodyclasses %}dashboard-choice{% endblock %}

{% block content %}
<div class="header">
    <h1>Choose a dashboard</h1>
</div>

<div class="feature">
    <ul>
        {% for organisation in organisations %}
            <li><a href="{% url 'private-org-summary' ods_code=organisation.ods_code %}">{{ organisation.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
