{% extends 'base.html' %}

{% block title %}{{ organisation_name }} Dashboard{% endblock %}

{% block bodyclasses %}organisation-dashboard{% endblock %}

{% block content %}
<div class="header">
    <h1>{{ organisation_name }} Dashboard</h1>
</div>
<div class="hero">
    <div class="feature">
        <p>96% of message responded to in time</p>
    </div>
    <div class="feature">
        <p>82% of users happy with service</p>
    </div>
    <div class="feature">
        <p><a href="">More stats</a></p>
    </div>
</div>
<div class="messages-table">
    <div class="feature">
        <table>
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Message Type</th>
                    <th>Received</th>
                    <th>Name</th>
                    <th>Message snippet</th>
                    <th>Status</th>
                    <th>Action Due</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">123</a></td>
                    <td>Question</td>
                    <td>09.23 12/01/13</td>
                    <td>Joe Bloggs</td>
                    <td><a href="">I am trying to find out how long it should take...</a></td>
                    <td>In Progress</td>
                    <td>4d 11hr</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
