{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load page_auth %}

{% block title %}{{ ccg.name }} :: Escalated Problems{% endblock %}

{% block bodyclasses %}escalation-dashboard{% endblock %}

{% block content %}
<div class="header">
    <h1>{{ ccg.name }} :: Escalated Problems</h1>
</div>

{% include tabs_template with active_tab='escalation-dashboard' ccg=ccg %}

{% include 'organisations/includes/filters.html' %}

{% render_table table 'organisations/includes/problem-table.html' %}

{% endblock %}
