{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load page_auth %}

{% block title %}{{ ccg.name }} :: Breach Problems{% endblock %}

{% block bodyclasses %}escalation-breaches{% endblock %}

{% block content %}
<div class="header">
    <h1>{{ ccg.name }} :: Breach Problems</h1>
</div>

{% include tabs_template with active_tab='breaches' ccg=ccg%}

{% render_table table 'organisations/includes/problem-table.html' %}

{% endblock %}
