{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Outcomes Map{% endblock %}

{% block bodyclasses %}outcomes-map{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
<![endif]-->
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
<!--[if lte IE 8]><link rel="stylesheet" href="https://raw.github.com/Leaflet/Leaflet.markercluster/master/dist/MarkerCluster.Default.ie.css" /><![endif]-->
{% endblock %}
{% block extra_js %}
{{ block.super }}
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/hospitals.js' %}"></script>
<script src="{% static 'js/gppractices.js' %}"></script>
<script>

    $(document).ready(function(){
            var providers = [],
                map = new L.map('public-map').setView([51.505, -0.09], 13),
                markers = new L.MarkerClusterGroup();

            // Tiles
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                   attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                   maxZoom: 18
               }).addTo(map);

            // Markers
            providers = providers.concat(window.hospitals, window.gppractices);
            $.each(providers, function(index, provider) {
                var latLng = new L.LatLng(provider.coordinates.lat, provider.coordinates.lon);
                markers.addLayer(new L.Marker(latLng, {
                    title: provider.name
                }));
            });
            map.addLayer(markers);
    });
</script>
{% endblock %}
{% block content %}
<div class="header">
    <h1>Outcomes Map</h1>
</div>
<div class="hero">
    <div class="feature">
        <p><a href="{% url org-pick-provider cobrand=cobrand.name %}">Look up the outcomes of an NHS care provider</a></p>
    </div>
    <div class="feature">
        <p><a href="">Look at the outcomes summary tables</a></p>
    </div>
</div>
<div class="map-options">
    <div class="feature">
        <p><a href="">London</a></p>
    </div>
    <div class="feature">
        <p><a href="">Manchester</a></p>
    </div>
</div>
<div class="map-container">
    <div id="public-map" class="map">
    </div>
</div>
<div class="map-instructions">
    <div class="feature">
        <p>Click to the see the outcomes of a provider or zoom in to see more detail</p>
    </div>
</div>
{% endblock %}
