{% extends "citizenconnect/base.html" %}
{% load url from future %}

{% load staticfiles %}

{% block title %}Organisation performance data{% endblock %}

{% block bodyclasses %}outcomes-map{% endblock %}

{% block content %}

<div class="gw">
    <div class="g  two-thirds  palm-one-whole  mb__palm">
        <p>The map shows the number of problems that have been submitted. A blue dot marks the location of the participating NHS providers. The darker the shade of blue, the higher the number of 'open' and 'in progress' problems there are.</p>

        <ul>
            <li>Click on the dot to see a summary for that NHS provider</li>
            <li>Click on 'View problems' to see the details and how the NHS is responding</li>
        </ul>

        <p>A problem fixed is a positive outcome for you and for the NHS!</p>
    </div>
    <div class="g  one-third  palm-one-whole">
        <a href="{% url 'org-all-summary' cobrand=cobrand.name %}"  class="btn  btn--no-border  btn--big  btn--blue">See All Participating Service Providers <br><small>Click here</small></a>
    </div>
</div>

{% include 'organisations/includes/filters.html' %}

<div class="header">
    <h2>Find a service provider</h2>
</div>

<div class="search-controls mb">
    <input type="text" id="map-search-org-name" value="{{ ods_code }}" data-search-url="{% url 'org-map-search' cobrand=cobrand.name %}" />
    <input type="hidden" id="map-search-lon-lat" value="{{ lon }},{{ lat }}" />
</div>

<div class="map-container">
    <div id="map" class="map"></div>
</div>

<div class="gw">
    <div class="g  one-fifth  palm-one-whole  scale">
        <img class="scale-image" src="{% static 'img/problem_scale.png' %}" />
        <small class="meta-data-label">Fewer</small>
        <small class="meta-data-label  fr">More</small>
    </div>
    <div class="g  four-fifths  palm-one-whole">
        <p>
            <small>A higher number of problems (the darker the dot) does not necessarily indicate a poorly performing NHS provider - it could be that they are actively progressing problems and encouraging people to report them. Check out their summary to see how they are doing.</small>
        </p>
    </div>
</div>

{% include 'citizenconnect/includes/emergency_numbers.html' %}

{% endblock content %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/underscore.min.js' %}"></script>
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/wax.leaf.min.js' %}"></script>
<script src="{% static 'js/oms.min.js' %}"></script>
<script src="{% static 'js/spin.min.js' %}"></script>
<script src="{% static 'js/jquery.spin.js' %}"></script>
<script type="text/javascript">
    window.CitizenConnect = window.CitizenConnect || {};
    window.CitizenConnect.providers = {{ organisations|safe }};
    window.CitizenConnect.STATIC_URL = "{{ settings.STATIC_URL }}";
</script>

<script type="text/x-underscore-template" name="hover-bubble">
    <div class="hover-bubble  cf">
        <div class="header">
            <% if (nhsCentre.thumbnail_url) { %>
              <img src="<%= nhsCentre.thumbnail_url %>" alt="Image of <%= nhsCentre.name %>" class="fr" />
            <% } %>
            <h2 class="map-header"><%= nhsCentre.name %></h2>
        </div>

        <strong>Problem reports</strong>:

        <ul>
          <li><%= nhsCentre.all_time_open %> open/in progress, <%= nhsCentre.all_time_closed %> closed.</li>

          <% if (nhsCentre.average_time_to_address) { %>
              <li><%= nhsCentre.average_time_to_address %> average time to close.</li>
          <% } %>
          <% if (nhsCentre.happy_outcome && /\d+/.test(nhsCentre.happy_outcome)) { %>
              <li><%= nhsCentre.happy_outcome %> users satisfied with resolution.</li>
          <% } %>
        </ul>


        <% if (nhsCentre.average_recommendation_rating) { %>

          <strong>Average Rating</strong>:

          <ul>
            <li>
              <span class="rating">
                <span class="<%= starClass(nhsCentre.average_recommendation_rating, 1) %>" aria-hidden="true"></span>
                <span class="<%= starClass(nhsCentre.average_recommendation_rating, 2) %>" aria-hidden="true"></span>
                <span class="<%= starClass(nhsCentre.average_recommendation_rating, 3) %>" aria-hidden="true"></span>
                <span class="<%= starClass(nhsCentre.average_recommendation_rating, 4) %>" aria-hidden="true"></span>
                <span class="<%= starClass(nhsCentre.average_recommendation_rating, 5) %>" aria-hidden="true"></span>
              </span>
            </li>
          </ul>
        <% } %>


        <strong>Reviews</strong>:

        <ul>
          <li>
            <%= nhsCentre.reviews_all_time %> received.
          </li>
        </ul>


        <span class="fr"><a href="<%= nhsCentre.url %>">View all details <span class="icon-chevron-right" aria-hidden="true"></span></a></span>

    </div>
</script>

<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock extra_js %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/select2/select2.css' %}" />
{% endblock extra_css %}
