{% extends 'base.html' %}
{% load url from future %}
{% load organisation_extras %}
{% block title %}{{ organisation.name }} :: Outcomes Summary{% endblock %}

{% block bodyclasses %}organisation-summary{% endblock %}

{% block content %}
<div class="header">
    <h1>{{ organisation.name }} Outcomes</h1>
</div>

{% include "organisations/includes/organisation_tabs.html" with active_tab='summary' %}

<div class="island  island--aquablue">
    <div class="gw">
        {% if organisation.has_time_limits  %}
            <p class="g  one-half  palm-one-whole  feature">
            {% if issues_total.average_time_to_acknowledge != None %}
                <span class="feature__num">{{ issues_total.average_time_to_acknowledge|formatted_time_interval }}</span><span class="feature__text">{% if issues_total.average_time_to_acknowledge|formatted_time_interval == '1' %} day {% else %} days {% endif %} on average to acknowledge problems </span>
            {% else %}
                <span class="feature__text">No data on average time to acknowledge problems</span>
            {% endif %}
            </p>
            <p class="g  one-half  palm-one-whole  feature">
            {% if issues_total.average_time_to_address != None %}
                <span class="feature__num">{{ issues_total.average_time_to_address|formatted_time_interval }}</span><span class="feature__text">{% if issues_total.average_time_to_address|formatted_time_interval == '1' %} day {% else %} days {% endif %} on average to address problems</span>
            {% else %}
                <span class="feature__text">No data on time taken to address problems</span>
            {% endif %}
            </p>
        {% endif %}
        <p class="g  one-half  palm-one-whole  feature  cl">
        {% if issues_total.happy_service != None %}
           <span class="feature__num">{{ issues_total.happy_service|percent }}</span><span class="feature__text"> of users happy with service</span>
        {% else %}
            <span class="feature__text">No data on users happy with service</span>
         {% endif %}
         </p>
        <p class="g  one-half  palm-one-whole  feature">
        {% if issues_total.happy_outcome != None %}
            <span class="feature__num">{{ issues_total.happy_outcome|percent }}</span><span class="feature__text"> of users happy with outcome</span>
        {% else %}
            <span class="feature__text">No data on users happy with outcome</span>
        {% endif %}
        </p>
    </div>
</div>


<form class="filters" action="{{ request.path }}">
    <div class="gw">
        <p class="g  one-fifth">Filter this data</p>

        {% if services %}
            <div class="g  one-fifth">
                <select name="service" class="one-whole">
                <option value="">Department</option>
                {% for service in services %}
                    <option value="{{ service.id }}" {% if selected_service == service.id %}selected{% endif %}>{{ service.name }}</option>
                {% endfor %}
                </select>
            </div>
        {% endif %}
        <div class="g  {% if services %}one-fifth{% else %}two-fifths{% endif %}">
            <select name="problems_category" class="one-whole">
                <option value="">Problem type</option>
                {% for value, display_value in problems_categories %}
                <option value="{{ value }}" {% if problems_category == value %}selected{% endif %}>{{ display_value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="g  two-fifths">
            <input type="submit" class="btn  fr" value="Submit">
        </div>
    </div>
</form>

<div class="header">
    <h2>All statistics</h2>
</div>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th class="table__title">Issue Type</th>
                <th>Last 7 days</th>
                <th>Last 4 weeks</th>
                <th>Last 6 months</th>
                <th class="separator">All time</th>
                {% if organisation.has_time_limits %}
                    <th>Average days to acknowledge</th>
                    <th class="separator">Average days to address</th>
                {% endif %}
                <th>% Happy with service</th>
                <th>% Happy with outcome</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table__heading">Total Problems Reported<br/><em>of which:</em></td>
                <td>{{ problems_total.week }}</td>
                <td>{{ problems_total.four_weeks }}</td>
                <td>{{ problems_total.six_months }}</td>
                <td class="separator">{{ problems_total.all_time }}</td>
                {% if organisation.has_time_limits %}
                    <td>{{ problems_summary_stats.average_time_to_acknowledge|formatted_time_interval }}</td>
                    <td class="separator">{{ problems_summary_stats.average_time_to_address|formatted_time_interval }}</td>
                {% endif %}
                <td>{{ problems_summary_stats.happy_service|percent }}
                </td>
                <td>{{ problems_summary_stats.happy_outcome|percent }}
                </td>
            </tr>
            {% for status in problems_by_status %}
            <tr {% if forloop.last %}class="table__footer"{% endif %}>

                <td class="table__label">{{ status.description }}</td>
                <td>{{ status.week }}</td>
                <td>{{ status.four_weeks }}</td>
                <td>{{ status.six_months }}</td>
                <td class="separator">{{ status.all_time }}</td>
                {% if organisation.has_time_limits %}
                    <td id="status_{{status.status}}_time_to_acknowledge">{% if status.hidden %}—{% else %}{{ status.average_time_to_acknowledge|formatted_time_interval }}{% endif %}</td>
                    <td class="separator" id="status_{{status.status}}_time_to_address">{% if status.hidden %}—{% else %}{{ status.average_time_to_address|formatted_time_interval }}{% endif %}</td>
                {% endif %}
                <td id="status_{{status.status}}_happy_service">{% if status.hidden %}—{% else %}{{ status.happy_service|percent }}{% endif %}</td>
                <td id="status_{{status.status}}_happy_outcome">{% if status.hidden %}—{% else %}{{ status.happy_outcome|percent }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}


