{% extends 'base.html' %}

{% block title %}{{ organisation_name }} :: Outcomes Summary{% endblock %}

{% block bodyclasses %}organisation-summary{% endblock %}

{% block content %}
<div class="header">
    <h1>{{ organisation_name }} Outcomes</h1>
</div>
<div class="hero">
    <div class="feature">
        <p>96% of message responded to in time</p>
    </div>
    <div class="feature">
        <p>82% of users happy with service</p>
    </div>
</div>
<div class="outcomes-options">
    <form class="" action="{{ request.path }}">
        <div class="feature">
            <select name="department">
                <option>Department</option>
            </select>
        </div>
        <div class="feature">
            <select name="problem-type">
                <option>Problem type</option>
            </select>
        </div>
        <div class="feature">
            <select name="department">
                <option>Question type</option>
            </select>
        </div>
    </form>
</div>
<div class="outcomes-table">
    <div class="feature">
        <table>
            <thead>
                <tr>
                    <th class="heading separator">Message Type</th>
                    <th>Last 7 days</th>
                    <th>Last 4 weeks</th>
                    <th class="separator">Last 6 months</th>
                    <th>% Acknowledged in time</th>
                    <th class="separator">% Addressed in time</th>
                    <th>% Happy with service</th>
                    <th>% Happy with outcome</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="heading separator">Total Problems Reported<br/><em>of which:</em></td>
                    <td></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="heading separator">Received but not Acknowledged</td>
                    <td></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="heading separator">Acknowledged by not Addressed</td>
                    <td></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="heading separator">Addressed - Problem Solved</td>
                    <td></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="heading separator">Addressed - Unable to Solve</td>
                    <td></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="separator">
                    <td class="heading separator">Total Questions Sent<br/><em>of which:</em></td>
                    <td></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="heading separator">Received but not Acknowledged</td>
                    <td></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="heading separator">Acknowledged but not Answered</td>
                    <td></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="heading separator">Question Answered</td>
                    <td></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td class="separator"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="header">
    <h2>Problem reports</h2>
</div>
<div class="problem-list">
    <div class="feature">
         <table>
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Received</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Department</th>
                    <th>User satisfied?</th>
                    <th>Text snippet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5344</td>
                    <td>Jan 21 2013</td>
                    <td>Acknowledged</td>
                    <td>Cleanliness</td>
                    <td>Foot Clinic</td>
                    <td>Yes</td>
                    <td><a href="{% url problem-view cobrand=cobrand.name problem_id=1 %}">Some details...</a></td>
                </tr>
                <tr>
                    <td>5344</td>
                    <td>Jan 21 2013</td>
                    <td>Acknowledged</td>
                    <td>Cleanliness</td>
                    <td>Foot Clinic</td>
                    <td>Yes</td>
                    <td><a href="{% url problem-view cobrand=cobrand.name problem_id=1 %}">Some details...</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="header">
    <h2>Questions</h2>
</div>
<div class="question-list">
    <div class="feature">
         <table>
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Received</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Department</th>
                    <th>User satisfied?</th>
                    <th>Text snippet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5344</td>
                    <td>Jan 21 2013</td>
                    <td>Acknowledged</td>
                    <td>Appointments</td>
                    <td></td>
                    <td>Yes</td>
                    <td><a href="{% url question-view cobrand=cobrand.name question_id=1 %}">How do I...</a></td>
                </tr>
                <tr>
                    <td>5344</td>
                    <td>Jan 21 2013</td>
                    <td>Acknowledged</td>
                    <td>Appointments</td>
                    <td></td>
                    <td>Yes</td>
                    <td><a href="{% url question-view cobrand=cobrand.name question_id=1 %}">How do I...</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
