{% extends "citizenconnect/base.html" %}
{% load url from future %}
{% load compressed %}

{% block title %}{{ organisation.name }} :: Friends and Family Test{% endblock %}

{% block bodyclasses %}organisation-surveys{% endblock %}

{% block content %}

{% include "organisations/includes/provider_summary_link.html" %}

{% include "organisations/includes/page_header.html" with title="Friends and Family Test" %}

{% include "organisations/includes/organisation_tabs.html" with active_tab='surveys' %}

<h2>How likely are people to recommend {{ organisation.name }}?</h2>

<p>The Friends and Family Test (FFT) is a measure of patient experience and is used to highlight areas where action may be needed to be taken to improve quality of care.</p>
<p>The FFT is calculated using a simple question asked of patients based on their own experience: &#8220;How likely are you to recommend our ward/A&amp;E department to friends and family if they needed similar care or treatment?&#8221;. Patients can then select from six responses ranging from &#8216;extremely likely&#8217; through to &#8216;extremely unlikely&#8217;.</p>
<p>The results for this NHS provider are displayed in the charts below.</p>

<form id="location-form" method="GET" action="{{ request.path }}" class="gw  survey-filters">
    <div class="filters__dropdown-wrap g  one-third portable-one-half  palm-one-whole">
        <label for="id_location">{{ form.location.label }}</label>
        <div class="filters__dropdown filters__dropdown--default">{{ form.location }}</div>
    </div>
    <div class="submit  g  one-eighth  portable-one-whole">
        <input type="submit" value="Select" class="btn  palm-one-whole">
    </div>
</form>

{% if survey %}
    <div class="survey">
        <h2 class="survey__title">{{ location }}</h2>
        {% include 'organisations/includes/survey.html' with latest_survey=survey previous_surveys=previous_surveys %}
    </div>
{% else %}
<p>There are no surveys for {{ location }} at {{ organisation.name }} at this time.</p>
{% endif %}

<p><a href="http://www.england.nhs.uk/statistics/statistical-work-areas/friends-and-family-test/">See more information on these surveys</a></p>

{% endblock content %}

{% block extra_js %}
    {% compressed_js 'survey_page' %}
    <!--[if lte IE 8]>
        {% compressed_js 'excanvas' %}
    <![endif]-->
{% endblock extra_js %}
