{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% block title %}Outcomes Summary{% endblock %}

{% block bodyclasses %}summary{% endblock %}

{% block content %}

  <a href="{% url 'org-map' cobrand=cobrand.name %}" class="back-btn  fr  mt--b"><span class="icon-chevron-left" aria-hidden="true"></span> View Map</a>

  <h1>National Summary</h1>

  {% include 'organisations/includes/filters.html' %}

{% render_table table 'organisations/includes/table.html' %}

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/filters.js' %}"></script>
{% endblock extra_js %}


