{% extends "citizenconnect/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load compressed %}
{% block title %}Overview of Participating Providers{% endblock %}

{% block bodyclasses %}summary{% endblock %}

{% block content %}

  <a href="{% url 'org-map' cobrand=cobrand.name %}" class="btn  fr  mt--b">Go to Map</a>


  <h1>Overview of Participating Providers</h1>

  {% include 'organisations/includes/filters.html' %}

    <div class="search-controls mb">
        <input type="text" id="search-org-name" data-search-url="{% url 'org-search' cobrand=cobrand.name %}" data-org-summary-url="{% url 'org-all-summary' cobrand=cobrand.name %}" />
    </div>

  {% render_table table 'organisations/includes/tables/national_table.html' %}

{% endblock %}

{% block extra_js %}
{% compressed_js 'summary_table' %}
{% endblock extra_js %}
