/**
 * Colours
 */

// Primary Colours
$c-nhs_blue: rgb(0,114,198);
$c-black: #222222;
$c-white: #ffffff;
 
// Secondary Colours
$c-nhs_darkgreen: rgb(0,107,84);
$c-nhs_green: rgb(0,158,73);
$c-nhs_lightgreen: rgb(91,191,33);
$c-nhs_aquagreen: rgb(0,170,158);

$c-nhs_aquablue: rgb(0,173,198);
$c-nhs_lightblue: rgb(0,145,201);
$c-nhs_darkblue: rgb(0,56,147);

$c-nhs_purple: rgb(86,0,140);
$c-nhs_darkpink: rgb(160,0,84);
$c-nhs_darkred: rgb(147,22,56);

$c-nhs_red: rgb(216,30,5);
$c-nhs_orange: rgb(226,140,5);
$c-nhs_yellow: rgb(247,226,20);

// Tints should be in 10% steps
// eg:
//      lighten($c-nhs_red, 10%);
//      lighten($c-nhs_red, 20%);