/**
 * From: http://jakearchibald.github.com/sass-ie/
 * Mixins to help responsive design in browsers that don't do media queries
 * and produce versions specific to ie browser version
 */

// Media query replacement mixin
$fix-mqs: false !default;

@mixin respond-min($width) {
    // If we're outputting for a fixed media query set...
    @if $fix-mqs {
        // ...and if we should apply these rules...
        @if $fix-mqs >= $width {
            // ...output the content the user gave us.
            @content;
        }
    }
    @else {
        // Otherwise, output it using a regular media query
        @media screen and (min-width: $width) {
            @content;
        }
    }
}

// IE8 mixin
$ie-8: false !default;

@mixin ie-8 {
    // Only use this content if we're dealing with IE8
    @if $ie-8 {
        @content;
    }
}

// IE7 mixin
$ie-7: false !default;

@mixin ie-7 {
    // Only use this content if we're dealing with IE7
    @if $ie-7 {
        @content;
    }
}