@import 'theme-config/default/default';

@import 'helpers/helpers';
@import 'base/base';
@import 'layout/layout';
@import 'modules/modules';
@import 'print/print';


.header {
  border-bottom: $c-grey solid ($grid-gutter / 5) + em;
  margin-bottom: $grid-gutter + em;
  h1, h2 { margin-bottom: 0.25em; }
}


.filters {
  border-top: $c-grey solid ($grid-gutter / 5) + em;
  border-bottom: $c-grey solid ($grid-gutter / 5) + em;
  padding: ($grid-gutter / 2) + em 0;
  margin: ($grid-gutter * 2) + em 0;
  p { margin: 0; }
}


// for horizontal scrolling tables on mobile
.table-wrapper { overflow: auto; }


.outcomes-table {
  width: 100%;
  margin-bottom: ($grid-gutter * 2) + em;
  // force table to be 960px wide on mobile, as inside the table-wrapper
  @include media-query(palm){ width: $page-width-max + em; }
  tr {
    &.outcomes-table__heading { font-weight: bold; }
    &.outcomes-table__footer td { border-bottom: $c-grey solid 2px; }
  }
  td {
    text-align: center;
    border-bottom: $c-grey solid 1px;
    padding: 10px 0;
    &.outcomes-table__label { text-align: left; }
  }
  th {
    font-weight: normal;
    padding: 20px 0;
    border-bottom: $c-grey solid 2px;
    &.outcomes-table__title {
      font-weight: bold;
      text-align: left;
      font-size: $font-size-base * 1.3125; // 21px
    }
  }
}


.results-list {
  list-style:none;
  padding: 0;
  margin-bottom: ($grid-gutter * 2) + em;
  border-bottom: $c-grey solid ($grid-gutter / 5) + em;
  li {
    border-bottom: $c-grey solid 1px;
    padding: ($grid-gutter / 2) + em 0;
    overflow: hidden;
    &:last-child { border-bottom: none; }
    .results-list__title {
      width: 60%;
      float: left;
      h2 {
        margin: 0;
        font-weight: normal;
        font-size: 1.125em; //18px
        a {
          text-decoration: none;
          color: $c-aquablue;
        }
      }
      p {
        margin: 0;
        font-size: 0.875em; //14px
        color: $c-darkgrey;
      }
    }
    address {
      font-size: 0.75em; //12px
      width: 30%;
      float: left;
      margin-top: 10px;
      color: $c-darkgrey;
    }
    .results-list__more-link {
      font-size: 2.75em; //44px
      width: 10%;
      float: right;
      text-align: right;
      text-decoration: none;
      color: $c-grey;
      &:hover {
        color: $c-darkgrey;
      }
    }
  }
}