@import 'theme-config/default/default';

@import 'helpers/helpers';
@import 'base/base';
@import 'layout/layout';
@import 'modules/modules';
@import 'print/print';


.header {
  border-bottom: $c-grey solid ($grid-gutter / 5) + em;
  margin-bottom: $grid-gutter + em;
  h1, h2 { margin-bottom: 0.25em; }
}


.filters {
  border-top: $c-grey solid ($grid-gutter / 5) + em;
  border-bottom: $c-grey solid ($grid-gutter / 5) + em;
  padding: ($grid-gutter / 2) + em 0;
  margin: ($grid-gutter * 2) + em 0;
  p { margin: 0; }
}


// for horizontal scrolling tables on mobile
.table-wrapper { overflow: auto; }


.outcomes-table {
  width: 100%;
  margin-bottom: ($grid-gutter * 2) + em;
  // force table to be 960px wide on mobile, as inside the table-wrapper
  @include media-query(palm){ width: $page-width-max + em; }
  tr {
    &.outcomes-table__heading { font-weight: bold; }
    &.outcomes-table__footer td { border-bottom: $c-grey solid 2px; }
  }
  td {
    text-align: center;
    border-bottom: $c-grey solid 1px;
    padding: 10px 0;
    &.outcomes-table__label { text-align: left; }
  }
  th {
    font-weight: normal;
    padding: 20px 0;
    border-bottom: $c-grey solid 2px;
    &.outcomes-table__title {
      font-weight: bold;
      text-align: left;
      font-size: $font-size-base * 1.3125; // 21px
    }
  }
}