/**
 * This is the main stylesheet, it's included in base.html as style.css
 * or style-old-ie.css for IE <= 8.
 */

// Partials
@import 'normalize';
@import 'vars';
@import 'boilerplate';
@import 'utils';
@import 'layout';

// Our styles
body {
    text-align: center;
}

// Wrapper is the base container of our grid
#wrapper {
    @extend .grid;
}

// Homepage hero area, a row in the grid
.hero {
    @extend .row;
    // Features in the hero are two column
    .feature {
        @extend .column-1-2;
        height: 6em;
        p {
            font-size: $font-size * 1.5;
        }
    }
}

// Homepage questions areas, more rows
.questions, .questions-more {
    @extend .row;
    // Features are also two column
    .feature {
        @extend .column-1-2;
    }
}

// Specific questions styling
.questions {
    .feature {
        p {
            font-size: $font-size * 1.5;
        }
    }
}
.questions-more {
    .feature {
        background: complement($highlight-background-color);
    }
}

// Homepage problems area
.problems {
    @extend .row;
    // Feature is a full width column
    .feature {
        @extend .column-full;
        background: complement($highlight-background-color);
        p {
            font-size: $font-size * 1.25;
        }
    }
}

// Generic feature blocks
.feature {
    background: $highlight-background-color;
}

// Emergency text
.emergency {
    color:red;
}