/**
 * This is the main stylesheet, it's included in base.html as style.css
 * or style-old-ie.css for IE <= 8.
 */

// Partials
@import 'normalize';
@import 'vars';
@import 'boilerplate';
@import 'utils';

// Our styles
body {
    width: 100%;
    text-align: center;

    #wrapper {
        margin: 0 auto;

        .feature, .problems {
            margin: $line-height * 1.5;
            border: 1px solid lighten($font-color, 20%);
            background: $highlight-background-color;
        }

        .problems {
            font-size: $font-size * 1.25;
            background: complement($highlight-background-color);
        }

        .hero {
            .feature {
                font-size: $font-size * 1.5;
            }
        }

        .emergency {
            color:red;
        }
    }
}