/**
 * This is the main stylesheet, it's included in base.html as style.css
 * or style-old-ie.css for IE <= 8.
 */

// Partials
@import 'normalize';
@import 'vars';
@import 'boilerplate';
@import 'utils';
@import 'layout';

// Our styles

/**
 * Basic and reused stuff
 */
body {
    text-align: center;
}

// Wrapper is the base container of our grid
#container {
    @include grid();
}

// Hero area
.hero {
    @include row();
    margin-bottom: 1em;
    p {
        font-size: $font-size * 1.5;
        line-height: $font-size * 1.25;
    }
}

// Generic feature blocks
.feature {
    p {
        background: $highlight-background-color;
        padding: 1em;
    }
}

// Emergency text
.emergency {
    color:red;
}

// Forms
textarea, input[type=text], select {
    display:inline-block;
    width:100%;
    padding:4px 6px;
    border-radius:4px;
    border:1px solid #ccc;
    margin:10px;
    vertical-align: middle;
    text-align: left;
}

textarea {
    height:200px;
}

input[type=text] {
    height:40px;
    line-height: 20px;
}

input[type=radio] {
    margin:0 10px;
    vertical-align: middle;
}

label {
    display: block;
    margin: 10px;
}

button, input[type=submit] {
    margin: 10px;
}

/**
 * Page specific stuff
 */

// Homepage styles
.homepage {
    .hero {
        .feature {
            @include column-full();
            @include respond-min($tablet-width) {
                @include column-half();
            }

            p {
                // Match the paragraph heights when things are floated, bit annoying
                // as it depends on line length
                @include respond-min($tablet-width) {
                    min-height: 5.75em;
                }
                @include respond-min($desktop-width) {
                    min-height: 4.5em;
                }
            }
        }
    }
    .questions, .questions-more {
        @include row();
        margin-bottom: 1em;

        .feature {
            @include column-half();
        }
    }

    // Specific questions styling
    .questions {
        .feature {
            p {
                font-size: $font-size * 1.5;
                min-height: 3.75em;
                @include respond-min($tablet-width) {
                    min-height: 0;
                }
            }
        }
    }
    .questions-more {
        .feature {
            p {
                background: complement($highlight-background-color);
            }
        }
    }

    // Homepage problems area
    .problems {
        @include row();
        margin-bottom: 1em;
        // Feature is a full width column
        .feature {
            @include column-full();
            p {
                background: complement($highlight-background-color);
                font-size: $font-size * 1.25;
            }
        }
    }
}

// Ask question page styles
.ask-question {
    .hero {
        // Feature block is full width
        .feature {
            @include column-full();
        }
    }

    // Blocks of frequently asked questions
    .frequently-asked-questions {
        @include row();
        .feature {
            @include column-half();
            @include respond-min($tablet-width) {
                @include column-third();
            }
            @include respond-min($desktop-width) {
                @include column-quarter();
            }

            p {
                background: complement($highlight-background-color);
                min-height: 6.25em;
            }
        }
    }
}

// Provider page styles
.provider-results {
    .feature {
        background: none;
    }
    .hero {
        .feature {
            @include column-full();
        }
    }
    .results-list {
        @include row();
        .feature {
            @include column-full();
            text-align: left;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    font-size: $font-size * 1.25;
                    padding: 0.5em;
                }
                // Stripy results
                li:nth-child(odd){
                    background: $highlight-background-color;
                }
            }
        }
    }
}

// Outcomes map page
.outcomes-map {
    .hero {
        .feature {
            @include column-half();
            p {
                // Match the paragraph heights when things are floated, bit annoying
                // as it depends on line length
                min-height: 8.25em;
                @include respond-min($tablet-width) {
                    min-height: 4.5em;
                }
                @include respond-min($desktop-width) {
                    min-height: 4.5em;
                }
            }
        }
    }

    .map-options {
        @include row();
        .feature {
            @include column-half();
        }
    }

    .map-container {
        @include row();
        @include column-full();
        #public-map {
            height: 400px;
        }
    }



    .map-instructions {
        @include row();
        .feature {
            @include column-full();
        }
    }
}

// Organisation summary page
.organisation-summary {

    .hero {
        .feature {
            @include column-half();
            p {
                // Match the paragraph heights when things are floated, bit annoying
                // as it depends on line length
                min-height: 7em;
                @include respond-min($tablet-width) {
                    min-height: 4.5em;
                }
                @include respond-min($desktop-width) {
                    min-height: 3.5em;
                }
            }
        }
    }
    .outcomes-options {
        @include row();
        .feature {
            @include column-full();
            @include respond-min($tablet-width) {
                @include column-quarter();
                input[type=submit] {
                    float: left;
                }
            }
        }
    }
    .outcomes-table, .problem-list, .question-list {
        @include row();
        .feature {
            @include column-full()
        }
        table {
            width: 100%;
            border: 2px solid $font-color;
            th {
                font-size: $font-size * 0.85;
                border-bottom: 2px solid $font-color;
                &.heading {
                    font-size: $font-size * 1.25;
                }
                &.separator {
                    border-right: 2px solid $font-color;
                }
            }
            tr {
                border: 1px solid lighten($font-color, 75%);
                &.separator {
                    border-top: 2px solid $font-color;
                }
            }
            td {
                font-size: $font-size * 0.85;
                border: 1px solid lighten($font-color, 75%);
                text-align: center;
                &.heading {
                    width:25%;
                }
                &.separator {
                    border-right: 2px solid $font-color;
                }
            }
        }

    }
    .problem-list {
        margin-top: 1em;
    }

}


// Problem public page
.problem-public {
    .meta-data, .status,  {
        @include row();
          .feature {
              @include column-full();
              p {
                  height: 8em;
              }
         }
    }
}

// Question public page
.question-public {
 .meta-data, .status,  {
     @include row();
     .feature {
         @include column-half();
         p {
             background: complement($highlight-background-color);
         }
     }
 }

.provider{
    @include row();
    .feature {
        @include column-full();
        p {
            background: complement($highlight-background-color);
        }
    }
}

.details, .response {
    @include row();
      .feature {
          @include column-full();
          p {
              height: 8em;
          }
     }
}
}

// Response form
.response-form {
    .hero {
        .feature {
            @include column-half();
            p {
                background: complement($highlight-background-color);
            }
        }
    }

    .provider, .service {
        @include row();
        .feature {
            @include column-full();
        }
    }

    .details, .response {
    @include row();
    .feature {
        @include column-full();
        p {
            height: 8em;
        }
    }

    }
}
