{% load url from future %}
<ul class="tab-nav">
    <li><a {% if active_tab == 'dashboard' %}class="active"{% endif %} href="{% url 'escalation-dashboard' %}">Inbox</a></li>
    <li><a {% if active_tab == 'breaches' %}class="active"{% endif %} href="{% url 'escalation-breaches' %}">Breaches</a></li>
    <li><a {% if active_tab == 'summary' %}class="active"{% endif %} href="{% url 'private-national-summary' %}">Summary</a></li>
    <li><a {% if active_tab == 'lookup' %}class="active"{% endif %} href="{% url 'response-lookup' %}">Problem Lookup</a></li>
</ul>
