{% load django_tables2 %}
{% load organisation_extras %}
<div class="filters">
    <form class="gw" action="{{ request.path }}">

        {% for field in form.visible_fields %}
            <div class="g  {% if field.name == "ccg" %}one-twelfth{% else %}two-twelfths{% endif %}  palm-one-half">
                {{ field }}
            </div>
        {% endfor %}

        <div class="g  one-twelfth  palm-one-whole">
            <input type="submit" value="Filter" class="btn  fr  palm-one-whole">
        </div>
    </form>
    {% if selected_filters %}
    <div class="current-filters gw">
         <div class="g  one-sixth  palm-one-whole">
             Current filters:
        </div>
        <div class="g  five-sixths  palm-one-whole">

            {% for field in form.visible_fields %}
                {% if field.value %}
                    <div class="current-filter">
                        {{ field|display_value }} <a href="{% querystring field.name='' %}">×</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

