{% load staticfiles %}
{% load django_tables2 %}
{% load organisation_extras %}

{% block table %}
<div class="table-wrapper">
    <table class="summary-table">
        <thead>
            <tr>
                {% for column in table.columns %}
                    {# This is a bit hacky, but we steal the sort link and attributes from the currently selected column for each set of intervals, hiding the others #}
                    {% if column.accessor == 'all_time' %}
                        <th {{ problems_sort_column.attrs.th.as_html }} colspan="4" id="problems-intervals-header"><a href="{% querystring table.prefixed_order_by_field=problems_sort_column.order_by_alias.opposite %}">Problems received:</a></th>
                    {% elif column.accessor == 'reviews_all_time' %}
                        <th {{ reviews_sort_column.attrs.th.as_html }} colspan="4" id="reviews-intervals-header"><a href="{% querystring table.prefixed_order_by_field=reviews_sort_column.order_by_alias.opposite %}">Reviews received:</a></th>
                    {% elif column.accessor == 'six_months' or column.accessor == 'four_weeks' or column.accessor == 'week' or column.accessor == 'reviews_six_months' or column.accessor == 'reviews_four_weeks' or column.accessor == 'reviews_week' %}
                        {# The all_time or reviews_all_time columns cover these for headings #}
                    {% elif column.accessor == "average_time_to_acknowledge" %}
                        {# We don't need to mess about with the sort links for these headers, because the sub headings show the proper column headings, so people can use those links #}
                        <th class="two-twelfths" colspan="2">Average time to:</th>
                    {% elif column.accessor == 'average_time_to_address' %}
                        {# average_time_to_acknowledge covers this heading #}
                    {% elif column.accessor == "happy_service" %}
                        <th class="two-twelfths" colspan="2">Satisfaction with:</th>
                    {% elif column.accessor == 'happy_outcome' %}
                        {# happy_service covers this heading #}
                    {% else %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.opposite %}">{{ column.header }}</a></th>
                    {% endif %}
                {% endfor %}

            </tr>

            <tr class="summary-table__subhead">
                {% for column in table.columns %}

                    {% if column.accessor == 'all_time' or column.accessor == 'reviews_all_time' or column.accessor == 'six_months' or column.accessor == 'four_weeks' or column.accessor == 'week' or column.accessor == 'reviews_six_months' or column.accessor == 'reviews_four_weeks' or column.accessor == 'reviews_week' %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.opposite %}">{{ column.header }}</a></th>
                    {% elif column.accessor == "average_time_to_acknowledge" or column.accessor == 'average_time_to_address' %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.opposite %}">{{ column.header }}</a></th>
                    {% elif column.accessor == 'happy_outcome' or column.accessor == 'happy_service' %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.opposite %}">{{ column.header }}</a></th>
                    {% elif column.accessor == 'average_recommendation_rating' %}
                        <th class="average_recommendation_rating">Rating</th>
                    {% else %}
                        <th></th>
                    {% endif %}

                {% endfor %}
            </tr>

        </thead>
        {% block table.tbody %}
        <tbody>
            {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
            {% block table.tbody.row %}
            <tr class="{{ table|row_classes:row.record }}">
                {% for column, cell in row.items %}
                    <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endblock table.tbody.row %}
            {% empty %}
            {% if table.empty_text %}
            {% block table.tbody.empty_text %}
            <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
            {% endblock table.tbody.empty_text %}
            {% endif %}
            {% endfor %}

        </tbody>
        {% endblock table.tbody %}

    </table>
</div>
{% table_paginator %}


{% endblock table %}

{% block extra_js %}
    <script src="{% static 'js/underscore.min.js' %}"></script>
    <script type="text/x-underscore-template" name="problems-filters">
        <div class="filters__dropdown  filters__dropdown--last">
            <select id="problems-interval-filters">
                <option value='week' <% if (selectedColumn === "week") { %>selected<%}%>>In the last week</option>
                <option value='four_weeks' <% if (selectedColumn === "four_weeks") { %>selected<%}%>>In the last 30 days</option>
                <option value='six_months' <% if (selectedColumn === "six_months") { %>selected<%}%>>In the last 6 months</option>
                <option value='all_time' <% if (selectedColumn === "all_time") { %>selected<%}%>>All time</option>
            </select>
        </div>
    </script>
    <script type="text/x-underscore-template" name="reviews-filters">
        <div class="filters__dropdown  filters__dropdown--last">
            <select id="reviews-interval-filters">
                <option value='reviews_week' <% if (selectedColumn === "reviews_week") { %>selected<%}%>>In the last week</option>
                <option value='reviews_four_weeks' <% if (selectedColumn === "reviews_four_weeks") { %>selected<%}%>>In the last 30 days</option>
                <option value='reviews_six_months' <% if (selectedColumn === "reviews_six_months") { %>selected<%}%>>In the last 6 months</option>
                <option value='reviews_all_time' <% if (selectedColumn === "reviews_all_time") { %>selected<%}%>>All time</option>
            </select>
        </div>
    </script>
{% endblock extra_js %}
