{% load url from future %}
<ul class="tab-nav">
    {% if private %}
        {# NB: If we're viewing this in private mode, the user has access to the provider and their dashboard #}
        <li><a {% if active_tab == 'dashboard' %}class="active"{% endif %} href="{% url 'org-dashboard' ods_code=organisation.ods_code %}">Inbox</a></li>
        <li><a {% if active_tab == 'breaches' %}class="active"{% endif %} href="{% url 'org-breaches' ods_code=organisation.ods_code %}">Breaches</a></li>
    {% endif %}

    {% if not private %}
    <li><a {% if active_tab == 'summary' %}class="active"{% endif %} href="{% url 'public-org-summary' ods_code=organisation.ods_code cobrand=cobrand.name %}">Summary</a></li>
    {% endif %}

    <li><a {% if active_tab == 'problems' %}class="active"{% endif %} href="{% if private %}
        {% url 'private-org-problems' ods_code=organisation.ods_code %}
    {% else %}
        {% url 'public-org-problems' ods_code=organisation.ods_code cobrand=cobrand.name %}
    {% endif %}">Problems</a></li>

    <li><a {% if active_tab == 'reviews' %}class="active"{% endif %} href="{% if private %}
        {% url 'private-org-reviews' ods_code=organisation.ods_code %}
    {% else %}
        {% url 'review-organisation-list' ods_code=organisation.ods_code cobrand=cobrand.name %}
    {% endif %}">Reviews</a></li>

    {% if private %}
    <li><a {% if active_tab == 'summary' %}class="active"{% endif %} href="{% url 'private-org-summary' ods_code=organisation.ods_code %}">Summary</a></li>
    {% endif %}

 </ul>
