{% load url from future %}
<ul class="tab-nav">

    <li><a {% if active_tab == 'summary' %}class="active"{% endif %} href="{% url 'public-org-summary' ods_code=organisation.ods_code cobrand=cobrand.name %}">Summary</a></li>

    <li><a {% if active_tab == 'problems' %}class="active"{% endif %} href="{% url 'public-org-problems' ods_code=organisation.ods_code cobrand=cobrand.name %}">Problems</a></li>

    <li><a {% if active_tab == 'reviews' %}class="active"{% endif %} href="{% url 'public-org-reviews' ods_code=organisation.ods_code cobrand=cobrand.name %}">Reviews</a></li>

    <li><a {% if active_tab == 'surveys' %}class="active"{% endif %} href="{% url 'public-org-surveys' ods_code=organisation.ods_code cobrand=cobrand.name %}">Friends and Family Test</a></li>

 </ul>
