{% load organisation_extras %}

{% if value != None %}
<div class="rating">
    <span class="{{ value|star_class:1 }}" aria-hidden="true"></span>
    <span class="{{ value|star_class:2 }}" aria-hidden="true"></span>
    <span class="{{ value|star_class:3 }}" aria-hidden="true"></span>
    <span class="{{ value|star_class:4 }}" aria-hidden="true"></span>
    <span class="{{ value|star_class:5 }}" aria-hidden="true"></span>
</div>
{% else %}
<div class="rating--grey">
    <span class="icon-circle" aria-hidden="true"></span>
    <span class="hide-text">—</span>
</div>
{% endif %}
