{% load url from future %}
<ul class="tab-nav">
      <li><a {% if active_tab == 'summary' %}class="active"{% endif %} href="{% if private %}
          {% url 'private-org-summary' ods_code=organisation.ods_code %}
      {% else %}
          {% url 'public-org-summary' ods_code=organisation.ods_code cobrand=cobrand.name %}
      {% endif %}">Summary</a></li>

      <li><a {% if active_tab == 'problems' %}class="active"{% endif %} href="{% if private %}
          {% url 'private-org-problems' ods_code=organisation.ods_code %}
      {% else %}
          {% url 'public-org-problems' ods_code=organisation.ods_code cobrand=cobrand.name %}
      {% endif %}">Problems</a></li>
 </ul>
