<div class="gw">
    <div class="g  one-half  palm-one-whole">
        <div class="survey__summary  mb  gw  gw--no-gutters">
            <div class="survey__overall  g  one-quarter  portable-one-third"><h3 class="hide-text">Overall</h3><span>{{ latest_survey.overall_score }}</span></div>
            <div class="survey__text  g  three-quarters  portable-two-thirds">
                <h3>{{ latest_survey.date|date:'F, Y' }}</h3>
                <p class="survey__explanation">An initial indicator of how likely patients are to recommend this service to friends and family.</p>
            </div>
        </div>
        <p>The Friends and Family Test (FFT) is a measure of patient experience and is used to highlight areas where action may be needed to be taken to improve quality of care.</p>
        <p>The FFT is calculated using a simple question asked of patients based on their own experience: &#8220;How likely are you to recommend our ward/A&amp;E department to friends and family if they needed similar care or treatment?&#8221;. Patients can then select from six responses ranging from &#8216;extremely likely&#8217; through to &#8216;extremely unlikely&#8217;.</p>
    </div>
     <div class="g  one-half  palm-one-whole  survey__responses  mb">
        {% include 'organisations/includes/survey_response.html' with label="Extremely likely" response_percentage=latest_survey.extremely_likely_percentage response_value=latest_survey.extremely_likely %}

        {% include 'organisations/includes/survey_response.html' with label="Likely" response_percentage=latest_survey.likely_percentage response_value=latest_survey.likely %}

        {% include 'organisations/includes/survey_response.html' with label="Neither likely nor unlikely" response_percentage=latest_survey.neither_percentage response_value=latest_survey.neither %}

        {% include 'organisations/includes/survey_response.html' with label="Unlikely" response_percentage=latest_survey.unlikely_percentage response_value=latest_survey.unlikely %}

        {% include 'organisations/includes/survey_response.html' with label="Extremely unlikely" response_percentage=latest_survey.extremely_unlikely_percentage response_value=latest_survey.extremely_unlikely %}

        {% include 'organisations/includes/survey_response.html' with label="Don't know" response_percentage=latest_survey.dont_know_percentage response_value=latest_survey.dont_know %}
        <h3>Total responses: {{ latest_survey.total_responses }}</h3>
    </div>
    {% if previous_surveys %}
        <div class="recent-surveys  g  one-whole">
            <h3>Previous month's test scores</h3>
            <ol class="survey__previous">
                {% for survey in previous_surveys %}
                    <li class="survey__previous__overall" data-month="{{ survey.date|date:'F' }}" data-value="{{ survey.overall_score }}">{{ survey.date|date:'F, Y' }}: {{ survey.overall_score }}</li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
</div>
