{% load thumbnail %}
{% load url from future %}

<div class="news-article--preview  gw">
    <div class="g  one-fifth">
        {% thumbnail article.image "x111" as im %}
            <img src="{{ im.url }}" style="max-width: 100%;" />
        {% endthumbnail %}
    </div>
    <div class="g  four-fifths">
        <h1 class="news-article__title"><a href="{% url 'article-view' cobrand=cobrand.name pk=article.pk %}">{{ article.title }}</a></h1>
        <h3 class="news-article__author">{{ article.author }}</h3>
        <div class="news-article__content">
            {{ article.description|safe }}
        </div>
    </div>
</div>
